<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="app/common/head" th:remove="tag"></th:block>
<script language="javascript" type="text/javascript">
window.onload = function() {
	//
}

//page
var pageClsUserAuth = new pageCls("dvUserAuthPageList",fnGetList,"totalCnt");

function fnGetList(){
	var params = {};
	if (isEmpty(getEVal("userId"))==false) params["userId"] = getEVal("userId");
	if (isEmpty(getEVal("userGrpCd"))==false) params["userGrpCd"] = getEVal("userGrpCd");
	if (isEmpty(getEVal("useYn"))==false) params["useYn"] = getEVal("useYn");
	//page set
	params = pageClsUserAuth.getPageInfo(params);

	var url = "/app/userAuth/getUserAuthPageList.do";
	//add page
	var rObj = httpSend(url,params);
	var ds = new BDataSet(rObj["payloads"]);
	
	var vArr = ["userId","userGrpCd","useYn"];
	setDrawTbl("tblIdxList","dvTrList",vArr,ds,3);
	pageClsUserAuth.setTotalRowsReload(rObj["totalRows"]);
}

function fnXlsUserAuthDown(){
	var url = "/app/userAuth/getUserAuthExcelDown.do";
	var paramXls = {};
	if (isEmpty(getEVal("userId"))==false) paramXls["userId"] = getEVal("userId");
	if (isEmpty(getEVal("userGrpCd"))==false) paramXls["userGrpCd"] = getEVal("userGrpCd");
	if (isEmpty(getEVal("useYn"))==false) paramXls["useYn"] = getEVal("useYn");

	var params = {"xlsName":"사용자그룹권한"
		,"sheetName":"시트"
		,"columnHeaders":["사용자번호","사용자그룹코드","사용여부"]
		,"columnNames":["userId","userGrpCd","useYn"]
		,"condition": paramXls
	};
	var fData = mapToFormdata({"params":JSON.stringify(params)});

	getDownFile(url,fData);
}

function fnOpenDialog(mode){
	var key = "";
	if (mode == "MODIFY"){
		key = getTrKey("tblIdxList");
		if (isEmpty(key)){
			alert("수정 할 자료가 존재하지 않습니다.");
			return false;
		}
	}
	var params = {};
	if (!isEmpty(key)){
		var arr = key.split(",");
		params["userId"] = arr[0].trim();
		params["userGrpCd"] = arr[1].trim();
	}
	UserAuthPop.fnOpen(mode, params, fnGetList);
}

</script>

<body><div class="wrap">
<th:block th:include="app/common/header" th:remove="tag"></th:block>
<th:block th:include="app/common/gnb" th:remove="tag"></th:block>
<main>
	<div class="sub_wrap">
		<div class="cont">
			<div class="cont-item" id="dvUserAuthSearch">
				<div class="cont-item-row">
					<div class="item">
						<label for="item01">검색1</label>
						<div class="wrap">
							<input type="text" name="search1" id="search1" placeholder="검색1" style="width:80%" title="검색1">
						</div>
					</div>
					<div class="item">
						<label for="item02">검색2</label>
						<div class="wrap">
							<input type="text" name="search2" id="search2" placeholder="검색2" style="width:80%" title="검색2">
						</div>
					</div>
				</div>
				<div class="cont-item-row cont-item-row-btn">
					<button type="button" class="btn primary default" onclick="fnGetList();">검색</button>
					<button type="button" class="btn white default reset" onclick="clearObjects('dvUserAuthSearch');">초기화</button>
				</div>
			</div>
			<div class="cont-item h728">
				<div class="bar-top">
					<div class="bar-left">
						<select class="select" onchange="pageClsUserAuth.setPageRows(getEVal(this));">
							<option value="10" selected>10건</option>
							<option value="20">20건</option>
							<option value="30">30건</option>
							<option value="50">50건</option>
						</select>
						<div class="bar-iblock">
							<span id="totalCnt" name="totalCnt"></span>
						</div>
					</div>

					<div class="bar-right">
						<div class="pagination-next-btns">
			                <button type="button" class="btn white default" onclick="fnOpenDialog('CREATE');">신규</button>
							<button type="button" class="btn primary default" onclick="fnOpenDialog('MODIFY');">수정</button>
						</div>
					</div>
				</div>
				<table id="tblIdxList" class="gridListTable">
					<colgroup>
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
					</colgroup>
					<thead>
						<tr>
							<th scope="col">사용자번호</th>
							<th scope="col">사용자그룹코드</th>
							<th scope="col">사용여부</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
				<div id="dvTrList" style="display:none;">
				<!-- <tr key='{{userId}},{{userGrpCd}}' ondblclick='fnOpenDialog("MODIFY");'>
						<td>{{userId}}</td>
						<td>{{userGrpCd}}</td>
						<td>{{useYn}}</td>
					 </tr> -->
				</div>

				<div id="dvUserAuthPageList" class="pagination"></div>
			</div>
		</div>
	</div>

<th:block th:include="app/userAuth/userAuthPop" th:remove="tag"></th:block>

</main>
<th:block th:include="app/common/footer" th:remove="tag"></th:block>
</div></body>
</html>
