<div id="divMbrLvlPop" class="sub_wrap" style="display:none;width:92%" title="멤버등급 정보">
	<div class="cont">
		<div class="cont-item cont-item01">
			<div class="cont-item-row item-title">
				<h4>멤버등급 등록</h4>
			</div>
			<div class="cont-item-wrap">
				<div class="cont-item-row border-top">
					<div class="item">
						<label for="applYmd_g1">적용년월일</label>
						<div class="wrap">
							<input type="text" id="applYmd_g1" name="applYmd_g1" />
						</div>
					</div>
					<div class="item">
						<label for="mbrId_g1">멤버ID</label>
						<div class="wrap">
							<input type="text" id="mbrId_g1" name="mbrId_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="mbrLvlCd_g1">멤버등급코드</label>
						<div class="wrap">
							<input type="text" id="mbrLvlCd_g1" name="mbrLvlCd_g1" />
						</div>
					</div>
					<div class="item">
						<h5>사용여부</h5>
						<div class="wrap">
							<label class="rb" for="useYn_Y">사용
								<input type="radio" name="useYn_g1" id="useYn_Y" value="Y" checked="checked">
								<span class="checkmark"></span>
							</label>
							<label class="rb" for="useYn_N">미사용
								<input type="radio" name="useYn_g1" id="useYn_N" value="N">
								<span class="checkmark"></span>
							</label>
						</div>
					</div>
				</div>
				<div class="cont-item-row cont-item-row-btn right">
					<button id="saveBtn" name="saveBtn" class="btn default" onclick="MbrLvlPop.fnSave();"><span>저장</span></button>
					<button id="delBtn" name="delBtn" class="btn default" onclick="MbrLvlPop.fnDelete();"><span>삭제</span></button>
					<button class="btn write default" onclick="MbrLvlPop.fnClose();"><span>닫기</span></button>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
var MbrLvlPop = new $W.load("divMbrLvlPop");
MbrLvlPop.ready(function(){
	//
});

MbrLvlPop.fnOpen = function(mode, params, func) {
	clearObjects("divMbrLvlPop");
	MbrLvlPop.mode = mode;
	if (!isEmpty(func)){
		MbrLvlPop.func = func;
	}
	setObjVal({"useYn_g1":"Y"});

	//draw popup
	layerToggle("divMbrLvlPop",{"mode":1,"top":130,"scrollYn":"Y"});

	readOnlyTrue(["applYmd_g1","mbrId_g1"]);
	if(mode == "MODIFY") {
		var url = "/app/mbrLvl/getMbrLvl.do";
		var map = httpSend(url, params);
		if (!isEmpty(map)){
			let chgData = chgMapKey(map,"_g1");
			setObjVal(chgData);
		}else{
			alert("자료가 존재하지 않습니다.");
		}

		displayTrue(["delBtn"]);
		getElement("mbrLvlCd_g1").focus();
	}else{
		readOnlyFalse(["applYmd_g1","mbrId_g1"]);
		displayFalse(["delBtn"]);
	}
};

MbrLvlPop.fnSave = function(){

	var valid = 0 || [
		["applYmd_g1","","자료(적용년월일)를 확인하세요."]
		,["mbrId_g1","","자료(멤버ID)를 확인하세요."]
		,["mbrLvlCd_g1","","자료(멤버등급코드)를 확인하세요."]
		,["useYn_g1","","자료(사용여부)를 확인하세요."]

		];
	if (checkValid( valid )==false) return;

	var ds  = getEleToBDataSet("divMbrLvlPop");
	var url = "/app/mbrLvl/updateMbrLvl.do";
	if (MbrLvlPop.mode=="CREATE"){
		url = "/app/mbrLvl/insertMbrLvl.do";
	}

	//data key change
	var sData = chgBackMapKey(ds.getRow(0),"_g1");
	var map = httpSend(url, sData);
	if (!isEmpty(map) && !isEmpty(map["resultCd"])){
		if (map["resultCd"] != "Y"){
			alert(map["resultMsg"]);
			return false;
		}
		if (!isEmpty(MbrLvlPop.func)){
			MbrLvlPop.func();
			MbrLvlPop.fnClose();
		}
	}else{
		alert("작업중 오류가 발생했습니다.");
	}

};

MbrLvlPop.fnDelete = function(){
	if (MbrLvlPop.mode != "MODIFY"){
		alert("조회후 삭제하세요.");
		return false;
	}
	if ( confirm("자료를 삭제하시겠습니까?")==false ) return;

	var url = "/app/mbrLvl/deleteMbrLvl.do";
	var params = {};
	params["applYmd"] = getElement("applYmd_g1").value;
	params["mbrId"] = getElement("mbrId_g1").value;

	var map = httpSend(url, params);
	if (!isEmpty(map) && !isEmpty(map["resultCd"])){
		if (map["resultCd"] != "Y"){
			alert(map["resultMsg"]);
			return false;
		}
		if (!isEmpty(MbrLvlPop.func)){
			MbrLvlPop.func();
			MbrLvlPop.fnClose();
		}
	}else{
		alert("작업중 오류가 발생했습니다.");
	}
};

MbrLvlPop.fnClose = function(){
	layerToggle("divMbrLvlPop",{"mode":0});
};
</script>
