<div id="divProdContLangPop" class="sub_wrap" style="display:none;width:92%" title="상품내용_언어 정보">
	<div class="cont">
		<div class="cont-item cont-item01">
			<div class="cont-item-row item-title">
				<h4>상품내용_언어 등록</h4>
			</div>
			<div class="cont-item-wrap">
				<div class="cont-item-row border-top">
					<div class="item">
						<label for="prodId_g1">상품ID</label>
						<div class="wrap">
							<input type="text" id="prodId_g1" name="prodId_g1" />
						</div>
					</div>
					<div class="item">
						<label for="prodContId_g1">상품내용ID</label>
						<div class="wrap">
							<input type="text" id="prodContId_g1" name="prodContId_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="langCd_g1">언어코드</label>
						<div class="wrap">
							<input type="text" id="langCd_g1" name="langCd_g1" />
						</div>
					</div>
					<div class="item">
						<label for="prodCont_g1">상품내용</label>
						<div class="wrap">
							<input type="text" id="prodCont_g1" name="prodCont_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="mobiProdCont_g1">모바일상품내용</label>
						<div class="wrap">
							<input type="text" id="mobiProdCont_g1" name="mobiProdCont_g1" />
						</div>
					</div>
					<div class="item">
						<h5>사용여부</h5>
						<div class="wrap">
							<label class="rb" for="useYn_Y">사용
								<input type="radio" name="useYn_g1" id="useYn_Y" value="Y" checked="checked">
								<span class="checkmark"></span>
							</label>
							<label class="rb" for="useYn_N">미사용
								<input type="radio" name="useYn_g1" id="useYn_N" value="N">
								<span class="checkmark"></span>
							</label>
						</div>
					</div>
				</div>
				<div class="cont-item-row cont-item-row-btn right">
					<button id="saveBtn" name="saveBtn" class="btn default" onclick="ProdContLangPop.fnSave();"><span>저장</span></button>
					<button id="delBtn" name="delBtn" class="btn default" onclick="ProdContLangPop.fnDelete();"><span>삭제</span></button>
					<button class="btn write default" onclick="ProdContLangPop.fnClose();"><span>닫기</span></button>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
var ProdContLangPop = new $W.load("divProdContLangPop");
ProdContLangPop.ready(function(){
	//
});

ProdContLangPop.fnOpen = function(mode, params, func) {
	clearObjects("divProdContLangPop");
	ProdContLangPop.mode = mode;
	if (!isEmpty(func)){
		ProdContLangPop.func = func;
	}
	setObjVal({"useYn_g1":"Y"});

	//draw popup
	layerToggle("divProdContLangPop",{"mode":1,"top":130,"scrollYn":"Y"});

	readOnlyTrue(["prodId_g1","prodContId_g1","langCd_g1"]);
	if(mode == "MODIFY") {
		var url = "/app/prodContLang/getProdContLang.do";
		var map = httpSend(url, params);
		if (!isEmpty(map)){
			let chgData = chgMapKey(map,"_g1");
			setObjVal(chgData);
		}else{
			alert("자료가 존재하지 않습니다.");
		}

		displayTrue(["delBtn"]);
		getElement("prodCont_g1").focus();
	}else{
		readOnlyFalse(["prodId_g1","prodContId_g1","langCd_g1"]);
		displayFalse(["delBtn"]);
	}
};

ProdContLangPop.fnSave = function(){

	var valid = 0 || [
		["prodId_g1","","자료(상품ID)를 확인하세요."]
		,["prodContId_g1","","자료(상품내용ID)를 확인하세요."]
		,["langCd_g1","","자료(언어코드)를 확인하세요."]
		,["prodCont_g1","","자료(상품내용)를 확인하세요."]
		,["mobiProdCont_g1","","자료(모바일상품내용)를 확인하세요."]
		,["useYn_g1","","자료(사용여부)를 확인하세요."]

		];
	if (checkValid( valid )==false) return;

	var ds  = getEleToBDataSet("divProdContLangPop");
	var url = "/app/prodContLang/updateProdContLang.do";
	if (ProdContLangPop.mode=="CREATE"){
		url = "/app/prodContLang/insertProdContLang.do";
	}

	//data key change
	var sData = chgBackMapKey(ds.getRow(0),"_g1");
	var map = httpSend(url, sData);
	if (!isEmpty(map) && !isEmpty(map["resultCd"])){
		if (map["resultCd"] != "Y"){
			alert(map["resultMsg"]);
			return false;
		}
		if (!isEmpty(ProdContLangPop.func)){
			ProdContLangPop.func();
			ProdContLangPop.fnClose();
		}
	}else{
		alert("작업중 오류가 발생했습니다.");
	}

};

ProdContLangPop.fnDelete = function(){
	if (ProdContLangPop.mode != "MODIFY"){
		alert("조회후 삭제하세요.");
		return false;
	}
	if ( confirm("자료를 삭제하시겠습니까?")==false ) return;

	var url = "/app/prodContLang/deleteProdContLang.do";
	var params = {};
	params["prodId"] = getElement("prodId_g1").value;
	params["prodContId"] = getElement("prodContId_g1").value;
	params["langCd"] = getElement("langCd_g1").value;

	var map = httpSend(url, params);
	if (!isEmpty(map) && !isEmpty(map["resultCd"])){
		if (map["resultCd"] != "Y"){
			alert(map["resultMsg"]);
			return false;
		}
		if (!isEmpty(ProdContLangPop.func)){
			ProdContLangPop.func();
			ProdContLangPop.fnClose();
		}
	}else{
		alert("작업중 오류가 발생했습니다.");
	}
};

ProdContLangPop.fnClose = function(){
	layerToggle("divProdContLangPop",{"mode":0});
};
</script>
