<meta charset="utf-8" />
	<div class="total-menu">
		<h2>전체 메뉴</h2>
		<div class="wrap">
			<div class="item">
				<h3>메뉴1</h3>
				<ul>
					<li>
						메뉴11
						<button type="button">즐겨찾기</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="search">
		<div class="wrap">
			<fieldset>
				<legend class="blind">검색</legend>
				<div class="input-wrap">
					<input type="search" placeholder="검색어를 입력해주세요." />
					<button type="button" class="search-btn">찾기</button>
				</div>
			</fieldset>
			<div class="recent-keyword">
				<h3>최근 검색어</h3>
				<ul>
					<li><a href="#none">고객</a></li>
					<li><a href="#none">데이터셋</a></li>
					<li><a href="#none">상품코드</a></li>
				</ul>
			</div>
		</div>
	</div>
