<meta charset="utf-8" />
<header style="z-index:20000;">
	<div class="header-wrap">
		<button type="button" class="btn-gnb menu" onclick="let dp = document.querySelector('.total-menu').style.display.trim(); if (dp == 'none' || dp == ''){document.querySelector('.total-menu').style.display='block';}else{document.querySelector('.total-menu').style.display='none';}"></button>
		<h1 class="logo"><a href="/">TEST</a></h1>

		<div class="user-wrap">
			<select id="quick-link" class="quick-link">
				<option value="">Quick Link</option>
			</select>
			<dl>
				<dt th:text="${USERNM}"></dt>
				<dd>
					<img src="/img/assets/user-img-icon.png" alt="홍길동" />
				</dd>
			</dl>
			<button type="button" class="logout" sec:authorize="isAuthenticated()" th:onclick="|location.href='@{/logout.do}'|">로그아웃</button>
		</div>
	</div>
</header>
