<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="app/common/head" th:remove="tag"></th:block>
<script language="javascript" type="text/javascript">
window.onload = function() {
	//
}

//page
var pageClsOrderCnclDeliv = new pageCls("dvOrderCnclDelivPageList",fnGetList,"totalCnt");

function fnGetList(){
	var params = {};
	if (isEmpty(getEVal("ordCnclDelivId"))==false) params["ordCnclDelivId"] = getEVal("ordCnclDelivId");
	if (isEmpty(getEVal("ordId"))==false) params["ordId"] = getEVal("ordId");
	if (isEmpty(getEVal("cnclDelivCompId"))==false) params["cnclDelivCompId"] = getEVal("cnclDelivCompId");
	if (isEmpty(getEVal("cnclDelivFee"))==false) params["cnclDelivFee"] = getEVal("cnclDelivFee");
	if (isEmpty(getEVal("pymtCompId"))==false) params["pymtCompId"] = getEVal("pymtCompId");
	if (isEmpty(getEVal("delivYn"))==false) params["delivYn"] = getEVal("delivYn");
	if (isEmpty(getEVal("delivExpectedYmd"))==false) params["delivExpectedYmd"] = getEVal("delivExpectedYmd");
	if (isEmpty(getEVal("delivYmd"))==false) params["delivYmd"] = getEVal("delivYmd");
	//page set
	params = pageClsOrderCnclDeliv.getPageInfo(params);

	var url = "/app/orderCnclDeliv/getOrderCnclDelivPageList.do";
	//add page
	var rObj = httpSend(url,params);
	var ds = new BDataSet(rObj["payloads"]);
	
	var vArr = ["ordCnclDelivId","ordId","cnclDelivCompId","cnclDelivFee","pymtCompId","delivYn","delivExpectedYmd","delivYmd"];
	setDrawTbl("tblIdxList","dvTrList",vArr,ds,8);
	pageClsOrderCnclDeliv.setTotalRowsReload(rObj["totalRows"]);
}

function fnXlsOrderCnclDelivDown(){
	var url = "/app/orderCnclDeliv/getOrderCnclDelivExcelDown.do";
	var paramXls = {};
	if (isEmpty(getEVal("ordCnclDelivId"))==false) paramXls["ordCnclDelivId"] = getEVal("ordCnclDelivId");
	if (isEmpty(getEVal("ordId"))==false) paramXls["ordId"] = getEVal("ordId");
	if (isEmpty(getEVal("cnclDelivCompId"))==false) paramXls["cnclDelivCompId"] = getEVal("cnclDelivCompId");
	if (isEmpty(getEVal("cnclDelivFee"))==false) paramXls["cnclDelivFee"] = getEVal("cnclDelivFee");
	if (isEmpty(getEVal("pymtCompId"))==false) paramXls["pymtCompId"] = getEVal("pymtCompId");
	if (isEmpty(getEVal("delivYn"))==false) paramXls["delivYn"] = getEVal("delivYn");
	if (isEmpty(getEVal("delivExpectedYmd"))==false) paramXls["delivExpectedYmd"] = getEVal("delivExpectedYmd");
	if (isEmpty(getEVal("delivYmd"))==false) paramXls["delivYmd"] = getEVal("delivYmd");

	var params = {"xlsName":"주문취소배송"
		,"sheetName":"시트"
		,"columnHeaders":["주문취소배송ID","주문ID","취소배송업체ID","취소배송비","지급사ID","배송여부","배송예정일","배송일"]
		,"columnNames":["ordCnclDelivId","ordId","cnclDelivCompId","cnclDelivFee","pymtCompId","delivYn","delivExpectedYmd","delivYmd"]
		,"condition": paramXls
	};
	var fData = mapToFormdata({"params":JSON.stringify(params)});

	getDownFile(url,fData);
}

function fnOpenDialog(mode){
	var key = "";
	if (mode == "MODIFY"){
		key = getTrKey("tblIdxList");
		if (isEmpty(key)){
			alert("수정 할 자료가 존재하지 않습니다.");
			return false;
		}
	}
	var params = {};
	if (!isEmpty(key)){
		var arr = key.split(",");
		params["ordCnclDelivId"] = arr[0].trim();
	}
	OrderCnclDelivPop.fnOpen(mode, params, fnGetList);
}

</script>

<body><div class="wrap">
<th:block th:include="app/common/header" th:remove="tag"></th:block>
<th:block th:include="app/common/gnb" th:remove="tag"></th:block>
<main>
	<div class="sub_wrap">
		<div class="cont">
			<div class="cont-item" id="dvOrderCnclDelivSearch">
				<div class="cont-item-row">
					<div class="item">
						<label for="item01">검색1</label>
						<div class="wrap">
							<input type="text" name="search1" id="search1" placeholder="검색1" style="width:80%" title="검색1">
						</div>
					</div>
					<div class="item">
						<label for="item02">검색2</label>
						<div class="wrap">
							<input type="text" name="search2" id="search2" placeholder="검색2" style="width:80%" title="검색2">
						</div>
					</div>
				</div>
				<div class="cont-item-row cont-item-row-btn">
					<button type="button" class="btn primary default" onclick="fnGetList();">검색</button>
					<button type="button" class="btn white default reset" onclick="clearObjects('dvOrderCnclDelivSearch');">초기화</button>
				</div>
			</div>
			<div class="cont-item h728">
				<div class="bar-top">
					<div class="bar-left">
						<select class="select" onchange="pageClsOrderCnclDeliv.setPageRows(getEVal(this));">
							<option value="10" selected>10건</option>
							<option value="20">20건</option>
							<option value="30">30건</option>
							<option value="50">50건</option>
						</select>
						<div class="bar-iblock">
							<span id="totalCnt" name="totalCnt"></span>
						</div>
					</div>

					<div class="bar-right">
						<div class="pagination-next-btns">
			                <button type="button" class="btn white default" onclick="fnOpenDialog('CREATE');">신규</button>
							<button type="button" class="btn primary default" onclick="fnOpenDialog('MODIFY');">수정</button>
						</div>
					</div>
				</div>
				<table id="tblIdxList" class="gridListTable">
					<colgroup>
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
					</colgroup>
					<thead>
						<tr>
							<th scope="col">주문취소배송ID</th>
							<th scope="col">주문ID</th>
							<th scope="col">취소배송업체ID</th>
							<th scope="col">취소배송비</th>
							<th scope="col">지급사ID</th>
							<th scope="col">배송여부</th>
							<th scope="col">배송예정일</th>
							<th scope="col">배송일</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
				<div id="dvTrList" style="display:none;">
				<!-- <tr key='{{ordCnclDelivId}}' ondblclick='fnOpenDialog("MODIFY");'>
						<td>{{ordCnclDelivId}}</td>
						<td>{{ordId}}</td>
						<td>{{cnclDelivCompId}}</td>
						<td>{{cnclDelivFee}}</td>
						<td>{{pymtCompId}}</td>
						<td>{{delivYn}}</td>
						<td>{{delivExpectedYmd}}</td>
						<td>{{delivYmd}}</td>
					 </tr> -->
				</div>

				<div id="dvOrderCnclDelivPageList" class="pagination"></div>
			</div>
		</div>
	</div>

<th:block th:include="app/orderCnclDeliv/orderCnclDelivPop" th:remove="tag"></th:block>

</main>
<th:block th:include="app/common/footer" th:remove="tag"></th:block>
</div></body>
</html>
