<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="app/common/head" th:remove="tag"></th:block>
<script language="javascript" type="text/javascript">
window.onload = function() {
	//
}

//page
var pageClsProdOpt = new pageCls("dvProdOptPageList",fnGetList,"totalCnt");

function fnGetList(){
	var params = {};
	if (isEmpty(getEVal("optId"))==false) params["optId"] = getEVal("optId");
	if (isEmpty(getEVal("prodId"))==false) params["prodId"] = getEVal("prodId");
	if (isEmpty(getEVal("optNm"))==false) params["optNm"] = getEVal("optNm");
	if (isEmpty(getEVal("optTypCd"))==false) params["optTypCd"] = getEVal("optTypCd");
	if (isEmpty(getEVal("optCont"))==false) params["optCont"] = getEVal("optCont");
	if (isEmpty(getEVal("mobiOptCont"))==false) params["mobiOptCont"] = getEVal("mobiOptCont");
	if (isEmpty(getEVal("fileRefId"))==false) params["fileRefId"] = getEVal("fileRefId");
	if (isEmpty(getEVal("mobiFileRefId"))==false) params["mobiFileRefId"] = getEVal("mobiFileRefId");
	if (isEmpty(getEVal("optAmt"))==false) params["optAmt"] = getEVal("optAmt");
	if (isEmpty(getEVal("optInvQty"))==false) params["optInvQty"] = getEVal("optInvQty");
	if (isEmpty(getEVal("optUseQty"))==false) params["optUseQty"] = getEVal("optUseQty");
	if (isEmpty(getEVal("optInQty"))==false) params["optInQty"] = getEVal("optInQty");
	if (isEmpty(getEVal("prntOptId"))==false) params["prntOptId"] = getEVal("prntOptId");
	if (isEmpty(getEVal("chdOptId"))==false) params["chdOptId"] = getEVal("chdOptId");
	if (isEmpty(getEVal("optLvl"))==false) params["optLvl"] = getEVal("optLvl");
	if (isEmpty(getEVal("chdYn"))==false) params["chdYn"] = getEVal("chdYn");
	if (isEmpty(getEVal("useYn"))==false) params["useYn"] = getEVal("useYn");
	//page set
	params = pageClsProdOpt.getPageInfo(params);

	var url = "/app/prodOpt/getProdOptPageList.do";
	//add page
	var rObj = httpSend(url,params);
	var ds = new BDataSet(rObj["payloads"]);
	
	var vArr = ["optId","prodId","optNm","optTypCd","optCont","mobiOptCont","fileRefId","mobiFileRefId","optAmt","optInvQty","optUseQty","optInQty","prntOptId","chdOptId","optLvl","chdYn","useYn"];
	setDrawTbl("tblIdxList","dvTrList",vArr,ds,17);
	pageClsProdOpt.setTotalRowsReload(rObj["totalRows"]);
}

function fnXlsProdOptDown(){
	var url = "/app/prodOpt/getProdOptExcelDown.do";
	var paramXls = {};
	if (isEmpty(getEVal("optId"))==false) paramXls["optId"] = getEVal("optId");
	if (isEmpty(getEVal("prodId"))==false) paramXls["prodId"] = getEVal("prodId");
	if (isEmpty(getEVal("optNm"))==false) paramXls["optNm"] = getEVal("optNm");
	if (isEmpty(getEVal("optTypCd"))==false) paramXls["optTypCd"] = getEVal("optTypCd");
	if (isEmpty(getEVal("optCont"))==false) paramXls["optCont"] = getEVal("optCont");
	if (isEmpty(getEVal("mobiOptCont"))==false) paramXls["mobiOptCont"] = getEVal("mobiOptCont");
	if (isEmpty(getEVal("fileRefId"))==false) paramXls["fileRefId"] = getEVal("fileRefId");
	if (isEmpty(getEVal("mobiFileRefId"))==false) paramXls["mobiFileRefId"] = getEVal("mobiFileRefId");
	if (isEmpty(getEVal("optAmt"))==false) paramXls["optAmt"] = getEVal("optAmt");
	if (isEmpty(getEVal("optInvQty"))==false) paramXls["optInvQty"] = getEVal("optInvQty");
	if (isEmpty(getEVal("optUseQty"))==false) paramXls["optUseQty"] = getEVal("optUseQty");
	if (isEmpty(getEVal("optInQty"))==false) paramXls["optInQty"] = getEVal("optInQty");
	if (isEmpty(getEVal("prntOptId"))==false) paramXls["prntOptId"] = getEVal("prntOptId");
	if (isEmpty(getEVal("chdOptId"))==false) paramXls["chdOptId"] = getEVal("chdOptId");
	if (isEmpty(getEVal("optLvl"))==false) paramXls["optLvl"] = getEVal("optLvl");
	if (isEmpty(getEVal("chdYn"))==false) paramXls["chdYn"] = getEVal("chdYn");
	if (isEmpty(getEVal("useYn"))==false) paramXls["useYn"] = getEVal("useYn");

	var params = {"xlsName":"상품옵션"
		,"sheetName":"시트"
		,"columnHeaders":["옵션ID","상품ID","옵션명","옵션유형코드[PD03]","옵션내용","모바일옵션내용","파일참조ID","모바일파일참조ID","옵션금액","옵션재고수량","옵션사용수량","옵션입고수량","상위옵션ID","하위옵션ID","옵션레벨","하위여부","사용여부"]
		,"columnNames":["optId","prodId","optNm","optTypCd","optCont","mobiOptCont","fileRefId","mobiFileRefId","optAmt","optInvQty","optUseQty","optInQty","prntOptId","chdOptId","optLvl","chdYn","useYn"]
		,"condition": paramXls
	};
	var fData = mapToFormdata({"params":JSON.stringify(params)});

	getDownFile(url,fData);
}

function fnOpenDialog(mode){
	var key = "";
	if (mode == "MODIFY"){
		key = getTrKey("tblIdxList");
		if (isEmpty(key)){
			alert("수정 할 자료가 존재하지 않습니다.");
			return false;
		}
	}
	var params = {};
	if (!isEmpty(key)){
		var arr = key.split(",");
		params["optId"] = arr[0].trim();
	}
	ProdOptPop.fnOpen(mode, params, fnGetList);
}

</script>

<body><div class="wrap">
<th:block th:include="app/common/header" th:remove="tag"></th:block>
<th:block th:include="app/common/gnb" th:remove="tag"></th:block>
<main>
	<div class="sub_wrap">
		<div class="cont">
			<div class="cont-item" id="dvProdOptSearch">
				<div class="cont-item-row">
					<div class="item">
						<label for="item01">검색1</label>
						<div class="wrap">
							<input type="text" name="search1" id="search1" placeholder="검색1" style="width:80%" title="검색1">
						</div>
					</div>
					<div class="item">
						<label for="item02">검색2</label>
						<div class="wrap">
							<input type="text" name="search2" id="search2" placeholder="검색2" style="width:80%" title="검색2">
						</div>
					</div>
				</div>
				<div class="cont-item-row cont-item-row-btn">
					<button type="button" class="btn primary default" onclick="fnGetList();">검색</button>
					<button type="button" class="btn white default reset" onclick="clearObjects('dvProdOptSearch');">초기화</button>
				</div>
			</div>
			<div class="cont-item h728">
				<div class="bar-top">
					<div class="bar-left">
						<select class="select" onchange="pageClsProdOpt.setPageRows(getEVal(this));">
							<option value="10" selected>10건</option>
							<option value="20">20건</option>
							<option value="30">30건</option>
							<option value="50">50건</option>
						</select>
						<div class="bar-iblock">
							<span id="totalCnt" name="totalCnt"></span>
						</div>
					</div>

					<div class="bar-right">
						<div class="pagination-next-btns">
			                <button type="button" class="btn white default" onclick="fnOpenDialog('CREATE');">신규</button>
							<button type="button" class="btn primary default" onclick="fnOpenDialog('MODIFY');">수정</button>
						</div>
					</div>
				</div>
				<table id="tblIdxList" class="gridListTable">
					<colgroup>
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
					</colgroup>
					<thead>
						<tr>
							<th scope="col">옵션ID</th>
							<th scope="col">상품ID</th>
							<th scope="col">옵션명</th>
							<th scope="col">옵션유형코드[PD03]</th>
							<th scope="col">옵션내용</th>
							<th scope="col">모바일옵션내용</th>
							<th scope="col">파일참조ID</th>
							<th scope="col">모바일파일참조ID</th>
							<th scope="col">옵션금액</th>
							<th scope="col">옵션재고수량</th>
							<th scope="col">옵션사용수량</th>
							<th scope="col">옵션입고수량</th>
							<th scope="col">상위옵션ID</th>
							<th scope="col">하위옵션ID</th>
							<th scope="col">옵션레벨</th>
							<th scope="col">하위여부</th>
							<th scope="col">사용여부</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
				<div id="dvTrList" style="display:none;">
				<!-- <tr key='{{optId}}' ondblclick='fnOpenDialog("MODIFY");'>
						<td>{{optId}}</td>
						<td>{{prodId}}</td>
						<td>{{optNm}}</td>
						<td>{{optTypCd}}</td>
						<td>{{optCont}}</td>
						<td>{{mobiOptCont}}</td>
						<td>{{fileRefId}}</td>
						<td>{{mobiFileRefId}}</td>
						<td>{{optAmt}}</td>
						<td>{{optInvQty}}</td>
						<td>{{optUseQty}}</td>
						<td>{{optInQty}}</td>
						<td>{{prntOptId}}</td>
						<td>{{chdOptId}}</td>
						<td>{{optLvl}}</td>
						<td>{{chdYn}}</td>
						<td>{{useYn}}</td>
					 </tr> -->
				</div>

				<div id="dvProdOptPageList" class="pagination"></div>
			</div>
		</div>
	</div>

<th:block th:include="app/prodOpt/prodOptPop" th:remove="tag"></th:block>

</main>
<th:block th:include="app/common/footer" th:remove="tag"></th:block>
</div></body>
</html>
