<div id="divProdOptPop" class="sub_wrap" style="display:none;width:92%" title="상품옵션 정보">
	<div class="cont">
		<div class="cont-item cont-item01">
			<div class="cont-item-row item-title">
				<h4>상품옵션 등록</h4>
			</div>
			<div class="cont-item-wrap">
				<div class="cont-item-row border-top">
					<div class="item">
						<label for="optId_g1">옵션ID</label>
						<div class="wrap">
							<input type="text" id="optId_g1" name="optId_g1" />
						</div>
					</div>
					<div class="item">
						<label for="prodId_g1">상품ID</label>
						<div class="wrap">
							<input type="text" id="prodId_g1" name="prodId_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="optNm_g1">옵션명</label>
						<div class="wrap">
							<input type="text" id="optNm_g1" name="optNm_g1" />
						</div>
					</div>
					<div class="item">
						<label for="optTypCd_g1">옵션유형코드[PD03]</label>
						<div class="wrap">
							<input type="text" id="optTypCd_g1" name="optTypCd_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="optCont_g1">옵션내용</label>
						<div class="wrap">
							<input type="text" id="optCont_g1" name="optCont_g1" />
						</div>
					</div>
					<div class="item">
						<label for="mobiOptCont_g1">모바일옵션내용</label>
						<div class="wrap">
							<input type="text" id="mobiOptCont_g1" name="mobiOptCont_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="fileRefId_g1">파일참조ID</label>
						<div class="wrap">
							<input type="text" id="fileRefId_g1" name="fileRefId_g1" />
						</div>
					</div>
					<div class="item">
						<label for="mobiFileRefId_g1">모바일파일참조ID</label>
						<div class="wrap">
							<input type="text" id="mobiFileRefId_g1" name="mobiFileRefId_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="optAmt_g1">옵션금액</label>
						<div class="wrap">
							<input type="text" id="optAmt_g1" name="optAmt_g1" />
						</div>
					</div>
					<div class="item">
						<label for="optInvQty_g1">옵션재고수량</label>
						<div class="wrap">
							<input type="text" id="optInvQty_g1" name="optInvQty_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="optUseQty_g1">옵션사용수량</label>
						<div class="wrap">
							<input type="text" id="optUseQty_g1" name="optUseQty_g1" />
						</div>
					</div>
					<div class="item">
						<label for="optInQty_g1">옵션입고수량</label>
						<div class="wrap">
							<input type="text" id="optInQty_g1" name="optInQty_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="prntOptId_g1">상위옵션ID</label>
						<div class="wrap">
							<input type="text" id="prntOptId_g1" name="prntOptId_g1" />
						</div>
					</div>
					<div class="item">
						<label for="chdOptId_g1">하위옵션ID</label>
						<div class="wrap">
							<input type="text" id="chdOptId_g1" name="chdOptId_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="optLvl_g1">옵션레벨</label>
						<div class="wrap">
							<input type="text" id="optLvl_g1" name="optLvl_g1" />
						</div>
					</div>
					<div class="item">
						<label for="chdYn_g1">하위여부</label>
						<div class="wrap">
							<input type="text" id="chdYn_g1" name="chdYn_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<h5>사용여부</h5>
						<div class="wrap">
							<label class="rb" for="useYn_Y">사용
								<input type="radio" name="useYn_g1" id="useYn_Y" value="Y" checked="checked">
								<span class="checkmark"></span>
							</label>
							<label class="rb" for="useYn_N">미사용
								<input type="radio" name="useYn_g1" id="useYn_N" value="N">
								<span class="checkmark"></span>
							</label>
						</div>
					</div>
					<div class="item">
					</div>
				</div>
				<div class="cont-item-row cont-item-row-btn right">
					<button id="saveBtn" name="saveBtn" class="btn default" onclick="ProdOptPop.fnSave();"><span>저장</span></button>
					<button id="delBtn" name="delBtn" class="btn default" onclick="ProdOptPop.fnDelete();"><span>삭제</span></button>
					<button class="btn write default" onclick="ProdOptPop.fnClose();"><span>닫기</span></button>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
var ProdOptPop = new $W.load("divProdOptPop");
ProdOptPop.ready(function(){
	//
});

ProdOptPop.fnOpen = function(mode, params, func) {
	clearObjects("divProdOptPop");
	ProdOptPop.mode = mode;
	if (!isEmpty(func)){
		ProdOptPop.func = func;
	}
	setObjVal({"useYn_g1":"Y"});

	//draw popup
	layerToggle("divProdOptPop",{"mode":1,"top":130,"scrollYn":"Y"});

	readOnlyTrue(["optId_g1"]);
	if(mode == "MODIFY") {
		var url = "/app/prodOpt/getProdOpt.do";
		var map = httpSend(url, params);
		if (!isEmpty(map)){
			let chgData = chgMapKey(map,"_g1");
			setObjVal(chgData);
		}else{
			alert("자료가 존재하지 않습니다.");
		}

		displayTrue(["delBtn"]);
		getElement("prodId_g1").focus();
	}else{
		readOnlyFalse(["optId_g1"]);
		displayFalse(["delBtn"]);
	}
};

ProdOptPop.fnSave = function(){

	var valid = 0 || [
		["optId_g1","","자료(옵션ID)를 확인하세요."]
		,["prodId_g1","","자료(상품ID)를 확인하세요."]
		,["optNm_g1","","자료(옵션명)를 확인하세요."]
		,["optTypCd_g1","","자료(옵션유형코드[PD03])를 확인하세요."]
		,["optCont_g1","","자료(옵션내용)를 확인하세요."]
		,["mobiOptCont_g1","","자료(모바일옵션내용)를 확인하세요."]
		,["fileRefId_g1","","자료(파일참조ID)를 확인하세요."]
		,["mobiFileRefId_g1","","자료(모바일파일참조ID)를 확인하세요."]
		,["optAmt_g1","","자료(옵션금액)를 확인하세요."]
		,["optInvQty_g1","","자료(옵션재고수량)를 확인하세요."]
		,["optUseQty_g1","","자료(옵션사용수량)를 확인하세요."]
		,["optInQty_g1","","자료(옵션입고수량)를 확인하세요."]
		,["prntOptId_g1","","자료(상위옵션ID)를 확인하세요."]
		,["chdOptId_g1","","자료(하위옵션ID)를 확인하세요."]
		,["optLvl_g1","","자료(옵션레벨)를 확인하세요."]
		,["chdYn_g1","","자료(하위여부)를 확인하세요."]
		,["useYn_g1","","자료(사용여부)를 확인하세요."]

		];
	if (checkValid( valid )==false) return;

	var ds  = getEleToBDataSet("divProdOptPop");
	var url = "/app/prodOpt/updateProdOpt.do";
	if (ProdOptPop.mode=="CREATE"){
		url = "/app/prodOpt/insertProdOpt.do";
	}

	//data key change
	var sData = chgBackMapKey(ds.getRow(0),"_g1");
	var map = httpSend(url, sData);
	if (!isEmpty(map) && !isEmpty(map["resultCd"])){
		if (map["resultCd"] != "Y"){
			alert(map["resultMsg"]);
			return false;
		}
		if (!isEmpty(ProdOptPop.func)){
			ProdOptPop.func();
			ProdOptPop.fnClose();
		}
	}else{
		alert("작업중 오류가 발생했습니다.");
	}

};

ProdOptPop.fnDelete = function(){
	if (ProdOptPop.mode != "MODIFY"){
		alert("조회후 삭제하세요.");
		return false;
	}
	if ( confirm("자료를 삭제하시겠습니까?")==false ) return;

	var url = "/app/prodOpt/deleteProdOpt.do";
	var params = {};
	params["optId"] = getElement("optId_g1").value;

	var map = httpSend(url, params);
	if (!isEmpty(map) && !isEmpty(map["resultCd"])){
		if (map["resultCd"] != "Y"){
			alert(map["resultMsg"]);
			return false;
		}
		if (!isEmpty(ProdOptPop.func)){
			ProdOptPop.func();
			ProdOptPop.fnClose();
		}
	}else{
		alert("작업중 오류가 발생했습니다.");
	}
};

ProdOptPop.fnClose = function(){
	layerToggle("divProdOptPop",{"mode":0});
};
</script>
