<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="app/common/head" th:remove="tag"></th:block>
<script language="javascript" type="text/javascript">
window.onload = function() {
	//
}

//page
var pageClsTerms = new pageCls("dvTermsPageList",fnGetList,"totalCnt");

function fnGetList(){
	var params = {};
	if (isEmpty(getEVal("termsId"))==false) params["termsId"] = getEVal("termsId");
	if (isEmpty(getEVal("termsDivCd"))==false) params["termsDivCd"] = getEVal("termsDivCd");
	if (isEmpty(getEVal("termsFrYmd"))==false) params["termsFrYmd"] = getEVal("termsFrYmd");
	if (isEmpty(getEVal("termsToYmd"))==false) params["termsToYmd"] = getEVal("termsToYmd");
	if (isEmpty(getEVal("termsTgtCd"))==false) params["termsTgtCd"] = getEVal("termsTgtCd");
	//page set
	params = pageClsTerms.getPageInfo(params);

	var url = "/app/terms/getTermsPageList.do";
	//add page
	var rObj = httpSend(url,params);
	var ds = new BDataSet(rObj["payloads"]);
	
	var vArr = ["termsId","termsDivCd","termsFrYmd","termsToYmd","termsTgtCd"];
	setDrawTbl("tblIdxList","dvTrList",vArr,ds,5);
	pageClsTerms.setTotalRowsReload(rObj["totalRows"]);
}

function fnXlsTermsDown(){
	var url = "/app/terms/getTermsExcelDown.do";
	var paramXls = {};
	if (isEmpty(getEVal("termsId"))==false) paramXls["termsId"] = getEVal("termsId");
	if (isEmpty(getEVal("termsDivCd"))==false) paramXls["termsDivCd"] = getEVal("termsDivCd");
	if (isEmpty(getEVal("termsFrYmd"))==false) paramXls["termsFrYmd"] = getEVal("termsFrYmd");
	if (isEmpty(getEVal("termsToYmd"))==false) paramXls["termsToYmd"] = getEVal("termsToYmd");
	if (isEmpty(getEVal("termsTgtCd"))==false) paramXls["termsTgtCd"] = getEVal("termsTgtCd");

	var params = {"xlsName":"약관정보"
		,"sheetName":"시트"
		,"columnHeaders":["약관ID","약관구분코드[TM01]","약관시작일","약관종료일","약관대상코드[TM02]"]
		,"columnNames":["termsId","termsDivCd","termsFrYmd","termsToYmd","termsTgtCd"]
		,"condition": paramXls
	};
	var fData = mapToFormdata({"params":JSON.stringify(params)});

	getDownFile(url,fData);
}

function fnOpenDialog(mode){
	var key = "";
	if (mode == "MODIFY"){
		key = getTrKey("tblIdxList");
		if (isEmpty(key)){
			alert("수정 할 자료가 존재하지 않습니다.");
			return false;
		}
	}
	var params = {};
	if (!isEmpty(key)){
		var arr = key.split(",");
		params["termsId"] = arr[0].trim();
	}
	TermsPop.fnOpen(mode, params, fnGetList);
}

</script>

<body><div class="wrap">
<th:block th:include="app/common/header" th:remove="tag"></th:block>
<th:block th:include="app/common/gnb" th:remove="tag"></th:block>
<main>
	<div class="sub_wrap">
		<div class="cont">
			<div class="cont-item" id="dvTermsSearch">
				<div class="cont-item-row">
					<div class="item">
						<label for="item01">검색1</label>
						<div class="wrap">
							<input type="text" name="search1" id="search1" placeholder="검색1" style="width:80%" title="검색1">
						</div>
					</div>
					<div class="item">
						<label for="item02">검색2</label>
						<div class="wrap">
							<input type="text" name="search2" id="search2" placeholder="검색2" style="width:80%" title="검색2">
						</div>
					</div>
				</div>
				<div class="cont-item-row cont-item-row-btn">
					<button type="button" class="btn primary default" onclick="fnGetList();">검색</button>
					<button type="button" class="btn white default reset" onclick="clearObjects('dvTermsSearch');">초기화</button>
				</div>
			</div>
			<div class="cont-item h728">
				<div class="bar-top">
					<div class="bar-left">
						<select class="select" onchange="pageClsTerms.setPageRows(getEVal(this));">
							<option value="10" selected>10건</option>
							<option value="20">20건</option>
							<option value="30">30건</option>
							<option value="50">50건</option>
						</select>
						<div class="bar-iblock">
							<span id="totalCnt" name="totalCnt"></span>
						</div>
					</div>

					<div class="bar-right">
						<div class="pagination-next-btns">
			                <button type="button" class="btn white default" onclick="fnOpenDialog('CREATE');">신규</button>
							<button type="button" class="btn primary default" onclick="fnOpenDialog('MODIFY');">수정</button>
						</div>
					</div>
				</div>
				<table id="tblIdxList" class="gridListTable">
					<colgroup>
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
					</colgroup>
					<thead>
						<tr>
							<th scope="col">약관ID</th>
							<th scope="col">약관구분코드[TM01]</th>
							<th scope="col">약관시작일</th>
							<th scope="col">약관종료일</th>
							<th scope="col">약관대상코드[TM02]</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
				<div id="dvTrList" style="display:none;">
				<!-- <tr key='{{termsId}}' ondblclick='fnOpenDialog("MODIFY");'>
						<td>{{termsId}}</td>
						<td>{{termsDivCd}}</td>
						<td>{{termsFrYmd}}</td>
						<td>{{termsToYmd}}</td>
						<td>{{termsTgtCd}}</td>
					 </tr> -->
				</div>

				<div id="dvTermsPageList" class="pagination"></div>
			</div>
		</div>
	</div>

<th:block th:include="app/terms/termsPop" th:remove="tag"></th:block>

</main>
<th:block th:include="app/common/footer" th:remove="tag"></th:block>
</div></body>
</html>
