<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="app/common/head" th:remove="tag"></th:block>
<script language="javascript" type="text/javascript">
window.onload = function() {
	//
}

//page
var pageClsProdClassif = new pageCls("dvProdClassifPageList",fnGetList,"totalCnt");

function fnGetList(){
	var params = {};
	if (isEmpty(getEVal("prodClassifId"))==false) params["prodClassifId"] = getEVal("prodClassifId");
	if (isEmpty(getEVal("prodClassifNm"))==false) params["prodClassifNm"] = getEVal("prodClassifNm");
	if (isEmpty(getEVal("prntProdClassifId"))==false) params["prntProdClassifId"] = getEVal("prntProdClassifId");
	if (isEmpty(getEVal("prodLvl"))==false) params["prodLvl"] = getEVal("prodLvl");
	if (isEmpty(getEVal("chdYn"))==false) params["chdYn"] = getEVal("chdYn");
	if (isEmpty(getEVal("fileRefId"))==false) params["fileRefId"] = getEVal("fileRefId");
	if (isEmpty(getEVal("mobiFileRefId"))==false) params["mobiFileRefId"] = getEVal("mobiFileRefId");
	if (isEmpty(getEVal("useYn"))==false) params["useYn"] = getEVal("useYn");
	//page set
	params = pageClsProdClassif.getPageInfo(params);

	var url = "/app/prodClassif/getProdClassifPageList.do";
	//add page
	var rObj = httpSend(url,params);
	var ds = new BDataSet(rObj["payloads"]);
	
	var vArr = ["prodClassifId","prodClassifNm","prntProdClassifId","prodLvl","chdYn","fileRefId","mobiFileRefId","useYn"];
	setDrawTbl("tblIdxList","dvTrList",vArr,ds,8);
	pageClsProdClassif.setTotalRowsReload(rObj["totalRows"]);
}

function fnXlsProdClassifDown(){
	var url = "/app/prodClassif/getProdClassifExcelDown.do";
	var paramXls = {};
	if (isEmpty(getEVal("prodClassifId"))==false) paramXls["prodClassifId"] = getEVal("prodClassifId");
	if (isEmpty(getEVal("prodClassifNm"))==false) paramXls["prodClassifNm"] = getEVal("prodClassifNm");
	if (isEmpty(getEVal("prntProdClassifId"))==false) paramXls["prntProdClassifId"] = getEVal("prntProdClassifId");
	if (isEmpty(getEVal("prodLvl"))==false) paramXls["prodLvl"] = getEVal("prodLvl");
	if (isEmpty(getEVal("chdYn"))==false) paramXls["chdYn"] = getEVal("chdYn");
	if (isEmpty(getEVal("fileRefId"))==false) paramXls["fileRefId"] = getEVal("fileRefId");
	if (isEmpty(getEVal("mobiFileRefId"))==false) paramXls["mobiFileRefId"] = getEVal("mobiFileRefId");
	if (isEmpty(getEVal("useYn"))==false) paramXls["useYn"] = getEVal("useYn");

	var params = {"xlsName":"상품분류"
		,"sheetName":"시트"
		,"columnHeaders":["상품분류ID","상품분류명","상위상품분류ID","상품레벨","하위여부","파일참조ID","모바일파일참조ID","사용여부"]
		,"columnNames":["prodClassifId","prodClassifNm","prntProdClassifId","prodLvl","chdYn","fileRefId","mobiFileRefId","useYn"]
		,"condition": paramXls
	};
	var fData = mapToFormdata({"params":JSON.stringify(params)});

	getDownFile(url,fData);
}

function fnOpenDialog(mode){
	var key = "";
	if (mode == "MODIFY"){
		key = getTrKey("tblIdxList");
		if (isEmpty(key)){
			alert("수정 할 자료가 존재하지 않습니다.");
			return false;
		}
	}
	var params = {};
	if (!isEmpty(key)){
		var arr = key.split(",");
		params["prodClassifId"] = arr[0].trim();
	}
	ProdClassifPop.fnOpen(mode, params, fnGetList);
}

</script>

<body><div class="wrap">
<th:block th:include="app/common/header" th:remove="tag"></th:block>
<th:block th:include="app/common/gnb" th:remove="tag"></th:block>
<main>
	<div class="sub_wrap">
		<div class="cont">
			<div class="cont-item" id="dvProdClassifSearch">
				<div class="cont-item-row">
					<div class="item">
						<label for="item01">검색1</label>
						<div class="wrap">
							<input type="text" name="search1" id="search1" placeholder="검색1" style="width:80%" title="검색1">
						</div>
					</div>
					<div class="item">
						<label for="item02">검색2</label>
						<div class="wrap">
							<input type="text" name="search2" id="search2" placeholder="검색2" style="width:80%" title="검색2">
						</div>
					</div>
				</div>
				<div class="cont-item-row cont-item-row-btn">
					<button type="button" class="btn primary default" onclick="fnGetList();">검색</button>
					<button type="button" class="btn white default reset" onclick="clearObjects('dvProdClassifSearch');">초기화</button>
				</div>
			</div>
			<div class="cont-item h728">
				<div class="bar-top">
					<div class="bar-left">
						<select class="select" onchange="pageClsProdClassif.setPageRows(getEVal(this));">
							<option value="10" selected>10건</option>
							<option value="20">20건</option>
							<option value="30">30건</option>
							<option value="50">50건</option>
						</select>
						<div class="bar-iblock">
							<span id="totalCnt" name="totalCnt"></span>
						</div>
					</div>

					<div class="bar-right">
						<div class="pagination-next-btns">
			                <button type="button" class="btn white default" onclick="fnOpenDialog('CREATE');">신규</button>
							<button type="button" class="btn primary default" onclick="fnOpenDialog('MODIFY');">수정</button>
						</div>
					</div>
				</div>
				<table id="tblIdxList" class="gridListTable">
					<colgroup>
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
					</colgroup>
					<thead>
						<tr>
							<th scope="col">상품분류ID</th>
							<th scope="col">상품분류명</th>
							<th scope="col">상위상품분류ID</th>
							<th scope="col">상품레벨</th>
							<th scope="col">하위여부</th>
							<th scope="col">파일참조ID</th>
							<th scope="col">모바일파일참조ID</th>
							<th scope="col">사용여부</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
				<div id="dvTrList" style="display:none;">
				<!-- <tr key='{{prodClassifId}}' ondblclick='fnOpenDialog("MODIFY");'>
						<td>{{prodClassifId}}</td>
						<td>{{prodClassifNm}}</td>
						<td>{{prntProdClassifId}}</td>
						<td>{{prodLvl}}</td>
						<td>{{chdYn}}</td>
						<td>{{fileRefId}}</td>
						<td>{{mobiFileRefId}}</td>
						<td>{{useYn}}</td>
					 </tr> -->
				</div>

				<div id="dvProdClassifPageList" class="pagination"></div>
			</div>
		</div>
	</div>

<th:block th:include="app/prodClassif/prodClassifPop" th:remove="tag"></th:block>

</main>
<th:block th:include="app/common/footer" th:remove="tag"></th:block>
</div></body>
</html>
