<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="app/common/head" th:remove="tag"></th:block>
<script language="javascript" type="text/javascript">
window.onload = function() {
	//
}

var DSGRP = new BDataSet();
function fnGetList(){
	var params = {};
	if (isEmpty(getEVal("grpCd"))==false) params["grpCd"] = getEVal("grpCd");
	if (isEmpty(getEVal("grpNm"))==false) params["grpNm"] = getEVal("grpNm");
	if (isEmpty(getEVal("useYn"))==false) params["useYn"] = getEVal("useYn");

	var url = "/app/grpCode/getGrpCodeList.do";
	//add page
	var rObj = httpSend(url,params);
	DSGRP = new BDataSet(rObj["payloads"]);
	
	var vArr = ["grpCd","grpNm","useYn"];
	setDrawTbl("tblIdxList","dvTrList",vArr,DSGRP,3);
}
function fnGetCodeList(grpCd){
	var params = {"grpCd":grpCd};

	//group info
	let idx = DSGRP.find("grpCd",grpCd);
	getElement("grpCd").value = "";
	getElement("grpNm").value = "";
	if (idx >= 0){
		getElement("grpCd").value = DSGRP.getValue("grpCd",idx);
		getElement("grpNm").value = DSGRP.getValue("grpNm",idx);
	}

	var url = "/app/cmnCode/getCmnCodeList.do";
	//add page
	var rObj = httpSend(url,params);
	var ds = new BDataSet(rObj["payloads"]);
	
	var vArr = ["cmnCd","cmnCdNm","grpCd"];
	setDrawTbl("tblIdxDtlList","dvTrDtlList",vArr,ds,3);
}

function fnXlsGrpCodeDown(){
	var url = "/app/grpCode/getGrpCodeExcelDown.do";
	var paramXls = {};
	if (isEmpty(getEVal("grpCd"))==false) paramXls["grpCd"] = getEVal("grpCd");
	if (isEmpty(getEVal("grpNm"))==false) paramXls["grpNm"] = getEVal("grpNm");
	if (isEmpty(getEVal("useYn"))==false) paramXls["useYn"] = getEVal("useYn");

	var params = {"xlsName":"그룹코드"
		,"sheetName":"시트"
		,"columnHeaders":["그룹코드","그룹명","사용여부"]
		,"columnNames":["grpCd","grpNm","useYn"]
		,"condition": paramXls
	};
	var fData = mapToFormdata({"params":JSON.stringify(params)});

	getDownFile(url,fData);
}

function fnOpenDialog(mode){
	var key = "";
	if (mode == "MODIFY"){
		key = getTrKey("tblIdxList");
		if (isEmpty(key)){
			alert("수정 할 자료가 존재하지 않습니다.");
			return false;
		}
	}
	var params = {};
	if (!isEmpty(key)){
		var arr = key.split(",");
		params["grpCd"] = arr[0].trim();
	}
	GrpCodePop.fnOpen(mode, params, fnGetList);
}

function fnOpenDtlDialog(mode){
	var key = "";
	if (mode == "MODIFY"){
		key = getTrKey("tblIdxDtlList");
		if (isEmpty(key)){
			alert("수정 할 자료가 존재하지 않습니다.");
			return false;
		}
	}
	var params = {};
	if (!isEmpty(key)){
		var arr = key.split(",");
		params["cmnCd"] = arr[0].trim();
		params["grpCd"] = arr[1].trim();
	}
	CodePop.fnOpen(mode, params, fnGetList);
}
function fnDelete(){
	var key = getTrKey("tblIdxList");
	var arr = key.split(",");
	params["grpCd"] = arr[0].trim();

	if (isEmpty(params["grpCd"])){
		alert("조회후 삭제하세요.");
		return false;
	}
	if ( confirm("자료를 삭제하시겠습니까?")==false ) return;

	var url = "/app/grpCode/deleteGrpCode.do";

	var map = httpSend(url, params);
	if (!isEmpty(map) && !isEmpty(map["resultCd"])){
		if (map["resultCd"] != "Y"){
			alert(map["resultMsg"]);
			return false;
		}
		if (!isEmpty(GrpCodePop.func)){
			fnGetList();
		}
	}else{
		alert("작업중 오류가 발생했습니다.");
	}
};

function fnDtlDelete(){
	var key = getTrKey("tblIdxDtlList");
	var arr = key.split(",");
	params["cmnCd"] = arr[0].trim();
	params["grpCd"] = arr[1].trim();

	if (isEmpty(params["grpCd"]) || isEmpty(params["cmnCd"])){
		alert("조회후 삭제하세요.");
		return false;
	}
	if ( confirm("자료를 삭제하시겠습니까?")==false ) return;

	var url = "/app/cmnCode/deleteCmnCode.do";

	var map = httpSend(url, params);
	if (!isEmpty(map) && !isEmpty(map["resultCd"])){
		if (map["resultCd"] != "Y"){
			alert(map["resultMsg"]);
			return false;
		}
		if (!isEmpty(GrpCodePop.func)){
			fnGetCodeList(params["grpCd"]);
		}
	}else{
		alert("작업중 오류가 발생했습니다.");
	}
};

</script>

<body><div class="wrap">
<th:block th:include="app/common/header" th:remove="tag"></th:block>
<th:block th:include="app/common/gnb" th:remove="tag"></th:block>
<main>
	<div class="sub_wrap">
		<div class="cont">
		    <div class="cont-item-wrapper nowrap" style="height:80%;">
	            <div class="item-wrapper half" style="padding-right:10px;">
		            <div class="title dark-gray">
		              <h4><span name="h4GroupNm">그룹</span></h4>
                        <button type="button" class="btn icon add-folder" onclick='fnOpenDialog("CREATE");'>추가</button>
                        <button type="button" class="btn icon delete-folder" onclick='fnDelete();'>삭제</button>
		            </div>
		            <div class="item-search">
		              <input type="text" id="schGrpNm" name="schGrpNm" placeholder="그룹명을 입력하세요."/>
		              <button type="submit">검색</button>
		            </div>
					<table id="tblIdxList" class="gridListTable">
						<colgroup>
							<col style="width:10%;" />
							<col style="width:10%;" />
							<col style="width:10%;" />
						</colgroup>
						<thead>
							<tr>
								<th scope="col">그룹코드</th>
								<th scope="col">그룹명</th>
								<th scope="col">사용여부</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
					<div id="dvTrList" style="display:none;">
					<!-- <tr key='{{grpCd}}' ondblclick='fnOpenDialog("MODIFY");'>
							<td>{{grpCd}}</td>
							<td>{{grpNm}}</td>
							<td>{{useYn}}</td>
						 </tr> -->
					</div>
	            </div>
	            <div class="item-wrapper flex-auto">
		            <div class="title dark-gray">
		              <h4><span name="h4GroupNm">코드</span></h4>
                        <button type="button" class="btn icon add-folder" onclick="fnOpenDtlDialog('CREATE');">추가</button>
                        <button type="button" class="btn icon delete-folder" onclick='fnDtlDelete();'>삭제</button>
		            </div>
		            <div class="cont-item-row border-top">
		              <div class="item">
		                <label  for="groupId">그룹ID</label>
		                <div class="wrap">
		                <input type="text" id="groupId" name="groupId" />
		                </div>
		              </div>
		              <div class="item">
		                <label for="grpNm">그룹명</label>
		                <div class="wrap">
		                  <input type="text" id="grpNm" name="grpNm" />
		                </div>
		              </div>
		            </div>
					<table id="tblIdxDtlList" class="gridListTable">
						<colgroup>
							<col style="width:15%;" />
							<col style="width:auto;" />
							<col style="width:25%;" />
						</colgroup>
						<thead>
							<tr>
								<th scope="col">코드ID</th>
								<th scope="col">코드명</th>
								<th scope="col">그룹코드ID</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
					<div id="dvTrDtlList" style="display:none;">
					<!-- <tr key='{{cmnCd}},{{grpCd}}' ondblclick='fnOpenDtlDialog("MODIFY");'>
							<td>{{cmnCd}}</td>
							<td>{{cmnCdNm}}</td>
							<td>{{grpCd}}</td>
						 </tr> -->
					</div>
	            </div>
	        </div>
		
		</div>
	</div>

<th:block th:include="app/grpCode/grpCodePop" th:remove="tag"></th:block>

</main>
<th:block th:include="app/common/footer" th:remove="tag"></th:block>
</div></body>
</html>
