<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="app/common/head" th:remove="tag"></th:block>
<script language="javascript" type="text/javascript">
window.onload = function() {
	//
}

//page
var pageClsCouponIssueMbr = new pageCls("dvCouponIssueMbrPageList",fnGetList,"totalCnt");

function fnGetList(){
	var params = {};
	if (isEmpty(getEVal("cpnIssueId"))==false) params["cpnIssueId"] = getEVal("cpnIssueId");
	if (isEmpty(getEVal("mbrId"))==false) params["mbrId"] = getEVal("mbrId");
	if (isEmpty(getEVal("cpnId"))==false) params["cpnId"] = getEVal("cpnId");
	if (isEmpty(getEVal("cpnIssueDtm"))==false) params["cpnIssueDtm"] = getEVal("cpnIssueDtm");
	if (isEmpty(getEVal("cpnUseDtm"))==false) params["cpnUseDtm"] = getEVal("cpnUseDtm");
	if (isEmpty(getEVal("useYn"))==false) params["useYn"] = getEVal("useYn");
	//page set
	params = pageClsCouponIssueMbr.getPageInfo(params);

	var url = "/app/couponIssueMbr/getCouponIssueMbrPageList.do";
	//add page
	var rObj = httpSend(url,params);
	var ds = new BDataSet(rObj["payloads"]);
	
	var vArr = ["cpnIssueId","mbrId","cpnId","cpnIssueDtm","cpnUseDtm","useYn"];
	setDrawTbl("tblIdxList","dvTrList",vArr,ds,6);
	pageClsCouponIssueMbr.setTotalRowsReload(rObj["totalRows"]);
}

function fnXlsCouponIssueMbrDown(){
	var url = "/app/couponIssueMbr/getCouponIssueMbrExcelDown.do";
	var paramXls = {};
	if (isEmpty(getEVal("cpnIssueId"))==false) paramXls["cpnIssueId"] = getEVal("cpnIssueId");
	if (isEmpty(getEVal("mbrId"))==false) paramXls["mbrId"] = getEVal("mbrId");
	if (isEmpty(getEVal("cpnId"))==false) paramXls["cpnId"] = getEVal("cpnId");
	if (isEmpty(getEVal("cpnIssueDtm"))==false) paramXls["cpnIssueDtm"] = getEVal("cpnIssueDtm");
	if (isEmpty(getEVal("cpnUseDtm"))==false) paramXls["cpnUseDtm"] = getEVal("cpnUseDtm");
	if (isEmpty(getEVal("useYn"))==false) paramXls["useYn"] = getEVal("useYn");

	var params = {"xlsName":"쿠폰발급멤버"
		,"sheetName":"시트"
		,"columnHeaders":["쿠폰발급ID","멤버ID","쿠폰ID","쿠폰발급일시","쿠폰사용일시","사용여부"]
		,"columnNames":["cpnIssueId","mbrId","cpnId","cpnIssueDtm","cpnUseDtm","useYn"]
		,"condition": paramXls
	};
	var fData = mapToFormdata({"params":JSON.stringify(params)});

	getDownFile(url,fData);
}

function fnOpenDialog(mode){
	var key = "";
	if (mode == "MODIFY"){
		key = getTrKey("tblIdxList");
		if (isEmpty(key)){
			alert("수정 할 자료가 존재하지 않습니다.");
			return false;
		}
	}
	var params = {};
	if (!isEmpty(key)){
		var arr = key.split(",");
		params["cpnIssueId"] = arr[0].trim();
		params["mbrId"] = arr[1].trim();
	}
	CouponIssueMbrPop.fnOpen(mode, params, fnGetList);
}

</script>

<body><div class="wrap">
<th:block th:include="app/common/header" th:remove="tag"></th:block>
<th:block th:include="app/common/gnb" th:remove="tag"></th:block>
<main>
	<div class="sub_wrap">
		<div class="cont">
			<div class="cont-item" id="dvCouponIssueMbrSearch">
				<div class="cont-item-row">
					<div class="item">
						<label for="item01">검색1</label>
						<div class="wrap">
							<input type="text" name="search1" id="search1" placeholder="검색1" style="width:80%" title="검색1">
						</div>
					</div>
					<div class="item">
						<label for="item02">검색2</label>
						<div class="wrap">
							<input type="text" name="search2" id="search2" placeholder="검색2" style="width:80%" title="검색2">
						</div>
					</div>
				</div>
				<div class="cont-item-row cont-item-row-btn">
					<button type="button" class="btn primary default" onclick="fnGetList();">검색</button>
					<button type="button" class="btn white default reset" onclick="clearObjects('dvCouponIssueMbrSearch');">초기화</button>
				</div>
			</div>
			<div class="cont-item h728">
				<div class="bar-top">
					<div class="bar-left">
						<select class="select" onchange="pageClsCouponIssueMbr.setPageRows(getEVal(this));">
							<option value="10" selected>10건</option>
							<option value="20">20건</option>
							<option value="30">30건</option>
							<option value="50">50건</option>
						</select>
						<div class="bar-iblock">
							<span id="totalCnt" name="totalCnt"></span>
						</div>
					</div>

					<div class="bar-right">
						<div class="pagination-next-btns">
			                <button type="button" class="btn white default" onclick="fnOpenDialog('CREATE');">신규</button>
							<button type="button" class="btn primary default" onclick="fnOpenDialog('MODIFY');">수정</button>
						</div>
					</div>
				</div>
				<table id="tblIdxList" class="gridListTable">
					<colgroup>
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
					</colgroup>
					<thead>
						<tr>
							<th scope="col">쿠폰발급ID</th>
							<th scope="col">멤버ID</th>
							<th scope="col">쿠폰ID</th>
							<th scope="col">쿠폰발급일시</th>
							<th scope="col">쿠폰사용일시</th>
							<th scope="col">사용여부</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
				<div id="dvTrList" style="display:none;">
				<!-- <tr key='{{cpnIssueId}},{{mbrId}}' ondblclick='fnOpenDialog("MODIFY");'>
						<td>{{cpnIssueId}}</td>
						<td>{{mbrId}}</td>
						<td>{{cpnId}}</td>
						<td>{{cpnIssueDtm}}</td>
						<td>{{cpnUseDtm}}</td>
						<td>{{useYn}}</td>
					 </tr> -->
				</div>

				<div id="dvCouponIssueMbrPageList" class="pagination"></div>
			</div>
		</div>
	</div>

<th:block th:include="app/couponIssueMbr/couponIssueMbrPop" th:remove="tag"></th:block>

</main>
<th:block th:include="app/common/footer" th:remove="tag"></th:block>
</div></body>
</html>
