<div id="divOrderExchDelivPop" class="sub_wrap" style="display:none;width:92%" title="주문교환배송 정보">
	<div class="cont">
		<div class="cont-item cont-item01">
			<div class="cont-item-row item-title">
				<h4>주문교환배송 등록</h4>
			</div>
			<div class="cont-item-wrap">
				<div class="cont-item-row border-top">
					<div class="item">
						<label for="ordExchDelivId_g1">주문교환배송ID</label>
						<div class="wrap">
							<input type="text" id="ordExchDelivId_g1" name="ordExchDelivId_g1" />
						</div>
					</div>
					<div class="item">
						<label for="ordId_g1">주문ID</label>
						<div class="wrap">
							<input type="text" id="ordId_g1" name="ordId_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="collDelivCompId_g1">수거배송업체ID</label>
						<div class="wrap">
							<input type="text" id="collDelivCompId_g1" name="collDelivCompId_g1" />
						</div>
					</div>
					<div class="item">
						<label for="collDelivFee_g1">수거배송비</label>
						<div class="wrap">
							<input type="text" id="collDelivFee_g1" name="collDelivFee_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="collPymtCompId_g1">수거지급사ID</label>
						<div class="wrap">
							<input type="text" id="collPymtCompId_g1" name="collPymtCompId_g1" />
						</div>
					</div>
					<div class="item">
						<label for="collDelivYn_g1">수거배송여부</label>
						<div class="wrap">
							<input type="text" id="collDelivYn_g1" name="collDelivYn_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="collDelivExpectedYmd_g1">수거배송예정일</label>
						<div class="wrap">
							<input type="text" id="collDelivExpectedYmd_g1" name="collDelivExpectedYmd_g1" />
						</div>
					</div>
					<div class="item">
						<label for="collDelivYmd_g1">수거배송일</label>
						<div class="wrap">
							<input type="text" id="collDelivYmd_g1" name="collDelivYmd_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="exchDelivCompId_g1">교환배송업체ID</label>
						<div class="wrap">
							<input type="text" id="exchDelivCompId_g1" name="exchDelivCompId_g1" />
						</div>
					</div>
					<div class="item">
						<label for="exchDelivFee_g1">교환배송비</label>
						<div class="wrap">
							<input type="text" id="exchDelivFee_g1" name="exchDelivFee_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="exchPymtCompId_g1">교환지급사ID</label>
						<div class="wrap">
							<input type="text" id="exchPymtCompId_g1" name="exchPymtCompId_g1" />
						</div>
					</div>
					<div class="item">
						<label for="exchDelivYn_g1">교환배송여부</label>
						<div class="wrap">
							<input type="text" id="exchDelivYn_g1" name="exchDelivYn_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="exchDelivExpectedYmd_g1">교환배송예정일</label>
						<div class="wrap">
							<input type="text" id="exchDelivExpectedYmd_g1" name="exchDelivExpectedYmd_g1" />
						</div>
					</div>
					<div class="item">
						<label for="exchDelivYmd_g1">교환배송일</label>
						<div class="wrap">
							<input type="text" id="exchDelivYmd_g1" name="exchDelivYmd_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row cont-item-row-btn right">
					<button id="saveBtn" name="saveBtn" class="btn default" onclick="OrderExchDelivPop.fnSave();"><span>저장</span></button>
					<button id="delBtn" name="delBtn" class="btn default" onclick="OrderExchDelivPop.fnDelete();"><span>삭제</span></button>
					<button class="btn write default" onclick="OrderExchDelivPop.fnClose();"><span>닫기</span></button>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
var OrderExchDelivPop = new $W.load("divOrderExchDelivPop");
OrderExchDelivPop.ready(function(){
	//
});

OrderExchDelivPop.fnOpen = function(mode, params, func) {
	clearObjects("divOrderExchDelivPop");
	OrderExchDelivPop.mode = mode;
	if (!isEmpty(func)){
		OrderExchDelivPop.func = func;
	}
	setObjVal({"useYn_g1":"Y"});

	//draw popup
	layerToggle("divOrderExchDelivPop",{"mode":1,"top":130,"scrollYn":"Y"});

	readOnlyTrue(["ordExchDelivId_g1"]);
	if(mode == "MODIFY") {
		var url = "/app/orderExchDeliv/getOrderExchDeliv.do";
		var map = httpSend(url, params);
		if (!isEmpty(map)){
			let chgData = chgMapKey(map,"_g1");
			setObjVal(chgData);
		}else{
			alert("자료가 존재하지 않습니다.");
		}

		displayTrue(["delBtn"]);
		getElement("ordId_g1").focus();
	}else{
		readOnlyFalse(["ordExchDelivId_g1"]);
		displayFalse(["delBtn"]);
	}
};

OrderExchDelivPop.fnSave = function(){

	var valid = 0 || [
		["ordExchDelivId_g1","","자료(주문교환배송ID)를 확인하세요."]
		,["ordId_g1","","자료(주문ID)를 확인하세요."]
		,["collDelivCompId_g1","","자료(수거배송업체ID)를 확인하세요."]
		,["collDelivFee_g1","","자료(수거배송비)를 확인하세요."]
		,["collPymtCompId_g1","","자료(수거지급사ID)를 확인하세요."]
		,["collDelivYn_g1","","자료(수거배송여부)를 확인하세요."]
		,["collDelivExpectedYmd_g1","","자료(수거배송예정일)를 확인하세요."]
		,["collDelivYmd_g1","","자료(수거배송일)를 확인하세요."]
		,["exchDelivCompId_g1","","자료(교환배송업체ID)를 확인하세요."]
		,["exchDelivFee_g1","","자료(교환배송비)를 확인하세요."]
		,["exchPymtCompId_g1","","자료(교환지급사ID)를 확인하세요."]
		,["exchDelivYn_g1","","자료(교환배송여부)를 확인하세요."]
		,["exchDelivExpectedYmd_g1","","자료(교환배송예정일)를 확인하세요."]
		,["exchDelivYmd_g1","","자료(교환배송일)를 확인하세요."]

		];
	if (checkValid( valid )==false) return;

	var ds  = getEleToBDataSet("divOrderExchDelivPop");
	var url = "/app/orderExchDeliv/updateOrderExchDeliv.do";
	if (OrderExchDelivPop.mode=="CREATE"){
		url = "/app/orderExchDeliv/insertOrderExchDeliv.do";
	}

	//data key change
	var sData = chgBackMapKey(ds.getRow(0),"_g1");
	var map = httpSend(url, sData);
	if (!isEmpty(map) && !isEmpty(map["resultCd"])){
		if (map["resultCd"] != "Y"){
			alert(map["resultMsg"]);
			return false;
		}
		if (!isEmpty(OrderExchDelivPop.func)){
			OrderExchDelivPop.func();
			OrderExchDelivPop.fnClose();
		}
	}else{
		alert("작업중 오류가 발생했습니다.");
	}

};

OrderExchDelivPop.fnDelete = function(){
	if (OrderExchDelivPop.mode != "MODIFY"){
		alert("조회후 삭제하세요.");
		return false;
	}
	if ( confirm("자료를 삭제하시겠습니까?")==false ) return;

	var url = "/app/orderExchDeliv/deleteOrderExchDeliv.do";
	var params = {};
	params["ordExchDelivId"] = getElement("ordExchDelivId_g1").value;

	var map = httpSend(url, params);
	if (!isEmpty(map) && !isEmpty(map["resultCd"])){
		if (map["resultCd"] != "Y"){
			alert(map["resultMsg"]);
			return false;
		}
		if (!isEmpty(OrderExchDelivPop.func)){
			OrderExchDelivPop.func();
			OrderExchDelivPop.fnClose();
		}
	}else{
		alert("작업중 오류가 발생했습니다.");
	}
};

OrderExchDelivPop.fnClose = function(){
	layerToggle("divOrderExchDelivPop",{"mode":0});
};
</script>
