<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="app/common/head" th:remove="tag"></th:block>
<script language="javascript" type="text/javascript">
window.onload = function() {
	//
}

//page
var pageClsCartOption = new pageCls("dvCartOptionPageList",fnGetList,"totalCnt");

function fnGetList(){
	var params = {};
	if (isEmpty(getEVal("cartId"))==false) params["cartId"] = getEVal("cartId");
	if (isEmpty(getEVal("prodId"))==false) params["prodId"] = getEVal("prodId");
	if (isEmpty(getEVal("optId"))==false) params["optId"] = getEVal("optId");
	if (isEmpty(getEVal("optDtlCont"))==false) params["optDtlCont"] = getEVal("optDtlCont");
	if (isEmpty(getEVal("optQty"))==false) params["optQty"] = getEVal("optQty");
	if (isEmpty(getEVal("optAmt"))==false) params["optAmt"] = getEVal("optAmt");
	if (isEmpty(getEVal("useYn"))==false) params["useYn"] = getEVal("useYn");
	//page set
	params = pageClsCartOption.getPageInfo(params);

	var url = "/app/cartOption/getCartOptionPageList.do";
	//add page
	var rObj = httpSend(url,params);
	var ds = new BDataSet(rObj["payloads"]);
	
	var vArr = ["cartId","prodId","optId","optDtlCont","optQty","optAmt","useYn"];
	setDrawTbl("tblIdxList","dvTrList",vArr,ds,7);
	pageClsCartOption.setTotalRowsReload(rObj["totalRows"]);
}

function fnXlsCartOptionDown(){
	var url = "/app/cartOption/getCartOptionExcelDown.do";
	var paramXls = {};
	if (isEmpty(getEVal("cartId"))==false) paramXls["cartId"] = getEVal("cartId");
	if (isEmpty(getEVal("prodId"))==false) paramXls["prodId"] = getEVal("prodId");
	if (isEmpty(getEVal("optId"))==false) paramXls["optId"] = getEVal("optId");
	if (isEmpty(getEVal("optDtlCont"))==false) paramXls["optDtlCont"] = getEVal("optDtlCont");
	if (isEmpty(getEVal("optQty"))==false) paramXls["optQty"] = getEVal("optQty");
	if (isEmpty(getEVal("optAmt"))==false) paramXls["optAmt"] = getEVal("optAmt");
	if (isEmpty(getEVal("useYn"))==false) paramXls["useYn"] = getEVal("useYn");

	var params = {"xlsName":"장바구니옵션"
		,"sheetName":"시트"
		,"columnHeaders":["장바구니ID","상품ID","옵션ID","옵션상세내용","옵션수량","옵션금액","사용여부"]
		,"columnNames":["cartId","prodId","optId","optDtlCont","optQty","optAmt","useYn"]
		,"condition": paramXls
	};
	var fData = mapToFormdata({"params":JSON.stringify(params)});

	getDownFile(url,fData);
}

function fnOpenDialog(mode){
	var key = "";
	if (mode == "MODIFY"){
		key = getTrKey("tblIdxList");
		if (isEmpty(key)){
			alert("수정 할 자료가 존재하지 않습니다.");
			return false;
		}
	}
	var params = {};
	if (!isEmpty(key)){
		var arr = key.split(",");
		params["cartId"] = arr[0].trim();
		params["prodId"] = arr[1].trim();
		params["optId"] = arr[2].trim();
	}
	CartOptionPop.fnOpen(mode, params, fnGetList);
}

</script>

<body><div class="wrap">
<th:block th:include="app/common/header" th:remove="tag"></th:block>
<th:block th:include="app/common/gnb" th:remove="tag"></th:block>
<main>
	<div class="sub_wrap">
		<div class="cont">
			<div class="cont-item" id="dvCartOptionSearch">
				<div class="cont-item-row">
					<div class="item">
						<label for="item01">검색1</label>
						<div class="wrap">
							<input type="text" name="search1" id="search1" placeholder="검색1" style="width:80%" title="검색1">
						</div>
					</div>
					<div class="item">
						<label for="item02">검색2</label>
						<div class="wrap">
							<input type="text" name="search2" id="search2" placeholder="검색2" style="width:80%" title="검색2">
						</div>
					</div>
				</div>
				<div class="cont-item-row cont-item-row-btn">
					<button type="button" class="btn primary default" onclick="fnGetList();">검색</button>
					<button type="button" class="btn white default reset" onclick="clearObjects('dvCartOptionSearch');">초기화</button>
				</div>
			</div>
			<div class="cont-item h728">
				<div class="bar-top">
					<div class="bar-left">
						<select class="select" onchange="pageClsCartOption.setPageRows(getEVal(this));">
							<option value="10" selected>10건</option>
							<option value="20">20건</option>
							<option value="30">30건</option>
							<option value="50">50건</option>
						</select>
						<div class="bar-iblock">
							<span id="totalCnt" name="totalCnt"></span>
						</div>
					</div>

					<div class="bar-right">
						<div class="pagination-next-btns">
			                <button type="button" class="btn white default" onclick="fnOpenDialog('CREATE');">신규</button>
							<button type="button" class="btn primary default" onclick="fnOpenDialog('MODIFY');">수정</button>
						</div>
					</div>
				</div>
				<table id="tblIdxList" class="gridListTable">
					<colgroup>
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
					</colgroup>
					<thead>
						<tr>
							<th scope="col">장바구니ID</th>
							<th scope="col">상품ID</th>
							<th scope="col">옵션ID</th>
							<th scope="col">옵션상세내용</th>
							<th scope="col">옵션수량</th>
							<th scope="col">옵션금액</th>
							<th scope="col">사용여부</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
				<div id="dvTrList" style="display:none;">
				<!-- <tr key='{{cartId}},{{prodId}},{{optId}}' ondblclick='fnOpenDialog("MODIFY");'>
						<td>{{cartId}}</td>
						<td>{{prodId}}</td>
						<td>{{optId}}</td>
						<td>{{optDtlCont}}</td>
						<td>{{optQty}}</td>
						<td>{{optAmt}}</td>
						<td>{{useYn}}</td>
					 </tr> -->
				</div>

				<div id="dvCartOptionPageList" class="pagination"></div>
			</div>
		</div>
	</div>

<th:block th:include="app/cartOption/cartOptionPop" th:remove="tag"></th:block>

</main>
<th:block th:include="app/common/footer" th:remove="tag"></th:block>
</div></body>
</html>
