<div id="divBuyPymtPop" class="sub_wrap" style="display:none;width:92%" title="구매결제 정보">
	<div class="cont">
		<div class="cont-item cont-item01">
			<div class="cont-item-row item-title">
				<h4>구매결제 등록</h4>
			</div>
			<div class="cont-item-wrap">
				<div class="cont-item-row border-top">
					<div class="item">
						<label for="pgBuyId_g1">PG구매ID</label>
						<div class="wrap">
							<input type="text" id="pgBuyId_g1" name="pgBuyId_g1" />
						</div>
					</div>
					<div class="item">
						<label for="ordId_g1">주문ID</label>
						<div class="wrap">
							<input type="text" id="ordId_g1" name="ordId_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="ordCnclId_g1">주문취소ID</label>
						<div class="wrap">
							<input type="text" id="ordCnclId_g1" name="ordCnclId_g1" />
						</div>
					</div>
					<div class="item">
						<label for="mbrId_g1">멤버ID</label>
						<div class="wrap">
							<input type="text" id="mbrId_g1" name="mbrId_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="cardNo_g1">카드번호</label>
						<div class="wrap">
							<input type="text" id="cardNo_g1" name="cardNo_g1" />
						</div>
					</div>
					<div class="item">
						<label for="pymtDivCd_g1">결제구분코드</label>
						<div class="wrap">
							<input type="text" id="pymtDivCd_g1" name="pymtDivCd_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="pymtProgCd_g1">결제진행코드</label>
						<div class="wrap">
							<input type="text" id="pymtProgCd_g1" name="pymtProgCd_g1" />
						</div>
					</div>
					<div class="item">
						<label for="pymtAgcyCompCd_g1">결제대행사코드</label>
						<div class="wrap">
							<input type="text" id="pymtAgcyCompCd_g1" name="pymtAgcyCompCd_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="cardCompCd_g1">카드사코드</label>
						<div class="wrap">
							<input type="text" id="cardCompCd_g1" name="cardCompCd_g1" />
						</div>
					</div>
					<div class="item">
						<label for="cardInstalPeriod_g1">카드할부기간</label>
						<div class="wrap">
							<input type="text" id="cardInstalPeriod_g1" name="cardInstalPeriod_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="cardPymtAmt_g1">카드결제금액</label>
						<div class="wrap">
							<input type="text" id="cardPymtAmt_g1" name="cardPymtAmt_g1" />
						</div>
					</div>
					<div class="item">
						<label for="billKey_g1">정산키</label>
						<div class="wrap">
							<input type="text" id="billKey_g1" name="billKey_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="apvlNo_g1">승인번호</label>
						<div class="wrap">
							<input type="text" id="apvlNo_g1" name="apvlNo_g1" />
						</div>
					</div>
					<div class="item">
						<label for="txnId_g1">거래ID</label>
						<div class="wrap">
							<input type="text" id="txnId_g1" name="txnId_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="storeId_g1">상점ID</label>
						<div class="wrap">
							<input type="text" id="storeId_g1" name="storeId_g1" />
						</div>
					</div>
					<div class="item">
						<label for="storeKey_g1">상점Key</label>
						<div class="wrap">
							<input type="text" id="storeKey_g1" name="storeKey_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="prodNm_g1">상품명</label>
						<div class="wrap">
							<input type="text" id="prodNm_g1" name="prodNm_g1" />
						</div>
					</div>
					<div class="item">
						<label for="consrNm_g1">구매자명</label>
						<div class="wrap">
							<input type="text" id="consrNm_g1" name="consrNm_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="consrEmail_g1">구매자이메일</label>
						<div class="wrap">
							<input type="text" id="consrEmail_g1" name="consrEmail_g1" />
						</div>
					</div>
					<div class="item">
						<label for="splyPrice_g1">공급가액금액</label>
						<div class="wrap">
							<input type="text" id="splyPrice_g1" name="splyPrice_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="vat_g1">부가가치세</label>
						<div class="wrap">
							<input type="text" id="vat_g1" name="vat_g1" />
						</div>
					</div>
					<div class="item">
						<label for="taxExptAmt_g1">면세금액</label>
						<div class="wrap">
							<input type="text" id="taxExptAmt_g1" name="taxExptAmt_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="intFreeYn_g1">무이자여부</label>
						<div class="wrap">
							<input type="text" id="intFreeYn_g1" name="intFreeYn_g1" />
						</div>
					</div>
					<div class="item">
						<label for="instalMos_g1">할부개월수</label>
						<div class="wrap">
							<input type="text" id="instalMos_g1" name="instalMos_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="mallIp_g1">몰IP</label>
						<div class="wrap">
							<input type="text" id="mallIp_g1" name="mallIp_g1" />
						</div>
					</div>
					<div class="item">
						<label for="cardCompNm_g1">카드사명</label>
						<div class="wrap">
							<input type="text" id="cardCompNm_g1" name="cardCompNm_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="rstlCd_g1">결과코드</label>
						<div class="wrap">
							<input type="text" id="rstlCd_g1" name="rstlCd_g1" />
						</div>
					</div>
					<div class="item">
						<label for="rstlCont_g1">결과내용</label>
						<div class="wrap">
							<input type="text" id="rstlCont_g1" name="rstlCont_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="apvlDtm_g1">승인일시</label>
						<div class="wrap">
							<input type="text" id="apvlDtm_g1" name="apvlDtm_g1" />
						</div>
					</div>
					<div class="item">
						<label for="apvlCd_g1">승인코드</label>
						<div class="wrap">
							<input type="text" id="apvlCd_g1" name="apvlCd_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="apvlYn_g1">승인여부</label>
						<div class="wrap">
							<input type="text" id="apvlYn_g1" name="apvlYn_g1" />
						</div>
					</div>
					<div class="item">
						<label for="errCd_g1">오류코드</label>
						<div class="wrap">
							<input type="text" id="errCd_g1" name="errCd_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="errCont_g1">오류내용</label>
						<div class="wrap">
							<input type="text" id="errCont_g1" name="errCont_g1" />
						</div>
					</div>
					<div class="item">
						<label for="pymtCancYn_g1">결제취소여부</label>
						<div class="wrap">
							<input type="text" id="pymtCancYn_g1" name="pymtCancYn_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="pymtCancAmt_g1">결제취소금액</label>
						<div class="wrap">
							<input type="text" id="pymtCancAmt_g1" name="pymtCancAmt_g1" />
						</div>
					</div>
					<div class="item">
						<label for="pymtCancRsnCd_g1">결제취소사유코드</label>
						<div class="wrap">
							<input type="text" id="pymtCancRsnCd_g1" name="pymtCancRsnCd_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="pymtCancRsn_g1">결제취소사유</label>
						<div class="wrap">
							<input type="text" id="pymtCancRsn_g1" name="pymtCancRsn_g1" />
						</div>
					</div>
					<div class="item">
						<label for="txnCancPwd_g1">거래취소비밀번호</label>
						<div class="wrap">
							<input type="text" id="txnCancPwd_g1" name="txnCancPwd_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="cancId_g1">취소ID</label>
						<div class="wrap">
							<input type="text" id="cancId_g1" name="cancId_g1" />
						</div>
					</div>
					<div class="item">
						<label for="cancIp_g1">취소IP</label>
						<div class="wrap">
							<input type="text" id="cancIp_g1" name="cancIp_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="prtlCancYn_g1">부분취소여부</label>
						<div class="wrap">
							<input type="text" id="prtlCancYn_g1" name="prtlCancYn_g1" />
						</div>
					</div>
					<div class="item">
						<label for="cancRstlCd_g1">취소결과코드</label>
						<div class="wrap">
							<input type="text" id="cancRstlCd_g1" name="cancRstlCd_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="cancRstlCont_g1">취소결과내용</label>
						<div class="wrap">
							<input type="text" id="cancRstlCont_g1" name="cancRstlCont_g1" />
						</div>
					</div>
					<div class="item">
						<label for="cancDtm_g1">취소일시</label>
						<div class="wrap">
							<input type="text" id="cancDtm_g1" name="cancDtm_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="cancHms_g1">취소시분초</label>
						<div class="wrap">
							<input type="text" id="cancHms_g1" name="cancHms_g1" />
						</div>
					</div>
					<div class="item">
						<label for="cancNo_g1">취소번호</label>
						<div class="wrap">
							<input type="text" id="cancNo_g1" name="cancNo_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="cancDtlErrCd_g1">취소상세오류코드</label>
						<div class="wrap">
							<input type="text" id="cancDtlErrCd_g1" name="cancDtlErrCd_g1" />
						</div>
					</div>
					<div class="item">
						<label for="cancDtlErrCont_g1">취소상세오류내용</label>
						<div class="wrap">
							<input type="text" id="cancDtlErrCont_g1" name="cancDtlErrCont_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="billYmd_g1">정산년월일</label>
						<div class="wrap">
							<input type="text" id="billYmd_g1" name="billYmd_g1" />
						</div>
					</div>
					<div class="item">
					</div>
				</div>
				<div class="cont-item-row cont-item-row-btn right">
					<button id="saveBtn" name="saveBtn" class="btn default" onclick="BuyPymtPop.fnSave();"><span>저장</span></button>
					<button id="delBtn" name="delBtn" class="btn default" onclick="BuyPymtPop.fnDelete();"><span>삭제</span></button>
					<button class="btn write default" onclick="BuyPymtPop.fnClose();"><span>닫기</span></button>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
var BuyPymtPop = new $W.load("divBuyPymtPop");
BuyPymtPop.ready(function(){
	//
});

BuyPymtPop.fnOpen = function(mode, params, func) {
	clearObjects("divBuyPymtPop");
	BuyPymtPop.mode = mode;
	if (!isEmpty(func)){
		BuyPymtPop.func = func;
	}
	setObjVal({"useYn_g1":"Y"});

	//draw popup
	layerToggle("divBuyPymtPop",{"mode":1,"top":130,"scrollYn":"Y"});

	readOnlyTrue(["pgBuyId_g1"]);
	if(mode == "MODIFY") {
		var url = "/app/buyPymt/getBuyPymt.do";
		var map = httpSend(url, params);
		if (!isEmpty(map)){
			let chgData = chgMapKey(map,"_g1");
			setObjVal(chgData);
		}else{
			alert("자료가 존재하지 않습니다.");
		}

		displayTrue(["delBtn"]);
		getElement("ordId_g1").focus();
	}else{
		readOnlyFalse(["pgBuyId_g1"]);
		displayFalse(["delBtn"]);
	}
};

BuyPymtPop.fnSave = function(){

	var valid = 0 || [
		["pgBuyId_g1","","자료(PG구매ID)를 확인하세요."]
		,["ordId_g1","","자료(주문ID)를 확인하세요."]
		,["ordCnclId_g1","","자료(주문취소ID)를 확인하세요."]
		,["mbrId_g1","","자료(멤버ID)를 확인하세요."]
		,["cardNo_g1","","자료(카드번호)를 확인하세요."]
		,["pymtDivCd_g1","","자료(결제구분코드)를 확인하세요."]
		,["pymtProgCd_g1","","자료(결제진행코드)를 확인하세요."]
		,["pymtAgcyCompCd_g1","","자료(결제대행사코드)를 확인하세요."]
		,["cardCompCd_g1","","자료(카드사코드)를 확인하세요."]
		,["cardInstalPeriod_g1","","자료(카드할부기간)를 확인하세요."]
		,["cardPymtAmt_g1","","자료(카드결제금액)를 확인하세요."]
		,["billKey_g1","","자료(정산키)를 확인하세요."]
		,["apvlNo_g1","","자료(승인번호)를 확인하세요."]
		,["txnId_g1","","자료(거래ID)를 확인하세요."]
		,["storeId_g1","","자료(상점ID)를 확인하세요."]
		,["storeKey_g1","","자료(상점Key)를 확인하세요."]
		,["prodNm_g1","","자료(상품명)를 확인하세요."]
		,["consrNm_g1","","자료(구매자명)를 확인하세요."]
		,["consrEmail_g1","","자료(구매자이메일)를 확인하세요."]
		,["splyPrice_g1","","자료(공급가액금액)를 확인하세요."]
		,["vat_g1","","자료(부가가치세)를 확인하세요."]
		,["taxExptAmt_g1","","자료(면세금액)를 확인하세요."]
		,["intFreeYn_g1","","자료(무이자여부)를 확인하세요."]
		,["instalMos_g1","","자료(할부개월수)를 확인하세요."]
		,["mallIp_g1","","자료(몰IP)를 확인하세요."]
		,["cardCompNm_g1","","자료(카드사명)를 확인하세요."]
		,["rstlCd_g1","","자료(결과코드)를 확인하세요."]
		,["rstlCont_g1","","자료(결과내용)를 확인하세요."]
		,["apvlDtm_g1","","자료(승인일시)를 확인하세요."]
		,["apvlCd_g1","","자료(승인코드)를 확인하세요."]
		,["apvlYn_g1","","자료(승인여부)를 확인하세요."]
		,["errCd_g1","","자료(오류코드)를 확인하세요."]
		,["errCont_g1","","자료(오류내용)를 확인하세요."]
		,["pymtCancYn_g1","","자료(결제취소여부)를 확인하세요."]
		,["pymtCancAmt_g1","","자료(결제취소금액)를 확인하세요."]
		,["pymtCancRsnCd_g1","","자료(결제취소사유코드)를 확인하세요."]
		,["pymtCancRsn_g1","","자료(결제취소사유)를 확인하세요."]
		,["txnCancPwd_g1","","자료(거래취소비밀번호)를 확인하세요."]
		,["cancId_g1","","자료(취소ID)를 확인하세요."]
		,["cancIp_g1","","자료(취소IP)를 확인하세요."]
		,["prtlCancYn_g1","","자료(부분취소여부)를 확인하세요."]
		,["cancRstlCd_g1","","자료(취소결과코드)를 확인하세요."]
		,["cancRstlCont_g1","","자료(취소결과내용)를 확인하세요."]
		,["cancDtm_g1","","자료(취소일시)를 확인하세요."]
		,["cancHms_g1","","자료(취소시분초)를 확인하세요."]
		,["cancNo_g1","","자료(취소번호)를 확인하세요."]
		,["cancDtlErrCd_g1","","자료(취소상세오류코드)를 확인하세요."]
		,["cancDtlErrCont_g1","","자료(취소상세오류내용)를 확인하세요."]
		,["billYmd_g1","","자료(정산년월일)를 확인하세요."]

		];
	if (checkValid( valid )==false) return;

	var ds  = getEleToBDataSet("divBuyPymtPop");
	var url = "/app/buyPymt/updateBuyPymt.do";
	if (BuyPymtPop.mode=="CREATE"){
		url = "/app/buyPymt/insertBuyPymt.do";
	}

	//data key change
	var sData = chgBackMapKey(ds.getRow(0),"_g1");
	var map = httpSend(url, sData);
	if (!isEmpty(map) && !isEmpty(map["resultCd"])){
		if (map["resultCd"] != "Y"){
			alert(map["resultMsg"]);
			return false;
		}
		if (!isEmpty(BuyPymtPop.func)){
			BuyPymtPop.func();
			BuyPymtPop.fnClose();
		}
	}else{
		alert("작업중 오류가 발생했습니다.");
	}

};

BuyPymtPop.fnDelete = function(){
	if (BuyPymtPop.mode != "MODIFY"){
		alert("조회후 삭제하세요.");
		return false;
	}
	if ( confirm("자료를 삭제하시겠습니까?")==false ) return;

	var url = "/app/buyPymt/deleteBuyPymt.do";
	var params = {};
	params["pgBuyId"] = getElement("pgBuyId_g1").value;

	var map = httpSend(url, params);
	if (!isEmpty(map) && !isEmpty(map["resultCd"])){
		if (map["resultCd"] != "Y"){
			alert(map["resultMsg"]);
			return false;
		}
		if (!isEmpty(BuyPymtPop.func)){
			BuyPymtPop.func();
			BuyPymtPop.fnClose();
		}
	}else{
		alert("작업중 오류가 발생했습니다.");
	}
};

BuyPymtPop.fnClose = function(){
	layerToggle("divBuyPymtPop",{"mode":0});
};
</script>
