<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="app/common/head" th:remove="tag"></th:block>
<script language="javascript" type="text/javascript">
window.onload = function() {
	//
}

//page
var pageClsCouponInfo = new pageCls("dvCouponInfoPageList",fnGetList,"totalCnt");

function fnGetList(){
	var params = {};
	if (isEmpty(getEVal("cpnId"))==false) params["cpnId"] = getEVal("cpnId");
	if (isEmpty(getEVal("cpnKindCd"))==false) params["cpnKindCd"] = getEVal("cpnKindCd");
	if (isEmpty(getEVal("cpnTypCd"))==false) params["cpnTypCd"] = getEVal("cpnTypCd");
	if (isEmpty(getEVal("cpnNm"))==false) params["cpnNm"] = getEVal("cpnNm");
	if (isEmpty(getEVal("alwaysYn"))==false) params["alwaysYn"] = getEVal("alwaysYn");
	if (isEmpty(getEVal("firstComeYn"))==false) params["firstComeYn"] = getEVal("firstComeYn");
	if (isEmpty(getEVal("dupePymtYn"))==false) params["dupePymtYn"] = getEVal("dupePymtYn");
	if (isEmpty(getEVal("useYn"))==false) params["useYn"] = getEVal("useYn");
	//page set
	params = pageClsCouponInfo.getPageInfo(params);

	var url = "/app/couponInfo/getCouponInfoPageList.do";
	//add page
	var rObj = httpSend(url,params);
	var ds = new BDataSet(rObj["payloads"]);
	
	var vArr = ["cpnId","cpnKindCd","cpnTypCd","cpnNm","alwaysYn","firstComeYn","dupePymtYn","useYn"];
	setDrawTbl("tblIdxList","dvTrList",vArr,ds,8);
	pageClsCouponInfo.setTotalRowsReload(rObj["totalRows"]);
}

function fnXlsCouponInfoDown(){
	var url = "/app/couponInfo/getCouponInfoExcelDown.do";
	var paramXls = {};
	if (isEmpty(getEVal("cpnId"))==false) paramXls["cpnId"] = getEVal("cpnId");
	if (isEmpty(getEVal("cpnKindCd"))==false) paramXls["cpnKindCd"] = getEVal("cpnKindCd");
	if (isEmpty(getEVal("cpnTypCd"))==false) paramXls["cpnTypCd"] = getEVal("cpnTypCd");
	if (isEmpty(getEVal("cpnNm"))==false) paramXls["cpnNm"] = getEVal("cpnNm");
	if (isEmpty(getEVal("alwaysYn"))==false) paramXls["alwaysYn"] = getEVal("alwaysYn");
	if (isEmpty(getEVal("firstComeYn"))==false) paramXls["firstComeYn"] = getEVal("firstComeYn");
	if (isEmpty(getEVal("dupePymtYn"))==false) paramXls["dupePymtYn"] = getEVal("dupePymtYn");
	if (isEmpty(getEVal("useYn"))==false) paramXls["useYn"] = getEVal("useYn");

	var params = {"xlsName":"쿠폰정보"
		,"sheetName":"시트"
		,"columnHeaders":["포인트지급ID","쿠폰종류코드[PS02]","쿠폰유형코드[PS03]","쿠폰명","상시여부","선착순여부","중복지급여부","사용여부"]
		,"columnNames":["cpnId","cpnKindCd","cpnTypCd","cpnNm","alwaysYn","firstComeYn","dupePymtYn","useYn"]
		,"condition": paramXls
	};
	var fData = mapToFormdata({"params":JSON.stringify(params)});

	getDownFile(url,fData);
}

function fnOpenDialog(mode){
	var key = "";
	if (mode == "MODIFY"){
		key = getTrKey("tblIdxList");
		if (isEmpty(key)){
			alert("수정 할 자료가 존재하지 않습니다.");
			return false;
		}
	}
	var params = {};
	if (!isEmpty(key)){
		var arr = key.split(",");
		params["cpnId"] = arr[0].trim();
	}
	CouponInfoPop.fnOpen(mode, params, fnGetList);
}

</script>

<body><div class="wrap">
<th:block th:include="app/common/header" th:remove="tag"></th:block>
<th:block th:include="app/common/gnb" th:remove="tag"></th:block>
<main>
	<div class="sub_wrap">
		<div class="cont">
			<div class="cont-item" id="dvCouponInfoSearch">
				<div class="cont-item-row">
					<div class="item">
						<label for="item01">검색1</label>
						<div class="wrap">
							<input type="text" name="search1" id="search1" placeholder="검색1" style="width:80%" title="검색1">
						</div>
					</div>
					<div class="item">
						<label for="item02">검색2</label>
						<div class="wrap">
							<input type="text" name="search2" id="search2" placeholder="검색2" style="width:80%" title="검색2">
						</div>
					</div>
				</div>
				<div class="cont-item-row cont-item-row-btn">
					<button type="button" class="btn primary default" onclick="fnGetList();">검색</button>
					<button type="button" class="btn white default reset" onclick="clearObjects('dvCouponInfoSearch');">초기화</button>
				</div>
			</div>
			<div class="cont-item h728">
				<div class="bar-top">
					<div class="bar-left">
						<select class="select" onchange="pageClsCouponInfo.setPageRows(getEVal(this));">
							<option value="10" selected>10건</option>
							<option value="20">20건</option>
							<option value="30">30건</option>
							<option value="50">50건</option>
						</select>
						<div class="bar-iblock">
							<span id="totalCnt" name="totalCnt"></span>
						</div>
					</div>

					<div class="bar-right">
						<div class="pagination-next-btns">
			                <button type="button" class="btn white default" onclick="fnOpenDialog('CREATE');">신규</button>
							<button type="button" class="btn primary default" onclick="fnOpenDialog('MODIFY');">수정</button>
						</div>
					</div>
				</div>
				<table id="tblIdxList" class="gridListTable">
					<colgroup>
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
					</colgroup>
					<thead>
						<tr>
							<th scope="col">포인트지급ID</th>
							<th scope="col">쿠폰종류코드[PS02]</th>
							<th scope="col">쿠폰유형코드[PS03]</th>
							<th scope="col">쿠폰명</th>
							<th scope="col">상시여부</th>
							<th scope="col">선착순여부</th>
							<th scope="col">중복지급여부</th>
							<th scope="col">사용여부</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
				<div id="dvTrList" style="display:none;">
				<!-- <tr key='{{cpnId}}' ondblclick='fnOpenDialog("MODIFY");'>
						<td>{{cpnId}}</td>
						<td>{{cpnKindCd}}</td>
						<td>{{cpnTypCd}}</td>
						<td>{{cpnNm}}</td>
						<td>{{alwaysYn}}</td>
						<td>{{firstComeYn}}</td>
						<td>{{dupePymtYn}}</td>
						<td>{{useYn}}</td>
					 </tr> -->
				</div>

				<div id="dvCouponInfoPageList" class="pagination"></div>
			</div>
		</div>
	</div>

<th:block th:include="app/couponInfo/couponInfoPop" th:remove="tag"></th:block>

</main>
<th:block th:include="app/common/footer" th:remove="tag"></th:block>
</div></body>
</html>
