<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="app/common/head" th:remove="tag"></th:block>
<script language="javascript" type="text/javascript">
window.onload = function() {
	//
}

//page
var pageClsPointIssue = new pageCls("dvPointIssuePageList",fnGetList,"totalCnt");

function fnGetList(){
	var params = {};
	if (isEmpty(getEVal("pointIssueId"))==false) params["pointIssueId"] = getEVal("pointIssueId");
	if (isEmpty(getEVal("pointId"))==false) params["pointId"] = getEVal("pointId");
	if (isEmpty(getEVal("pointCont"))==false) params["pointCont"] = getEVal("pointCont");
	if (isEmpty(getEVal("pymtCompId"))==false) params["pymtCompId"] = getEVal("pymtCompId");
	if (isEmpty(getEVal("pointApplFrYmd"))==false) params["pointApplFrYmd"] = getEVal("pointApplFrYmd");
	if (isEmpty(getEVal("pointApplToYmd"))==false) params["pointApplToYmd"] = getEVal("pointApplToYmd");
	if (isEmpty(getEVal("pointTotAmt"))==false) params["pointTotAmt"] = getEVal("pointTotAmt");
	if (isEmpty(getEVal("pointAmt"))==false) params["pointAmt"] = getEVal("pointAmt");
	if (isEmpty(getEVal("prodMinAmt"))==false) params["prodMinAmt"] = getEVal("prodMinAmt");
	if (isEmpty(getEVal("ordMinAmt"))==false) params["ordMinAmt"] = getEVal("ordMinAmt");
	if (isEmpty(getEVal("pointPaidTotAmt"))==false) params["pointPaidTotAmt"] = getEVal("pointPaidTotAmt");
	if (isEmpty(getEVal("useYn"))==false) params["useYn"] = getEVal("useYn");
	//page set
	params = pageClsPointIssue.getPageInfo(params);

	var url = "/app/pointIssue/getPointIssuePageList.do";
	//add page
	var rObj = httpSend(url,params);
	var ds = new BDataSet(rObj["payloads"]);
	
	var vArr = ["pointIssueId","pointId","pointCont","pymtCompId","pointApplFrYmd","pointApplToYmd","pointTotAmt","pointAmt","prodMinAmt","ordMinAmt","pointPaidTotAmt","useYn"];
	setDrawTbl("tblIdxList","dvTrList",vArr,ds,12);
	pageClsPointIssue.setTotalRowsReload(rObj["totalRows"]);
}

function fnXlsPointIssueDown(){
	var url = "/app/pointIssue/getPointIssueExcelDown.do";
	var paramXls = {};
	if (isEmpty(getEVal("pointIssueId"))==false) paramXls["pointIssueId"] = getEVal("pointIssueId");
	if (isEmpty(getEVal("pointId"))==false) paramXls["pointId"] = getEVal("pointId");
	if (isEmpty(getEVal("pointCont"))==false) paramXls["pointCont"] = getEVal("pointCont");
	if (isEmpty(getEVal("pymtCompId"))==false) paramXls["pymtCompId"] = getEVal("pymtCompId");
	if (isEmpty(getEVal("pointApplFrYmd"))==false) paramXls["pointApplFrYmd"] = getEVal("pointApplFrYmd");
	if (isEmpty(getEVal("pointApplToYmd"))==false) paramXls["pointApplToYmd"] = getEVal("pointApplToYmd");
	if (isEmpty(getEVal("pointTotAmt"))==false) paramXls["pointTotAmt"] = getEVal("pointTotAmt");
	if (isEmpty(getEVal("pointAmt"))==false) paramXls["pointAmt"] = getEVal("pointAmt");
	if (isEmpty(getEVal("prodMinAmt"))==false) paramXls["prodMinAmt"] = getEVal("prodMinAmt");
	if (isEmpty(getEVal("ordMinAmt"))==false) paramXls["ordMinAmt"] = getEVal("ordMinAmt");
	if (isEmpty(getEVal("pointPaidTotAmt"))==false) paramXls["pointPaidTotAmt"] = getEVal("pointPaidTotAmt");
	if (isEmpty(getEVal("useYn"))==false) paramXls["useYn"] = getEVal("useYn");

	var params = {"xlsName":"포인트발급"
		,"sheetName":"시트"
		,"columnHeaders":["포인트발급ID","포인트ID","포인트내용","지급업체ID","포인트적용시작일","포인트적용종료일","포인트총액","포인트금액","상품최소금액","주문최소금액","포인트지급총액","사용여부"]
		,"columnNames":["pointIssueId","pointId","pointCont","pymtCompId","pointApplFrYmd","pointApplToYmd","pointTotAmt","pointAmt","prodMinAmt","ordMinAmt","pointPaidTotAmt","useYn"]
		,"condition": paramXls
	};
	var fData = mapToFormdata({"params":JSON.stringify(params)});

	getDownFile(url,fData);
}

function fnOpenDialog(mode){
	var key = "";
	if (mode == "MODIFY"){
		key = getTrKey("tblIdxList");
		if (isEmpty(key)){
			alert("수정 할 자료가 존재하지 않습니다.");
			return false;
		}
	}
	var params = {};
	if (!isEmpty(key)){
		var arr = key.split(",");
		params["pointIssueId"] = arr[0].trim();
	}
	PointIssuePop.fnOpen(mode, params, fnGetList);
}

</script>

<body><div class="wrap">
<th:block th:include="app/common/header" th:remove="tag"></th:block>
<th:block th:include="app/common/gnb" th:remove="tag"></th:block>
<main>
	<div class="sub_wrap">
		<div class="cont">
			<div class="cont-item" id="dvPointIssueSearch">
				<div class="cont-item-row">
					<div class="item">
						<label for="item01">검색1</label>
						<div class="wrap">
							<input type="text" name="search1" id="search1" placeholder="검색1" style="width:80%" title="검색1">
						</div>
					</div>
					<div class="item">
						<label for="item02">검색2</label>
						<div class="wrap">
							<input type="text" name="search2" id="search2" placeholder="검색2" style="width:80%" title="검색2">
						</div>
					</div>
				</div>
				<div class="cont-item-row cont-item-row-btn">
					<button type="button" class="btn primary default" onclick="fnGetList();">검색</button>
					<button type="button" class="btn white default reset" onclick="clearObjects('dvPointIssueSearch');">초기화</button>
				</div>
			</div>
			<div class="cont-item h728">
				<div class="bar-top">
					<div class="bar-left">
						<select class="select" onchange="pageClsPointIssue.setPageRows(getEVal(this));">
							<option value="10" selected>10건</option>
							<option value="20">20건</option>
							<option value="30">30건</option>
							<option value="50">50건</option>
						</select>
						<div class="bar-iblock">
							<span id="totalCnt" name="totalCnt"></span>
						</div>
					</div>

					<div class="bar-right">
						<div class="pagination-next-btns">
			                <button type="button" class="btn white default" onclick="fnOpenDialog('CREATE');">신규</button>
							<button type="button" class="btn primary default" onclick="fnOpenDialog('MODIFY');">수정</button>
						</div>
					</div>
				</div>
				<table id="tblIdxList" class="gridListTable">
					<colgroup>
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
					</colgroup>
					<thead>
						<tr>
							<th scope="col">포인트발급ID</th>
							<th scope="col">포인트ID</th>
							<th scope="col">포인트내용</th>
							<th scope="col">지급업체ID</th>
							<th scope="col">포인트적용시작일</th>
							<th scope="col">포인트적용종료일</th>
							<th scope="col">포인트총액</th>
							<th scope="col">포인트금액</th>
							<th scope="col">상품최소금액</th>
							<th scope="col">주문최소금액</th>
							<th scope="col">포인트지급총액</th>
							<th scope="col">사용여부</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
				<div id="dvTrList" style="display:none;">
				<!-- <tr key='{{pointIssueId}}' ondblclick='fnOpenDialog("MODIFY");'>
						<td>{{pointIssueId}}</td>
						<td>{{pointId}}</td>
						<td>{{pointCont}}</td>
						<td>{{pymtCompId}}</td>
						<td>{{pointApplFrYmd}}</td>
						<td>{{pointApplToYmd}}</td>
						<td>{{pointTotAmt}}</td>
						<td>{{pointAmt}}</td>
						<td>{{prodMinAmt}}</td>
						<td>{{ordMinAmt}}</td>
						<td>{{pointPaidTotAmt}}</td>
						<td>{{useYn}}</td>
					 </tr> -->
				</div>

				<div id="dvPointIssuePageList" class="pagination"></div>
			</div>
		</div>
	</div>

<th:block th:include="app/pointIssue/pointIssuePop" th:remove="tag"></th:block>

</main>
<th:block th:include="app/common/footer" th:remove="tag"></th:block>
</div></body>
</html>
