<div id="divCartPop" class="sub_wrap" style="display:none;width:92%" title="장바구니 정보">
	<div class="cont">
		<div class="cont-item cont-item01">
			<div class="cont-item-row item-title">
				<h4>장바구니 등록</h4>
			</div>
			<div class="cont-item-wrap">
				<div class="cont-item-row border-top">
					<div class="item">
						<label for="cartId_g1">장바구니ID</label>
						<div class="wrap">
							<input type="text" id="cartId_g1" name="cartId_g1" />
						</div>
					</div>
					<div class="item">
						<label for="mbrId_g1">멤버ID</label>
						<div class="wrap">
							<input type="text" id="mbrId_g1" name="mbrId_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="prodId_g1">상품ID</label>
						<div class="wrap">
							<input type="text" id="prodId_g1" name="prodId_g1" />
						</div>
					</div>
					<div class="item">
						<label for="prodQty_g1">상품수량</label>
						<div class="wrap">
							<input type="text" id="prodQty_g1" name="prodQty_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="prodAmt_g1">상품금액</label>
						<div class="wrap">
							<input type="text" id="prodAmt_g1" name="prodAmt_g1" />
						</div>
					</div>
					<div class="item">
						<label for="optTotAmt_g1">옵션총금액</label>
						<div class="wrap">
							<input type="text" id="optTotAmt_g1" name="optTotAmt_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="cartDtm_g1">장바구니일시</label>
						<div class="wrap">
							<input type="text" id="cartDtm_g1" name="cartDtm_g1" />
						</div>
					</div>
					<div class="item">
						<label for="prodPathCd_g1">상품경로코드[PD08]</label>
						<div class="wrap">
							<input type="text" id="prodPathCd_g1" name="prodPathCd_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<h5>사용여부</h5>
						<div class="wrap">
							<label class="rb" for="useYn_Y">사용
								<input type="radio" name="useYn_g1" id="useYn_Y" value="Y" checked="checked">
								<span class="checkmark"></span>
							</label>
							<label class="rb" for="useYn_N">미사용
								<input type="radio" name="useYn_g1" id="useYn_N" value="N">
								<span class="checkmark"></span>
							</label>
						</div>
					</div>
					<div class="item">
					</div>
				</div>
				<div class="cont-item-row cont-item-row-btn right">
					<button id="saveBtn" name="saveBtn" class="btn default" onclick="CartPop.fnSave();"><span>저장</span></button>
					<button id="delBtn" name="delBtn" class="btn default" onclick="CartPop.fnDelete();"><span>삭제</span></button>
					<button class="btn write default" onclick="CartPop.fnClose();"><span>닫기</span></button>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
var CartPop = new $W.load("divCartPop");
CartPop.ready(function(){
	//
});

CartPop.fnOpen = function(mode, params, func) {
	clearObjects("divCartPop");
	CartPop.mode = mode;
	if (!isEmpty(func)){
		CartPop.func = func;
	}
	setObjVal({"useYn_g1":"Y"});

	//draw popup
	layerToggle("divCartPop",{"mode":1,"top":130,"scrollYn":"Y"});

	readOnlyTrue(["cartId_g1"]);
	if(mode == "MODIFY") {
		var url = "/app/cart/getCart.do";
		var map = httpSend(url, params);
		if (!isEmpty(map)){
			let chgData = chgMapKey(map,"_g1");
			setObjVal(chgData);
		}else{
			alert("자료가 존재하지 않습니다.");
		}

		displayTrue(["delBtn"]);
		getElement("mbrId_g1").focus();
	}else{
		readOnlyFalse(["cartId_g1"]);
		displayFalse(["delBtn"]);
	}
};

CartPop.fnSave = function(){

	var valid = 0 || [
		["cartId_g1","","자료(장바구니ID)를 확인하세요."]
		,["mbrId_g1","","자료(멤버ID)를 확인하세요."]
		,["prodId_g1","","자료(상품ID)를 확인하세요."]
		,["prodQty_g1","","자료(상품수량)를 확인하세요."]
		,["prodAmt_g1","","자료(상품금액)를 확인하세요."]
		,["optTotAmt_g1","","자료(옵션총금액)를 확인하세요."]
		,["cartDtm_g1","","자료(장바구니일시)를 확인하세요."]
		,["prodPathCd_g1","","자료(상품경로코드[PD08])를 확인하세요."]
		,["useYn_g1","","자료(사용여부)를 확인하세요."]

		];
	if (checkValid( valid )==false) return;

	var ds  = getEleToBDataSet("divCartPop");
	var url = "/app/cart/updateCart.do";
	if (CartPop.mode=="CREATE"){
		url = "/app/cart/insertCart.do";
	}

	//data key change
	var sData = chgBackMapKey(ds.getRow(0),"_g1");
	var map = httpSend(url, sData);
	if (!isEmpty(map) && !isEmpty(map["resultCd"])){
		if (map["resultCd"] != "Y"){
			alert(map["resultMsg"]);
			return false;
		}
		if (!isEmpty(CartPop.func)){
			CartPop.func();
			CartPop.fnClose();
		}
	}else{
		alert("작업중 오류가 발생했습니다.");
	}

};

CartPop.fnDelete = function(){
	if (CartPop.mode != "MODIFY"){
		alert("조회후 삭제하세요.");
		return false;
	}
	if ( confirm("자료를 삭제하시겠습니까?")==false ) return;

	var url = "/app/cart/deleteCart.do";
	var params = {};
	params["cartId"] = getElement("cartId_g1").value;

	var map = httpSend(url, params);
	if (!isEmpty(map) && !isEmpty(map["resultCd"])){
		if (map["resultCd"] != "Y"){
			alert(map["resultMsg"]);
			return false;
		}
		if (!isEmpty(CartPop.func)){
			CartPop.func();
			CartPop.fnClose();
		}
	}else{
		alert("작업중 오류가 발생했습니다.");
	}
};

CartPop.fnClose = function(){
	layerToggle("divCartPop",{"mode":0});
};
</script>
