<div id="divOrderPop" class="sub_wrap" style="display:none;width:92%" title="주문 정보">
	<div class="cont">
		<div class="cont-item cont-item01">
			<div class="cont-item-row item-title">
				<h4>주문 등록</h4>
			</div>
			<div class="cont-item-wrap">
				<div class="cont-item-row border-top">
					<div class="item">
						<label for="ordId_g1">주문ID</label>
						<div class="wrap">
							<input type="text" id="ordId_g1" name="ordId_g1" />
						</div>
					</div>
					<div class="item">
						<label for="mbrId_g1">멤버ID</label>
						<div class="wrap">
							<input type="text" id="mbrId_g1" name="mbrId_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="ordProgCd_g1">주문진행코드[OD01]</label>
						<div class="wrap">
							<input type="text" id="ordProgCd_g1" name="ordProgCd_g1" />
						</div>
					</div>
					<div class="item">
						<label for="prodQty_g1">상품수량</label>
						<div class="wrap">
							<input type="text" id="prodQty_g1" name="prodQty_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="prodTotAmt_g1">상품총액</label>
						<div class="wrap">
							<input type="text" id="prodTotAmt_g1" name="prodTotAmt_g1" />
						</div>
					</div>
					<div class="item">
						<label for="optTotAmt_g1">옵션총액</label>
						<div class="wrap">
							<input type="text" id="optTotAmt_g1" name="optTotAmt_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="delivTotAmt_g1">배송비총액</label>
						<div class="wrap">
							<input type="text" id="delivTotAmt_g1" name="delivTotAmt_g1" />
						</div>
					</div>
					<div class="item">
						<label for="delivFreeAmt_g1">배송비무료액</label>
						<div class="wrap">
							<input type="text" id="delivFreeAmt_g1" name="delivFreeAmt_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="delivChrgAmt_g1">배송비부과액</label>
						<div class="wrap">
							<input type="text" id="delivChrgAmt_g1" name="delivChrgAmt_g1" />
						</div>
					</div>
					<div class="item">
						<label for="delivChrgWeight_g1">배송부과무게</label>
						<div class="wrap">
							<input type="text" id="delivChrgWeight_g1" name="delivChrgWeight_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="delivChrgQty_g1">배송부과수량</label>
						<div class="wrap">
							<input type="text" id="delivChrgQty_g1" name="delivChrgQty_g1" />
						</div>
					</div>
					<div class="item">
						<label for="ordTotAmt_g1">주문총액</label>
						<div class="wrap">
							<input type="text" id="ordTotAmt_g1" name="ordTotAmt_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="pymtPoint_g1">지급포인트</label>
						<div class="wrap">
							<input type="text" id="pymtPoint_g1" name="pymtPoint_g1" />
						</div>
					</div>
					<div class="item">
						<label for="usePoint_g1">사용포인트</label>
						<div class="wrap">
							<input type="text" id="usePoint_g1" name="usePoint_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="cpnId_g1">쿠폰ID</label>
						<div class="wrap">
							<input type="text" id="cpnId_g1" name="cpnId_g1" />
						</div>
					</div>
					<div class="item">
						<label for="cpnAmt_g1">쿠폰금액</label>
						<div class="wrap">
							<input type="text" id="cpnAmt_g1" name="cpnAmt_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="pymtTotAmt_g1">결제총액</label>
						<div class="wrap">
							<input type="text" id="pymtTotAmt_g1" name="pymtTotAmt_g1" />
						</div>
					</div>
					<div class="item">
						<label for="pymtMethCd_g1">결제수단코드[OD02]</label>
						<div class="wrap">
							<input type="text" id="pymtMethCd_g1" name="pymtMethCd_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="ordDtm_g1">주문일시</label>
						<div class="wrap">
							<input type="text" id="ordDtm_g1" name="ordDtm_g1" />
						</div>
					</div>
					<div class="item">
						<label for="taxCd_g1">과세코드[OD03]</label>
						<div class="wrap">
							<input type="text" id="taxCd_g1" name="taxCd_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="finalDelivYmd_g1">최종배송일</label>
						<div class="wrap">
							<input type="text" id="finalDelivYmd_g1" name="finalDelivYmd_g1" />
						</div>
					</div>
					<div class="item">
						<label for="ordDueYmd_g1">주문마감일</label>
						<div class="wrap">
							<input type="text" id="ordDueYmd_g1" name="ordDueYmd_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="mbrCfmDtm_g1">고객확정일시</label>
						<div class="wrap">
							<input type="text" id="mbrCfmDtm_g1" name="mbrCfmDtm_g1" />
						</div>
					</div>
					<div class="item">
						<label for="exchReqDtm_g1">교환요청일시</label>
						<div class="wrap">
							<input type="text" id="exchReqDtm_g1" name="exchReqDtm_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="ordCancReqDtm_g1">주문취소요청일시</label>
						<div class="wrap">
							<input type="text" id="ordCancReqDtm_g1" name="ordCancReqDtm_g1" />
						</div>
					</div>
					<div class="item">
						<label for="ordCancAmt_g1">주문취소액</label>
						<div class="wrap">
							<input type="text" id="ordCancAmt_g1" name="ordCancAmt_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="finalPymtAmt_g1">최종결제액</label>
						<div class="wrap">
							<input type="text" id="finalPymtAmt_g1" name="finalPymtAmt_g1" />
						</div>
					</div>
					<div class="item">
					</div>
				</div>
				<div class="cont-item-row cont-item-row-btn right">
					<button id="saveBtn" name="saveBtn" class="btn default" onclick="OrderPop.fnSave();"><span>저장</span></button>
					<button id="delBtn" name="delBtn" class="btn default" onclick="OrderPop.fnDelete();"><span>삭제</span></button>
					<button class="btn write default" onclick="OrderPop.fnClose();"><span>닫기</span></button>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
var OrderPop = new $W.load("divOrderPop");
OrderPop.ready(function(){
	//
});

OrderPop.fnOpen = function(mode, params, func) {
	clearObjects("divOrderPop");
	OrderPop.mode = mode;
	if (!isEmpty(func)){
		OrderPop.func = func;
	}
	setObjVal({"useYn_g1":"Y"});

	//draw popup
	layerToggle("divOrderPop",{"mode":1,"top":130,"scrollYn":"Y"});

	readOnlyTrue(["ordId_g1"]);
	if(mode == "MODIFY") {
		var url = "/app/order/getOrder.do";
		var map = httpSend(url, params);
		if (!isEmpty(map)){
			let chgData = chgMapKey(map,"_g1");
			setObjVal(chgData);
		}else{
			alert("자료가 존재하지 않습니다.");
		}

		displayTrue(["delBtn"]);
		getElement("mbrId_g1").focus();
	}else{
		readOnlyFalse(["ordId_g1"]);
		displayFalse(["delBtn"]);
	}
};

OrderPop.fnSave = function(){

	var valid = 0 || [
		["ordId_g1","","자료(주문ID)를 확인하세요."]
		,["mbrId_g1","","자료(멤버ID)를 확인하세요."]
		,["ordProgCd_g1","","자료(주문진행코드[OD01])를 확인하세요."]
		,["prodQty_g1","","자료(상품수량)를 확인하세요."]
		,["prodTotAmt_g1","","자료(상품총액)를 확인하세요."]
		,["optTotAmt_g1","","자료(옵션총액)를 확인하세요."]
		,["delivTotAmt_g1","","자료(배송비총액)를 확인하세요."]
		,["delivFreeAmt_g1","","자료(배송비무료액)를 확인하세요."]
		,["delivChrgAmt_g1","","자료(배송비부과액)를 확인하세요."]
		,["delivChrgWeight_g1","","자료(배송부과무게)를 확인하세요."]
		,["delivChrgQty_g1","","자료(배송부과수량)를 확인하세요."]
		,["ordTotAmt_g1","","자료(주문총액)를 확인하세요."]
		,["pymtPoint_g1","","자료(지급포인트)를 확인하세요."]
		,["usePoint_g1","","자료(사용포인트)를 확인하세요."]
		,["cpnId_g1","","자료(쿠폰ID)를 확인하세요."]
		,["cpnAmt_g1","","자료(쿠폰금액)를 확인하세요."]
		,["pymtTotAmt_g1","","자료(결제총액)를 확인하세요."]
		,["pymtMethCd_g1","","자료(결제수단코드[OD02])를 확인하세요."]
		,["ordDtm_g1","","자료(주문일시)를 확인하세요."]
		,["taxCd_g1","","자료(과세코드[OD03])를 확인하세요."]
		,["finalDelivYmd_g1","","자료(최종배송일)를 확인하세요."]
		,["ordDueYmd_g1","","자료(주문마감일)를 확인하세요."]
		,["mbrCfmDtm_g1","","자료(고객확정일시)를 확인하세요."]
		,["exchReqDtm_g1","","자료(교환요청일시)를 확인하세요."]
		,["ordCancReqDtm_g1","","자료(주문취소요청일시)를 확인하세요."]
		,["ordCancAmt_g1","","자료(주문취소액)를 확인하세요."]
		,["finalPymtAmt_g1","","자료(최종결제액)를 확인하세요."]

		];
	if (checkValid( valid )==false) return;

	var ds  = getEleToBDataSet("divOrderPop");
	var url = "/app/order/updateOrder.do";
	if (OrderPop.mode=="CREATE"){
		url = "/app/order/insertOrder.do";
	}

	//data key change
	var sData = chgBackMapKey(ds.getRow(0),"_g1");
	var map = httpSend(url, sData);
	if (!isEmpty(map) && !isEmpty(map["resultCd"])){
		if (map["resultCd"] != "Y"){
			alert(map["resultMsg"]);
			return false;
		}
		if (!isEmpty(OrderPop.func)){
			OrderPop.func();
			OrderPop.fnClose();
		}
	}else{
		alert("작업중 오류가 발생했습니다.");
	}

};

OrderPop.fnDelete = function(){
	if (OrderPop.mode != "MODIFY"){
		alert("조회후 삭제하세요.");
		return false;
	}
	if ( confirm("자료를 삭제하시겠습니까?")==false ) return;

	var url = "/app/order/deleteOrder.do";
	var params = {};
	params["ordId"] = getElement("ordId_g1").value;

	var map = httpSend(url, params);
	if (!isEmpty(map) && !isEmpty(map["resultCd"])){
		if (map["resultCd"] != "Y"){
			alert(map["resultMsg"]);
			return false;
		}
		if (!isEmpty(OrderPop.func)){
			OrderPop.func();
			OrderPop.fnClose();
		}
	}else{
		alert("작업중 오류가 발생했습니다.");
	}
};

OrderPop.fnClose = function(){
	layerToggle("divOrderPop",{"mode":0});
};
</script>
