<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="app/common/head" th:remove="tag"></th:block>
<script language="javascript" type="text/javascript">
window.onload = function() {
	//
}

//page
var pageClsOrderExch = new pageCls("dvOrderExchPageList",fnGetList,"totalCnt");

function fnGetList(){
	var params = {};
	if (isEmpty(getEVal("ordExchId"))==false) params["ordExchId"] = getEVal("ordExchId");
	if (isEmpty(getEVal("ordId"))==false) params["ordId"] = getEVal("ordId");
	if (isEmpty(getEVal("exchReqDtm"))==false) params["exchReqDtm"] = getEVal("exchReqDtm");
	if (isEmpty(getEVal("exchCollDtm"))==false) params["exchCollDtm"] = getEVal("exchCollDtm");
	if (isEmpty(getEVal("exchCpltDtm"))==false) params["exchCpltDtm"] = getEVal("exchCpltDtm");
	if (isEmpty(getEVal("collDelivFee"))==false) params["collDelivFee"] = getEVal("collDelivFee");
	if (isEmpty(getEVal("exchDelivFee"))==false) params["exchDelivFee"] = getEVal("exchDelivFee");
	if (isEmpty(getEVal("delivFeeTgtCd"))==false) params["delivFeeTgtCd"] = getEVal("delivFeeTgtCd");
	if (isEmpty(getEVal("pymtCompId"))==false) params["pymtCompId"] = getEVal("pymtCompId");
	//page set
	params = pageClsOrderExch.getPageInfo(params);

	var url = "/app/orderExch/getOrderExchPageList.do";
	//add page
	var rObj = httpSend(url,params);
	var ds = new BDataSet(rObj["payloads"]);
	
	var vArr = ["ordExchId","ordId","exchReqDtm","exchCollDtm","exchCpltDtm","collDelivFee","exchDelivFee","delivFeeTgtCd","pymtCompId"];
	setDrawTbl("tblIdxList","dvTrList",vArr,ds,9);
	pageClsOrderExch.setTotalRowsReload(rObj["totalRows"]);
}

function fnXlsOrderExchDown(){
	var url = "/app/orderExch/getOrderExchExcelDown.do";
	var paramXls = {};
	if (isEmpty(getEVal("ordExchId"))==false) paramXls["ordExchId"] = getEVal("ordExchId");
	if (isEmpty(getEVal("ordId"))==false) paramXls["ordId"] = getEVal("ordId");
	if (isEmpty(getEVal("exchReqDtm"))==false) paramXls["exchReqDtm"] = getEVal("exchReqDtm");
	if (isEmpty(getEVal("exchCollDtm"))==false) paramXls["exchCollDtm"] = getEVal("exchCollDtm");
	if (isEmpty(getEVal("exchCpltDtm"))==false) paramXls["exchCpltDtm"] = getEVal("exchCpltDtm");
	if (isEmpty(getEVal("collDelivFee"))==false) paramXls["collDelivFee"] = getEVal("collDelivFee");
	if (isEmpty(getEVal("exchDelivFee"))==false) paramXls["exchDelivFee"] = getEVal("exchDelivFee");
	if (isEmpty(getEVal("delivFeeTgtCd"))==false) paramXls["delivFeeTgtCd"] = getEVal("delivFeeTgtCd");
	if (isEmpty(getEVal("pymtCompId"))==false) paramXls["pymtCompId"] = getEVal("pymtCompId");

	var params = {"xlsName":"주문교환"
		,"sheetName":"시트"
		,"columnHeaders":["주문배송ID","주문ID","교환요청일시","교환수거일시","교환완료일시","수거배송비","교환배송비","배송비대상코드[OD05]","지급사ID"]
		,"columnNames":["ordExchId","ordId","exchReqDtm","exchCollDtm","exchCpltDtm","collDelivFee","exchDelivFee","delivFeeTgtCd","pymtCompId"]
		,"condition": paramXls
	};
	var fData = mapToFormdata({"params":JSON.stringify(params)});

	getDownFile(url,fData);
}

function fnOpenDialog(mode){
	var key = "";
	if (mode == "MODIFY"){
		key = getTrKey("tblIdxList");
		if (isEmpty(key)){
			alert("수정 할 자료가 존재하지 않습니다.");
			return false;
		}
	}
	var params = {};
	if (!isEmpty(key)){
		var arr = key.split(",");
		params["ordExchId"] = arr[0].trim();
	}
	OrderExchPop.fnOpen(mode, params, fnGetList);
}

</script>

<body><div class="wrap">
<th:block th:include="app/common/header" th:remove="tag"></th:block>
<th:block th:include="app/common/gnb" th:remove="tag"></th:block>
<main>
	<div class="sub_wrap">
		<div class="cont">
			<div class="cont-item" id="dvOrderExchSearch">
				<div class="cont-item-row">
					<div class="item">
						<label for="item01">검색1</label>
						<div class="wrap">
							<input type="text" name="search1" id="search1" placeholder="검색1" style="width:80%" title="검색1">
						</div>
					</div>
					<div class="item">
						<label for="item02">검색2</label>
						<div class="wrap">
							<input type="text" name="search2" id="search2" placeholder="검색2" style="width:80%" title="검색2">
						</div>
					</div>
				</div>
				<div class="cont-item-row cont-item-row-btn">
					<button type="button" class="btn primary default" onclick="fnGetList();">검색</button>
					<button type="button" class="btn white default reset" onclick="clearObjects('dvOrderExchSearch');">초기화</button>
				</div>
			</div>
			<div class="cont-item h728">
				<div class="bar-top">
					<div class="bar-left">
						<select class="select" onchange="pageClsOrderExch.setPageRows(getEVal(this));">
							<option value="10" selected>10건</option>
							<option value="20">20건</option>
							<option value="30">30건</option>
							<option value="50">50건</option>
						</select>
						<div class="bar-iblock">
							<span id="totalCnt" name="totalCnt"></span>
						</div>
					</div>

					<div class="bar-right">
						<div class="pagination-next-btns">
			                <button type="button" class="btn white default" onclick="fnOpenDialog('CREATE');">신규</button>
							<button type="button" class="btn primary default" onclick="fnOpenDialog('MODIFY');">수정</button>
						</div>
					</div>
				</div>
				<table id="tblIdxList" class="gridListTable">
					<colgroup>
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
					</colgroup>
					<thead>
						<tr>
							<th scope="col">주문배송ID</th>
							<th scope="col">주문ID</th>
							<th scope="col">교환요청일시</th>
							<th scope="col">교환수거일시</th>
							<th scope="col">교환완료일시</th>
							<th scope="col">수거배송비</th>
							<th scope="col">교환배송비</th>
							<th scope="col">배송비대상코드[OD05]</th>
							<th scope="col">지급사ID</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
				<div id="dvTrList" style="display:none;">
				<!-- <tr key='{{ordExchId}}' ondblclick='fnOpenDialog("MODIFY");'>
						<td>{{ordExchId}}</td>
						<td>{{ordId}}</td>
						<td>{{exchReqDtm}}</td>
						<td>{{exchCollDtm}}</td>
						<td>{{exchCpltDtm}}</td>
						<td>{{collDelivFee}}</td>
						<td>{{exchDelivFee}}</td>
						<td>{{delivFeeTgtCd}}</td>
						<td>{{pymtCompId}}</td>
					 </tr> -->
				</div>

				<div id="dvOrderExchPageList" class="pagination"></div>
			</div>
		</div>
	</div>

<th:block th:include="app/orderExch/orderExchPop" th:remove="tag"></th:block>

</main>
<th:block th:include="app/common/footer" th:remove="tag"></th:block>
</div></body>
</html>
