<div id="divUserInfoPop" class="sub_wrap" style="display:none;width:92%" title="사용자정보 정보">
	<div class="cont">
		<div class="cont-item cont-item01">
			<div class="cont-item-row item-title">
				<h4>사용자정보 등록</h4>
			</div>
			<div class="cont-item-wrap">
				<div class="cont-item-row border-top">
					<div class="item">
						<label for="userId_g1">사용자ID</label>
						<div class="wrap">
							<input type="text" id="userId_g1" name="userId_g1" />
						</div>
					</div>
					<div class="item">
						<label for="userNm_g1">성명</label>
						<div class="wrap">
							<input type="text" id="userNm_g1" name="userNm_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="userPwd_g1">비밀번호</label>
						<div class="wrap">
							<input type="text" id="userPwd_g1" name="userPwd_g1" />
						</div>
					</div>
					<div class="item">
						<label for="cntryCd_g1">국가코드</label>
						<div class="wrap">
							<input type="text" id="cntryCd_g1" name="cntryCd_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="compId_g1">업체ID</label>
						<div class="wrap">
							<input type="text" id="compId_g1" name="compId_g1" />
						</div>
					</div>
					<div class="item">
						<label for="deptCd_g1">부서코드</label>
						<div class="wrap">
							<input type="text" id="deptCd_g1" name="deptCd_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="deptNm_g1">부서명</label>
						<div class="wrap">
							<input type="text" id="deptNm_g1" name="deptNm_g1" />
						</div>
					</div>
					<div class="item">
						<label for="telNo_g1">전화번호</label>
						<div class="wrap">
							<input type="text" id="telNo_g1" name="telNo_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="phoneNo_g1">폰번호</label>
						<div class="wrap">
							<input type="text" id="phoneNo_g1" name="phoneNo_g1" />
						</div>
					</div>
					<div class="item">
						<label for="email_g1">이메일주소</label>
						<div class="wrap">
							<input type="text" id="email_g1" name="email_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="pswdErrCnt_g1">비번오류횟수</label>
						<div class="wrap">
							<input type="text" id="pswdErrCnt_g1" name="pswdErrCnt_g1" />
						</div>
					</div>
					<div class="item">
						<label for="grade_g1">보안등급[B01]</label>
						<div class="wrap">
							<input type="text" id="grade_g1" name="grade_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="pswdExpectedYmd_g1">비밀번호변경예정일</label>
						<div class="wrap">
							<input type="text" id="pswdExpectedYmd_g1" name="pswdExpectedYmd_g1" />
						</div>
					</div>
					<div class="item">
						<label for="initUserPswd_g1">초기비밀번호</label>
						<div class="wrap">
							<input type="text" id="initUserPswd_g1" name="initUserPswd_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="mailAgreeYn_g1">안내메일수신동의여부</label>
						<div class="wrap">
							<input type="text" id="mailAgreeYn_g1" name="mailAgreeYn_g1" />
						</div>
					</div>
					<div class="item">
						<label for="smsAgreeYn_g1">SMS수신동의여부</label>
						<div class="wrap">
							<input type="text" id="smsAgreeYn_g1" name="smsAgreeYn_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="ref1_g1">참조1</label>
						<div class="wrap">
							<input type="text" id="ref1_g1" name="ref1_g1" />
						</div>
					</div>
					<div class="item">
						<label for="ref2_g1">참조2</label>
						<div class="wrap">
							<input type="text" id="ref2_g1" name="ref2_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="lockYn_g1">LOCK여부</label>
						<div class="wrap">
							<input type="text" id="lockYn_g1" name="lockYn_g1" />
						</div>
					</div>
					<div class="item">
						<label for="expectedYn_g1">만료여부</label>
						<div class="wrap">
							<input type="text" id="expectedYn_g1" name="expectedYn_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<h5>사용여부</h5>
						<div class="wrap">
							<label class="rb" for="useYn_Y">사용
								<input type="radio" name="useYn_g1" id="useYn_Y" value="Y" checked="checked">
								<span class="checkmark"></span>
							</label>
							<label class="rb" for="useYn_N">미사용
								<input type="radio" name="useYn_g1" id="useYn_N" value="N">
								<span class="checkmark"></span>
							</label>
						</div>
					</div>
					<div class="item">
						<label for="cid_g1">CID</label>
						<div class="wrap">
							<input type="text" id="cid_g1" name="cid_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="certDn_g1">인증서DN</label>
						<div class="wrap">
							<input type="text" id="certDn_g1" name="certDn_g1" />
						</div>
					</div>
					<div class="item">
						<label for="certSign_g1">인증서SIGN</label>
						<div class="wrap">
							<input type="text" id="certSign_g1" name="certSign_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row cont-item-row-btn right">
					<button id="saveBtn" name="saveBtn" class="btn default" onclick="UserInfoPop.fnSave();"><span>저장</span></button>
					<button id="delBtn" name="delBtn" class="btn default" onclick="UserInfoPop.fnDelete();"><span>삭제</span></button>
					<button class="btn write default" onclick="UserInfoPop.fnClose();"><span>닫기</span></button>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
var UserInfoPop = new $W.load("divUserInfoPop");
UserInfoPop.ready(function(){
	//
});

UserInfoPop.fnOpen = function(mode, params, func) {
	clearObjects("divUserInfoPop");
	UserInfoPop.mode = mode;
	if (!isEmpty(func)){
		UserInfoPop.func = func;
	}
	setObjVal({"useYn_g1":"Y"});

	//draw popup
	layerToggle("divUserInfoPop",{"mode":1,"top":130,"scrollYn":"Y"});

	readOnlyTrue(["userId_g1"]);
	if(mode == "MODIFY") {
		var url = "/app/userInfo/getUserInfo.do";
		var map = httpSend(url, params);
		if (!isEmpty(map)){
			let chgData = chgMapKey(map,"_g1");
			setObjVal(chgData);
		}else{
			alert("자료가 존재하지 않습니다.");
		}

		displayTrue(["delBtn"]);
		getElement("userNm_g1").focus();
	}else{
		readOnlyFalse(["userId_g1"]);
		displayFalse(["delBtn"]);
	}
};

UserInfoPop.fnSave = function(){

	var valid = 0 || [
		["userId_g1","","자료(사용자ID)를 확인하세요."]
		,["userNm_g1","","자료(성명)를 확인하세요."]
		,["userPwd_g1","","자료(비밀번호)를 확인하세요."]
		,["cntryCd_g1","","자료(국가코드)를 확인하세요."]
		,["compId_g1","","자료(업체ID)를 확인하세요."]
		,["deptCd_g1","","자료(부서코드)를 확인하세요."]
		,["deptNm_g1","","자료(부서명)를 확인하세요."]
		,["telNo_g1","","자료(전화번호)를 확인하세요."]
		,["phoneNo_g1","","자료(폰번호)를 확인하세요."]
		,["email_g1","","자료(이메일주소)를 확인하세요."]
		,["pswdErrCnt_g1","","자료(비번오류횟수)를 확인하세요."]
		,["grade_g1","","자료(보안등급[B01])를 확인하세요."]
		,["pswdExpectedYmd_g1","","자료(비밀번호변경예정일)를 확인하세요."]
		,["initUserPswd_g1","","자료(초기비밀번호)를 확인하세요."]
		,["mailAgreeYn_g1","","자료(안내메일수신동의여부)를 확인하세요."]
		,["smsAgreeYn_g1","","자료(SMS수신동의여부)를 확인하세요."]
		,["ref1_g1","","자료(참조1)를 확인하세요."]
		,["ref2_g1","","자료(참조2)를 확인하세요."]
		,["lockYn_g1","","자료(LOCK여부)를 확인하세요."]
		,["expectedYn_g1","","자료(만료여부)를 확인하세요."]
		,["useYn_g1","","자료(사용여부)를 확인하세요."]
		,["cid_g1","","자료(CID)를 확인하세요."]
		,["certDn_g1","","자료(인증서DN)를 확인하세요."]
		,["certSign_g1","","자료(인증서SIGN)를 확인하세요."]

		];
	if (checkValid( valid )==false) return;

	var ds  = getEleToBDataSet("divUserInfoPop");
	var url = "/app/userInfo/updateUserInfo.do";
	if (UserInfoPop.mode=="CREATE"){
		url = "/app/userInfo/insertUserInfo.do";
	}

	//data key change
	var sData = chgBackMapKey(ds.getRow(0),"_g1");
	var map = httpSend(url, sData);
	if (!isEmpty(map) && !isEmpty(map["resultCd"])){
		if (map["resultCd"] != "Y"){
			alert(map["resultMsg"]);
			return false;
		}
		if (!isEmpty(UserInfoPop.func)){
			UserInfoPop.func();
			UserInfoPop.fnClose();
		}
	}else{
		alert("작업중 오류가 발생했습니다.");
	}

};

UserInfoPop.fnDelete = function(){
	if (UserInfoPop.mode != "MODIFY"){
		alert("조회후 삭제하세요.");
		return false;
	}
	if ( confirm("자료를 삭제하시겠습니까?")==false ) return;

	var url = "/app/userInfo/deleteUserInfo.do";
	var params = {};
	params["userId"] = getElement("userId_g1").value;

	var map = httpSend(url, params);
	if (!isEmpty(map) && !isEmpty(map["resultCd"])){
		if (map["resultCd"] != "Y"){
			alert(map["resultMsg"]);
			return false;
		}
		if (!isEmpty(UserInfoPop.func)){
			UserInfoPop.func();
			UserInfoPop.fnClose();
		}
	}else{
		alert("작업중 오류가 발생했습니다.");
	}
};

UserInfoPop.fnClose = function(){
	layerToggle("divUserInfoPop",{"mode":0});
};
</script>
