<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="app/common/head" th:remove="tag"></th:block>
<script language="javascript" type="text/javascript">
window.onload = function() {
	//
}

//page
var pageClsEventCont = new pageCls("dvEventContPageList",fnGetList,"totalCnt");

function fnGetList(){
	var params = {};
	if (isEmpty(getEVal("eventId"))==false) params["eventId"] = getEVal("eventId");
	if (isEmpty(getEVal("eventContId"))==false) params["eventContId"] = getEVal("eventContId");
	if (isEmpty(getEVal("eventContCd"))==false) params["eventContCd"] = getEVal("eventContCd");
	if (isEmpty(getEVal("sortSeq"))==false) params["sortSeq"] = getEVal("sortSeq");
	if (isEmpty(getEVal("eventCont"))==false) params["eventCont"] = getEVal("eventCont");
	if (isEmpty(getEVal("eventMobiCont"))==false) params["eventMobiCont"] = getEVal("eventMobiCont");
	if (isEmpty(getEVal("fileRefId"))==false) params["fileRefId"] = getEVal("fileRefId");
	if (isEmpty(getEVal("mobiFileRefId"))==false) params["mobiFileRefId"] = getEVal("mobiFileRefId");
	if (isEmpty(getEVal("useYn"))==false) params["useYn"] = getEVal("useYn");
	//page set
	params = pageClsEventCont.getPageInfo(params);

	var url = "/app/eventCont/getEventContPageList.do";
	//add page
	var rObj = httpSend(url,params);
	var ds = new BDataSet(rObj["payloads"]);
	
	var vArr = ["eventId","eventContId","eventContCd","sortSeq","eventCont","eventMobiCont","fileRefId","mobiFileRefId","useYn"];
	setDrawTbl("tblIdxList","dvTrList",vArr,ds,9);
	pageClsEventCont.setTotalRowsReload(rObj["totalRows"]);
}

function fnXlsEventContDown(){
	var url = "/app/eventCont/getEventContExcelDown.do";
	var paramXls = {};
	if (isEmpty(getEVal("eventId"))==false) paramXls["eventId"] = getEVal("eventId");
	if (isEmpty(getEVal("eventContId"))==false) paramXls["eventContId"] = getEVal("eventContId");
	if (isEmpty(getEVal("eventContCd"))==false) paramXls["eventContCd"] = getEVal("eventContCd");
	if (isEmpty(getEVal("sortSeq"))==false) paramXls["sortSeq"] = getEVal("sortSeq");
	if (isEmpty(getEVal("eventCont"))==false) paramXls["eventCont"] = getEVal("eventCont");
	if (isEmpty(getEVal("eventMobiCont"))==false) paramXls["eventMobiCont"] = getEVal("eventMobiCont");
	if (isEmpty(getEVal("fileRefId"))==false) paramXls["fileRefId"] = getEVal("fileRefId");
	if (isEmpty(getEVal("mobiFileRefId"))==false) paramXls["mobiFileRefId"] = getEVal("mobiFileRefId");
	if (isEmpty(getEVal("useYn"))==false) paramXls["useYn"] = getEVal("useYn");

	var params = {"xlsName":"이벤트내용"
		,"sheetName":"시트"
		,"columnHeaders":["이벤트ID","이벤트내용ID","이벤트내용코드[EV02]","이벤트순서","이벤트내용","이벤트모바일내용","파일참조ID","모바일파일참조ID","사용여부"]
		,"columnNames":["eventId","eventContId","eventContCd","sortSeq","eventCont","eventMobiCont","fileRefId","mobiFileRefId","useYn"]
		,"condition": paramXls
	};
	var fData = mapToFormdata({"params":JSON.stringify(params)});

	getDownFile(url,fData);
}

function fnOpenDialog(mode){
	var key = "";
	if (mode == "MODIFY"){
		key = getTrKey("tblIdxList");
		if (isEmpty(key)){
			alert("수정 할 자료가 존재하지 않습니다.");
			return false;
		}
	}
	var params = {};
	if (!isEmpty(key)){
		var arr = key.split(",");
		params["eventId"] = arr[0].trim();
		params["eventContId"] = arr[1].trim();
	}
	EventContPop.fnOpen(mode, params, fnGetList);
}

</script>

<body><div class="wrap">
<th:block th:include="app/common/header" th:remove="tag"></th:block>
<th:block th:include="app/common/gnb" th:remove="tag"></th:block>
<main>
	<div class="sub_wrap">
		<div class="cont">
			<div class="cont-item" id="dvEventContSearch">
				<div class="cont-item-row">
					<div class="item">
						<label for="item01">검색1</label>
						<div class="wrap">
							<input type="text" name="search1" id="search1" placeholder="검색1" style="width:80%" title="검색1">
						</div>
					</div>
					<div class="item">
						<label for="item02">검색2</label>
						<div class="wrap">
							<input type="text" name="search2" id="search2" placeholder="검색2" style="width:80%" title="검색2">
						</div>
					</div>
				</div>
				<div class="cont-item-row cont-item-row-btn">
					<button type="button" class="btn primary default" onclick="fnGetList();">검색</button>
					<button type="button" class="btn white default reset" onclick="clearObjects('dvEventContSearch');">초기화</button>
				</div>
			</div>
			<div class="cont-item h728">
				<div class="bar-top">
					<div class="bar-left">
						<select class="select" onchange="pageClsEventCont.setPageRows(getEVal(this));">
							<option value="10" selected>10건</option>
							<option value="20">20건</option>
							<option value="30">30건</option>
							<option value="50">50건</option>
						</select>
						<div class="bar-iblock">
							<span id="totalCnt" name="totalCnt"></span>
						</div>
					</div>

					<div class="bar-right">
						<div class="pagination-next-btns">
			                <button type="button" class="btn white default" onclick="fnOpenDialog('CREATE');">신규</button>
							<button type="button" class="btn primary default" onclick="fnOpenDialog('MODIFY');">수정</button>
						</div>
					</div>
				</div>
				<table id="tblIdxList" class="gridListTable">
					<colgroup>
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
					</colgroup>
					<thead>
						<tr>
							<th scope="col">이벤트ID</th>
							<th scope="col">이벤트내용ID</th>
							<th scope="col">이벤트내용코드[EV02]</th>
							<th scope="col">이벤트순서</th>
							<th scope="col">이벤트내용</th>
							<th scope="col">이벤트모바일내용</th>
							<th scope="col">파일참조ID</th>
							<th scope="col">모바일파일참조ID</th>
							<th scope="col">사용여부</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
				<div id="dvTrList" style="display:none;">
				<!-- <tr key='{{eventId}},{{eventContId}}' ondblclick='fnOpenDialog("MODIFY");'>
						<td>{{eventId}}</td>
						<td>{{eventContId}}</td>
						<td>{{eventContCd}}</td>
						<td>{{sortSeq}}</td>
						<td>{{eventCont}}</td>
						<td>{{eventMobiCont}}</td>
						<td>{{fileRefId}}</td>
						<td>{{mobiFileRefId}}</td>
						<td>{{useYn}}</td>
					 </tr> -->
				</div>

				<div id="dvEventContPageList" class="pagination"></div>
			</div>
		</div>
	</div>

<th:block th:include="app/eventCont/eventContPop" th:remove="tag"></th:block>

</main>
<th:block th:include="app/common/footer" th:remove="tag"></th:block>
</div></body>
</html>
