<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="app/common/head" th:remove="tag"></th:block>
<script language="javascript" type="text/javascript">
window.onload = function() {
	//
}

//page
var pageClsAfCompBill = new pageCls("dvAfCompBillPageList",fnGetList,"totalCnt");

function fnGetList(){
	var params = {};
	if (isEmpty(getEVal("afCompBillId"))==false) params["afCompBillId"] = getEVal("afCompBillId");
	if (isEmpty(getEVal("afCompBillYmd"))==false) params["afCompBillYmd"] = getEVal("afCompBillYmd");
	if (isEmpty(getEVal("afCompId"))==false) params["afCompId"] = getEVal("afCompId");
	if (isEmpty(getEVal("afDivCd"))==false) params["afDivCd"] = getEVal("afDivCd");
	if (isEmpty(getEVal("afBillQty"))==false) params["afBillQty"] = getEVal("afBillQty");
	if (isEmpty(getEVal("afBillAmt"))==false) params["afBillAmt"] = getEVal("afBillAmt");
	if (isEmpty(getEVal("billCfmYn"))==false) params["billCfmYn"] = getEVal("billCfmYn");
	if (isEmpty(getEVal("billCfmYmd"))==false) params["billCfmYmd"] = getEVal("billCfmYmd");
	//page set
	params = pageClsAfCompBill.getPageInfo(params);

	var url = "/app/afCompBill/getAfCompBillPageList.do";
	//add page
	var rObj = httpSend(url,params);
	var ds = new BDataSet(rObj["payloads"]);
	
	var vArr = ["afCompBillId","afCompBillYmd","afCompId","afDivCd","afBillQty","afBillAmt","billCfmYn","billCfmYmd"];
	setDrawTbl("tblIdxList","dvTrList",vArr,ds,8);
	pageClsAfCompBill.setTotalRowsReload(rObj["totalRows"]);
}

function fnXlsAfCompBillDown(){
	var url = "/app/afCompBill/getAfCompBillExcelDown.do";
	var paramXls = {};
	if (isEmpty(getEVal("afCompBillId"))==false) paramXls["afCompBillId"] = getEVal("afCompBillId");
	if (isEmpty(getEVal("afCompBillYmd"))==false) paramXls["afCompBillYmd"] = getEVal("afCompBillYmd");
	if (isEmpty(getEVal("afCompId"))==false) paramXls["afCompId"] = getEVal("afCompId");
	if (isEmpty(getEVal("afDivCd"))==false) paramXls["afDivCd"] = getEVal("afDivCd");
	if (isEmpty(getEVal("afBillQty"))==false) paramXls["afBillQty"] = getEVal("afBillQty");
	if (isEmpty(getEVal("afBillAmt"))==false) paramXls["afBillAmt"] = getEVal("afBillAmt");
	if (isEmpty(getEVal("billCfmYn"))==false) paramXls["billCfmYn"] = getEVal("billCfmYn");
	if (isEmpty(getEVal("billCfmYmd"))==false) paramXls["billCfmYmd"] = getEVal("billCfmYmd");

	var params = {"xlsName":"제휴업체정산"
		,"sheetName":"시트"
		,"columnHeaders":["제휴업체정산ID","제휴업체정산년월일","제휴업체ID","제휴구분코드[CP02]","제휴정산건수","제휴정산금액","정산확정여부","정산확정년월일"]
		,"columnNames":["afCompBillId","afCompBillYmd","afCompId","afDivCd","afBillQty","afBillAmt","billCfmYn","billCfmYmd"]
		,"condition": paramXls
	};
	var fData = mapToFormdata({"params":JSON.stringify(params)});

	getDownFile(url,fData);
}

function fnOpenDialog(mode){
	var key = "";
	if (mode == "MODIFY"){
		key = getTrKey("tblIdxList");
		if (isEmpty(key)){
			alert("수정 할 자료가 존재하지 않습니다.");
			return false;
		}
	}
	var params = {};
	if (!isEmpty(key)){
		var arr = key.split(",");
		params["afCompBillId"] = arr[0].trim();
	}
	AfCompBillPop.fnOpen(mode, params, fnGetList);
}

</script>

<body><div class="wrap">
<th:block th:include="app/common/header" th:remove="tag"></th:block>
<th:block th:include="app/common/gnb" th:remove="tag"></th:block>
<main>
	<div class="sub_wrap">
		<div class="cont">
			<div class="cont-item" id="dvAfCompBillSearch">
				<div class="cont-item-row">
					<div class="item">
						<label for="item01">검색1</label>
						<div class="wrap">
							<input type="text" name="search1" id="search1" placeholder="검색1" style="width:80%" title="검색1">
						</div>
					</div>
					<div class="item">
						<label for="item02">검색2</label>
						<div class="wrap">
							<input type="text" name="search2" id="search2" placeholder="검색2" style="width:80%" title="검색2">
						</div>
					</div>
				</div>
				<div class="cont-item-row cont-item-row-btn">
					<button type="button" class="btn primary default" onclick="fnGetList();">검색</button>
					<button type="button" class="btn white default reset" onclick="clearObjects('dvAfCompBillSearch');">초기화</button>
				</div>
			</div>
			<div class="cont-item h728">
				<div class="bar-top">
					<div class="bar-left">
						<select class="select" onchange="pageClsAfCompBill.setPageRows(getEVal(this));">
							<option value="10" selected>10건</option>
							<option value="20">20건</option>
							<option value="30">30건</option>
							<option value="50">50건</option>
						</select>
						<div class="bar-iblock">
							<span id="totalCnt" name="totalCnt"></span>
						</div>
					</div>

					<div class="bar-right">
						<div class="pagination-next-btns">
			                <button type="button" class="btn white default" onclick="fnOpenDialog('CREATE');">신규</button>
							<button type="button" class="btn primary default" onclick="fnOpenDialog('MODIFY');">수정</button>
						</div>
					</div>
				</div>
				<table id="tblIdxList" class="gridListTable">
					<colgroup>
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
					</colgroup>
					<thead>
						<tr>
							<th scope="col">제휴업체정산ID</th>
							<th scope="col">제휴업체정산년월일</th>
							<th scope="col">제휴업체ID</th>
							<th scope="col">제휴구분코드[CP02]</th>
							<th scope="col">제휴정산건수</th>
							<th scope="col">제휴정산금액</th>
							<th scope="col">정산확정여부</th>
							<th scope="col">정산확정년월일</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
				<div id="dvTrList" style="display:none;">
				<!-- <tr key='{{afCompBillId}}' ondblclick='fnOpenDialog("MODIFY");'>
						<td>{{afCompBillId}}</td>
						<td>{{afCompBillYmd}}</td>
						<td>{{afCompId}}</td>
						<td>{{afDivCd}}</td>
						<td>{{afBillQty}}</td>
						<td>{{afBillAmt}}</td>
						<td>{{billCfmYn}}</td>
						<td>{{billCfmYmd}}</td>
					 </tr> -->
				</div>

				<div id="dvAfCompBillPageList" class="pagination"></div>
			</div>
		</div>
	</div>

<th:block th:include="app/afCompBill/afCompBillPop" th:remove="tag"></th:block>

</main>
<th:block th:include="app/common/footer" th:remove="tag"></th:block>
</div></body>
</html>
