<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="app/common/head" th:remove="tag"></th:block>
<script language="javascript" type="text/javascript">
window.onload = function() {
	//
}

//page
var pageClsCompany = new pageCls("dvCompanyPageList",fnGetList,"totalCnt");

function fnGetList(){
	var params = {};
	if (isEmpty(getEVal("compId"))==false) params["compId"] = getEVal("compId");
	if (isEmpty(getEVal("compNm"))==false) params["compNm"] = getEVal("compNm");
	if (isEmpty(getEVal("cntryCd"))==false) params["cntryCd"] = getEVal("cntryCd");
	if (isEmpty(getEVal("cpDivCd"))==false) params["cpDivCd"] = getEVal("cpDivCd");
	if (isEmpty(getEVal("bizRegNo"))==false) params["bizRegNo"] = getEVal("bizRegNo");
	if (isEmpty(getEVal("repNm"))==false) params["repNm"] = getEVal("repNm");
	if (isEmpty(getEVal("bizTyp"))==false) params["bizTyp"] = getEVal("bizTyp");
	if (isEmpty(getEVal("bizItem"))==false) params["bizItem"] = getEVal("bizItem");
	if (isEmpty(getEVal("zipCd"))==false) params["zipCd"] = getEVal("zipCd");
	if (isEmpty(getEVal("addr"))==false) params["addr"] = getEVal("addr");
	if (isEmpty(getEVal("dtlAddr"))==false) params["dtlAddr"] = getEVal("dtlAddr");
	if (isEmpty(getEVal("dtlAddr2"))==false) params["dtlAddr2"] = getEVal("dtlAddr2");
	if (isEmpty(getEVal("picNm"))==false) params["picNm"] = getEVal("picNm");
	if (isEmpty(getEVal("picPhoneNo"))==false) params["picPhoneNo"] = getEVal("picPhoneNo");
	if (isEmpty(getEVal("hqYn"))==false) params["hqYn"] = getEVal("hqYn");
	if (isEmpty(getEVal("storeYn"))==false) params["storeYn"] = getEVal("storeYn");
	if (isEmpty(getEVal("afCpYn"))==false) params["afCpYn"] = getEVal("afCpYn");
	if (isEmpty(getEVal("frchseYn"))==false) params["frchseYn"] = getEVal("frchseYn");
	if (isEmpty(getEVal("custCpYn"))==false) params["custCpYn"] = getEVal("custCpYn");
	if (isEmpty(getEVal("orgYn"))==false) params["orgYn"] = getEVal("orgYn");
	//page set
	params = pageClsCompany.getPageInfo(params);

	var url = "/app/company/getCompanyPageList.do";
	//add page
	var rObj = httpSend(url,params);
	var ds = new BDataSet(rObj["payloads"]);
	
	var vArr = ["compId","compNm","cntryCd","cpDivCd","bizRegNo","repNm","bizTyp","bizItem","zipCd","addr","dtlAddr","dtlAddr2","picNm","picPhoneNo","hqYn","storeYn","afCpYn","frchseYn","custCpYn","orgYn"];
	setDrawTbl("tblIdxList","dvTrList",vArr,ds,20);
	pageClsCompany.setTotalRowsReload(rObj["totalRows"]);
}

function fnXlsCompanyDown(){
	var url = "/app/company/getCompanyExcelDown.do";
	var paramXls = {};
	if (isEmpty(getEVal("compId"))==false) paramXls["compId"] = getEVal("compId");
	if (isEmpty(getEVal("compNm"))==false) paramXls["compNm"] = getEVal("compNm");
	if (isEmpty(getEVal("cntryCd"))==false) paramXls["cntryCd"] = getEVal("cntryCd");
	if (isEmpty(getEVal("cpDivCd"))==false) paramXls["cpDivCd"] = getEVal("cpDivCd");
	if (isEmpty(getEVal("bizRegNo"))==false) paramXls["bizRegNo"] = getEVal("bizRegNo");
	if (isEmpty(getEVal("repNm"))==false) paramXls["repNm"] = getEVal("repNm");
	if (isEmpty(getEVal("bizTyp"))==false) paramXls["bizTyp"] = getEVal("bizTyp");
	if (isEmpty(getEVal("bizItem"))==false) paramXls["bizItem"] = getEVal("bizItem");
	if (isEmpty(getEVal("zipCd"))==false) paramXls["zipCd"] = getEVal("zipCd");
	if (isEmpty(getEVal("addr"))==false) paramXls["addr"] = getEVal("addr");
	if (isEmpty(getEVal("dtlAddr"))==false) paramXls["dtlAddr"] = getEVal("dtlAddr");
	if (isEmpty(getEVal("dtlAddr2"))==false) paramXls["dtlAddr2"] = getEVal("dtlAddr2");
	if (isEmpty(getEVal("picNm"))==false) paramXls["picNm"] = getEVal("picNm");
	if (isEmpty(getEVal("picPhoneNo"))==false) paramXls["picPhoneNo"] = getEVal("picPhoneNo");
	if (isEmpty(getEVal("hqYn"))==false) paramXls["hqYn"] = getEVal("hqYn");
	if (isEmpty(getEVal("storeYn"))==false) paramXls["storeYn"] = getEVal("storeYn");
	if (isEmpty(getEVal("afCpYn"))==false) paramXls["afCpYn"] = getEVal("afCpYn");
	if (isEmpty(getEVal("frchseYn"))==false) paramXls["frchseYn"] = getEVal("frchseYn");
	if (isEmpty(getEVal("custCpYn"))==false) paramXls["custCpYn"] = getEVal("custCpYn");
	if (isEmpty(getEVal("orgYn"))==false) paramXls["orgYn"] = getEVal("orgYn");

	var params = {"xlsName":"업체정보"
		,"sheetName":"시트"
		,"columnHeaders":["업체ID","업체명","국가코드","업체구분코드","사업자등록번호","대표자명","업태","종목","우편번호","주소","상세주소2","","담당자명","담당자폰번호","본사여부","입점사여부","제휴사여부","가맹점여부","고객사여부","기관여부"]
		,"columnNames":["compId","compNm","cntryCd","cpDivCd","bizRegNo","repNm","bizTyp","bizItem","zipCd","addr","dtlAddr","dtlAddr2","picNm","picPhoneNo","hqYn","storeYn","afCpYn","frchseYn","custCpYn","orgYn"]
		,"condition": paramXls
	};
	var fData = mapToFormdata({"params":JSON.stringify(params)});

	getDownFile(url,fData);
}

function fnOpenDialog(mode){
	var key = "";
	if (mode == "MODIFY"){
		key = getTrKey("tblIdxList");
		if (isEmpty(key)){
			alert("수정 할 자료가 존재하지 않습니다.");
			return false;
		}
	}
	var params = {};
	if (!isEmpty(key)){
		var arr = key.split(",");
		params["compId"] = arr[0].trim();
	}
	CompanyPop.fnOpen(mode, params, fnGetList);
}

</script>

<body><div class="wrap">
<th:block th:include="app/common/header" th:remove="tag"></th:block>
<th:block th:include="app/common/gnb" th:remove="tag"></th:block>
<main>
	<div class="sub_wrap">
		<div class="cont">
			<div class="cont-item" id="dvCompanySearch">
				<div class="cont-item-row">
					<div class="item">
						<label for="item01">검색1</label>
						<div class="wrap">
							<input type="text" name="search1" id="search1" placeholder="검색1" style="width:80%" title="검색1">
						</div>
					</div>
					<div class="item">
						<label for="item02">검색2</label>
						<div class="wrap">
							<input type="text" name="search2" id="search2" placeholder="검색2" style="width:80%" title="검색2">
						</div>
					</div>
				</div>
				<div class="cont-item-row cont-item-row-btn">
					<button type="button" class="btn primary default" onclick="fnGetList();">검색</button>
					<button type="button" class="btn white default reset" onclick="clearObjects('dvCompanySearch');">초기화</button>
				</div>
			</div>
			<div class="cont-item h728">
				<div class="bar-top">
					<div class="bar-left">
						<select class="select" onchange="pageClsCompany.setPageRows(getEVal(this));">
							<option value="10" selected>10건</option>
							<option value="20">20건</option>
							<option value="30">30건</option>
							<option value="50">50건</option>
						</select>
						<div class="bar-iblock">
							<span id="totalCnt" name="totalCnt"></span>
						</div>
					</div>

					<div class="bar-right">
						<div class="pagination-next-btns">
			                <button type="button" class="btn white default" onclick="fnOpenDialog('CREATE');">신규</button>
							<button type="button" class="btn primary default" onclick="fnOpenDialog('MODIFY');">수정</button>
						</div>
					</div>
				</div>
				<table id="tblIdxList" class="gridListTable">
					<colgroup>
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
					</colgroup>
					<thead>
						<tr>
							<th scope="col">업체ID</th>
							<th scope="col">업체명</th>
							<th scope="col">국가코드</th>
							<th scope="col">업체구분코드</th>
							<th scope="col">사업자등록번호</th>
							<th scope="col">대표자명</th>
							<th scope="col">업태</th>
							<th scope="col">종목</th>
							<th scope="col">우편번호</th>
							<th scope="col">주소</th>
							<th scope="col">상세주소2</th>
							<th scope="col"></th>
							<th scope="col">담당자명</th>
							<th scope="col">담당자폰번호</th>
							<th scope="col">본사여부</th>
							<th scope="col">입점사여부</th>
							<th scope="col">제휴사여부</th>
							<th scope="col">가맹점여부</th>
							<th scope="col">고객사여부</th>
							<th scope="col">기관여부</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
				<div id="dvTrList" style="display:none;">
				<!-- <tr key='{{compId}}' ondblclick='fnOpenDialog("MODIFY");'>
						<td>{{compId}}</td>
						<td>{{compNm}}</td>
						<td>{{cntryCd}}</td>
						<td>{{cpDivCd}}</td>
						<td>{{bizRegNo}}</td>
						<td>{{repNm}}</td>
						<td>{{bizTyp}}</td>
						<td>{{bizItem}}</td>
						<td>{{zipCd}}</td>
						<td>{{addr}}</td>
						<td>{{dtlAddr}}</td>
						<td>{{dtlAddr2}}</td>
						<td>{{picNm}}</td>
						<td>{{picPhoneNo}}</td>
						<td>{{hqYn}}</td>
						<td>{{storeYn}}</td>
						<td>{{afCpYn}}</td>
						<td>{{frchseYn}}</td>
						<td>{{custCpYn}}</td>
						<td>{{orgYn}}</td>
					 </tr> -->
				</div>

				<div id="dvCompanyPageList" class="pagination"></div>
			</div>
		</div>
	</div>

<th:block th:include="app/company/companyPop" th:remove="tag"></th:block>

</main>
<th:block th:include="app/common/footer" th:remove="tag"></th:block>
</div></body>
</html>
