<div id="divCompProdPop" class="sub_wrap" style="display:none;width:92%" title="업체상품 정보">
	<div class="cont">
		<div class="cont-item cont-item01">
			<div class="cont-item-row item-title">
				<h4>업체상품 등록</h4>
			</div>
			<div class="cont-item-wrap">
				<div class="cont-item-row border-top">
					<div class="item">
						<label for="compProdId_g1">업체상품ID</label>
						<div class="wrap">
							<input type="text" id="compProdId_g1" name="compProdId_g1" />
						</div>
					</div>
					<div class="item">
						<label for="compId_g1">업체ID</label>
						<div class="wrap">
							<input type="text" id="compId_g1" name="compId_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="prodId_g1">상품ID</label>
						<div class="wrap">
							<input type="text" id="prodId_g1" name="prodId_g1" />
						</div>
					</div>
					<div class="item">
						<label for="prodTypCd_g1">상품유형코드[PD06]</label>
						<div class="wrap">
							<input type="text" id="prodTypCd_g1" name="prodTypCd_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="applFrYmd_g1">적용시작일</label>
						<div class="wrap">
							<input type="text" id="applFrYmd_g1" name="applFrYmd_g1" />
						</div>
					</div>
					<div class="item">
						<label for="applToYmd_g1">적용종료일</label>
						<div class="wrap">
							<input type="text" id="applToYmd_g1" name="applToYmd_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="prodAmt_g1">상품금액</label>
						<div class="wrap">
							<input type="text" id="prodAmt_g1" name="prodAmt_g1" />
						</div>
					</div>
					<div class="item">
						<label for="prodInvQty_g1">상품재고수량</label>
						<div class="wrap">
							<input type="text" id="prodInvQty_g1" name="prodInvQty_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="prodUseQty_g1">상품사용수량</label>
						<div class="wrap">
							<input type="text" id="prodUseQty_g1" name="prodUseQty_g1" />
						</div>
					</div>
					<div class="item">
						<label for="prodInQty_g1">상품입고수량</label>
						<div class="wrap">
							<input type="text" id="prodInQty_g1" name="prodInQty_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="soldOutYn_g1">품절여부</label>
						<div class="wrap">
							<input type="text" id="soldOutYn_g1" name="soldOutYn_g1" />
						</div>
					</div>
					<div class="item">
						<label for="pointId_g1">포인트ID</label>
						<div class="wrap">
							<input type="text" id="pointId_g1" name="pointId_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="cpnId_g1">쿠폰ID</label>
						<div class="wrap">
							<input type="text" id="cpnId_g1" name="cpnId_g1" />
						</div>
					</div>
					<div class="item">
						<label for="delivFeeTypCd_g1">배송비유형코드[DV01]</label>
						<div class="wrap">
							<input type="text" id="delivFeeTypCd_g1" name="delivFeeTypCd_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="baseDelivFee_g1">기본배송비</label>
						<div class="wrap">
							<input type="text" id="baseDelivFee_g1" name="baseDelivFee_g1" />
						</div>
					</div>
					<div class="item">
						<label for="delivFreeMinAmt_g1">배송무료최소금액</label>
						<div class="wrap">
							<input type="text" id="delivFreeMinAmt_g1" name="delivFreeMinAmt_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="delivBaseWeight_g1">배송기준무게</label>
						<div class="wrap">
							<input type="text" id="delivBaseWeight_g1" name="delivBaseWeight_g1" />
						</div>
					</div>
					<div class="item">
						<label for="delivBaseQty_g1">배송기준수량</label>
						<div class="wrap">
							<input type="text" id="delivBaseQty_g1" name="delivBaseQty_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="prodViews_g1">상품조회수</label>
						<div class="wrap">
							<input type="text" id="prodViews_g1" name="prodViews_g1" />
						</div>
					</div>
					<div class="item">
						<label for="prodRegDtm_g1">상품등록일시</label>
						<div class="wrap">
							<input type="text" id="prodRegDtm_g1" name="prodRegDtm_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="prodUpdDtm_g1">상품변경일시</label>
						<div class="wrap">
							<input type="text" id="prodUpdDtm_g1" name="prodUpdDtm_g1" />
						</div>
					</div>
					<div class="item">
						<label for="regIp_g1">등록 IP</label>
						<div class="wrap">
							<input type="text" id="regIp_g1" name="regIp_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="sortSeq_g1">정렬순서</label>
						<div class="wrap">
							<input type="text" id="sortSeq_g1" name="sortSeq_g1" />
						</div>
					</div>
					<div class="item">
						<label for="salesQty_g1">판매수량</label>
						<div class="wrap">
							<input type="text" id="salesQty_g1" name="salesQty_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="incSmsNotifYn_g1">재입고SMS알림 여부</label>
						<div class="wrap">
							<input type="text" id="incSmsNotifYn_g1" name="incSmsNotifYn_g1" />
						</div>
					</div>
					<div class="item">
						<label for="reviewNum_g1">사용후기 수</label>
						<div class="wrap">
							<input type="text" id="reviewNum_g1" name="reviewNum_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="reviewRtgAvg_g1">사용후기 별점 평균</label>
						<div class="wrap">
							<input type="text" id="reviewRtgAvg_g1" name="reviewRtgAvg_g1" />
						</div>
					</div>
					<div class="item">
						<label for="adFee_g1">광고료</label>
						<div class="wrap">
							<input type="text" id="adFee_g1" name="adFee_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<h5>사용여부</h5>
						<div class="wrap">
							<label class="rb" for="useYn_Y">사용
								<input type="radio" name="useYn_g1" id="useYn_Y" value="Y" checked="checked">
								<span class="checkmark"></span>
							</label>
							<label class="rb" for="useYn_N">미사용
								<input type="radio" name="useYn_g1" id="useYn_N" value="N">
								<span class="checkmark"></span>
							</label>
						</div>
					</div>
					<div class="item">
					</div>
				</div>
				<div class="cont-item-row cont-item-row-btn right">
					<button id="saveBtn" name="saveBtn" class="btn default" onclick="CompProdPop.fnSave();"><span>저장</span></button>
					<button id="delBtn" name="delBtn" class="btn default" onclick="CompProdPop.fnDelete();"><span>삭제</span></button>
					<button class="btn write default" onclick="CompProdPop.fnClose();"><span>닫기</span></button>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
var CompProdPop = new $W.load("divCompProdPop");
CompProdPop.ready(function(){
	//
});

CompProdPop.fnOpen = function(mode, params, func) {
	clearObjects("divCompProdPop");
	CompProdPop.mode = mode;
	if (!isEmpty(func)){
		CompProdPop.func = func;
	}
	setObjVal({"useYn_g1":"Y"});

	//draw popup
	layerToggle("divCompProdPop",{"mode":1,"top":130,"scrollYn":"Y"});

	readOnlyTrue(["compProdId_g1"]);
	if(mode == "MODIFY") {
		var url = "/app/compProd/getCompProd.do";
		var map = httpSend(url, params);
		if (!isEmpty(map)){
			let chgData = chgMapKey(map,"_g1");
			setObjVal(chgData);
		}else{
			alert("자료가 존재하지 않습니다.");
		}

		displayTrue(["delBtn"]);
		getElement("compId_g1").focus();
	}else{
		readOnlyFalse(["compProdId_g1"]);
		displayFalse(["delBtn"]);
	}
};

CompProdPop.fnSave = function(){

	var valid = 0 || [
		["compProdId_g1","","자료(업체상품ID)를 확인하세요."]
		,["compId_g1","","자료(업체ID)를 확인하세요."]
		,["prodId_g1","","자료(상품ID)를 확인하세요."]
		,["prodTypCd_g1","","자료(상품유형코드[PD06])를 확인하세요."]
		,["applFrYmd_g1","","자료(적용시작일)를 확인하세요."]
		,["applToYmd_g1","","자료(적용종료일)를 확인하세요."]
		,["prodAmt_g1","","자료(상품금액)를 확인하세요."]
		,["prodInvQty_g1","","자료(상품재고수량)를 확인하세요."]
		,["prodUseQty_g1","","자료(상품사용수량)를 확인하세요."]
		,["prodInQty_g1","","자료(상품입고수량)를 확인하세요."]
		,["soldOutYn_g1","","자료(품절여부)를 확인하세요."]
		,["pointId_g1","","자료(포인트ID)를 확인하세요."]
		,["cpnId_g1","","자료(쿠폰ID)를 확인하세요."]
		,["delivFeeTypCd_g1","","자료(배송비유형코드[DV01])를 확인하세요."]
		,["baseDelivFee_g1","","자료(기본배송비)를 확인하세요."]
		,["delivFreeMinAmt_g1","","자료(배송무료최소금액)를 확인하세요."]
		,["delivBaseWeight_g1","","자료(배송기준무게)를 확인하세요."]
		,["delivBaseQty_g1","","자료(배송기준수량)를 확인하세요."]
		,["prodViews_g1","","자료(상품조회수)를 확인하세요."]
		,["prodRegDtm_g1","","자료(상품등록일시)를 확인하세요."]
		,["prodUpdDtm_g1","","자료(상품변경일시)를 확인하세요."]
		,["regIp_g1","","자료(등록 IP)를 확인하세요."]
		,["sortSeq_g1","","자료(정렬순서)를 확인하세요."]
		,["salesQty_g1","","자료(판매수량)를 확인하세요."]
		,["incSmsNotifYn_g1","","자료(재입고SMS알림 여부)를 확인하세요."]
		,["reviewNum_g1","","자료(사용후기 수)를 확인하세요."]
		,["reviewRtgAvg_g1","","자료(사용후기 별점 평균)를 확인하세요."]
		,["adFee_g1","","자료(광고료)를 확인하세요."]
		,["useYn_g1","","자료(사용여부)를 확인하세요."]

		];
	if (checkValid( valid )==false) return;

	var ds  = getEleToBDataSet("divCompProdPop");
	var url = "/app/compProd/updateCompProd.do";
	if (CompProdPop.mode=="CREATE"){
		url = "/app/compProd/insertCompProd.do";
	}

	//data key change
	var sData = chgBackMapKey(ds.getRow(0),"_g1");
	var map = httpSend(url, sData);
	if (!isEmpty(map) && !isEmpty(map["resultCd"])){
		if (map["resultCd"] != "Y"){
			alert(map["resultMsg"]);
			return false;
		}
		if (!isEmpty(CompProdPop.func)){
			CompProdPop.func();
			CompProdPop.fnClose();
		}
	}else{
		alert("작업중 오류가 발생했습니다.");
	}

};

CompProdPop.fnDelete = function(){
	if (CompProdPop.mode != "MODIFY"){
		alert("조회후 삭제하세요.");
		return false;
	}
	if ( confirm("자료를 삭제하시겠습니까?")==false ) return;

	var url = "/app/compProd/deleteCompProd.do";
	var params = {};
	params["compProdId"] = getElement("compProdId_g1").value;

	var map = httpSend(url, params);
	if (!isEmpty(map) && !isEmpty(map["resultCd"])){
		if (map["resultCd"] != "Y"){
			alert(map["resultMsg"]);
			return false;
		}
		if (!isEmpty(CompProdPop.func)){
			CompProdPop.func();
			CompProdPop.fnClose();
		}
	}else{
		alert("작업중 오류가 발생했습니다.");
	}
};

CompProdPop.fnClose = function(){
	layerToggle("divCompProdPop",{"mode":0});
};
</script>
