<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="app/common/head" th:remove="tag"></th:block>
<script language="javascript" type="text/javascript">
window.onload = function() {
	//
}

//page
var pageClsOrderDtl = new pageCls("dvOrderDtlPageList",fnGetList,"totalCnt");

function fnGetList(){
	var params = {};
	if (isEmpty(getEVal("ordDtlId"))==false) params["ordDtlId"] = getEVal("ordDtlId");
	if (isEmpty(getEVal("ordId"))==false) params["ordId"] = getEVal("ordId");
	if (isEmpty(getEVal("prodId"))==false) params["prodId"] = getEVal("prodId");
	if (isEmpty(getEVal("compId"))==false) params["compId"] = getEVal("compId");
	if (isEmpty(getEVal("cartId"))==false) params["cartId"] = getEVal("cartId");
	if (isEmpty(getEVal("ordProdQty"))==false) params["ordProdQty"] = getEVal("ordProdQty");
	if (isEmpty(getEVal("ordProdAmt"))==false) params["ordProdAmt"] = getEVal("ordProdAmt");
	if (isEmpty(getEVal("ordOptAmt"))==false) params["ordOptAmt"] = getEVal("ordOptAmt");
	if (isEmpty(getEVal("optDtlCont"))==false) params["optDtlCont"] = getEVal("optDtlCont");
	if (isEmpty(getEVal("cartDtm"))==false) params["cartDtm"] = getEVal("cartDtm");
	if (isEmpty(getEVal("prodPathCd"))==false) params["prodPathCd"] = getEVal("prodPathCd");
	//page set
	params = pageClsOrderDtl.getPageInfo(params);

	var url = "/app/orderDtl/getOrderDtlPageList.do";
	//add page
	var rObj = httpSend(url,params);
	var ds = new BDataSet(rObj["payloads"]);
	
	var vArr = ["ordDtlId","ordId","prodId","compId","cartId","ordProdQty","ordProdAmt","ordOptAmt","optDtlCont","cartDtm","prodPathCd"];
	setDrawTbl("tblIdxList","dvTrList",vArr,ds,11);
	pageClsOrderDtl.setTotalRowsReload(rObj["totalRows"]);
}

function fnXlsOrderDtlDown(){
	var url = "/app/orderDtl/getOrderDtlExcelDown.do";
	var paramXls = {};
	if (isEmpty(getEVal("ordDtlId"))==false) paramXls["ordDtlId"] = getEVal("ordDtlId");
	if (isEmpty(getEVal("ordId"))==false) paramXls["ordId"] = getEVal("ordId");
	if (isEmpty(getEVal("prodId"))==false) paramXls["prodId"] = getEVal("prodId");
	if (isEmpty(getEVal("compId"))==false) paramXls["compId"] = getEVal("compId");
	if (isEmpty(getEVal("cartId"))==false) paramXls["cartId"] = getEVal("cartId");
	if (isEmpty(getEVal("ordProdQty"))==false) paramXls["ordProdQty"] = getEVal("ordProdQty");
	if (isEmpty(getEVal("ordProdAmt"))==false) paramXls["ordProdAmt"] = getEVal("ordProdAmt");
	if (isEmpty(getEVal("ordOptAmt"))==false) paramXls["ordOptAmt"] = getEVal("ordOptAmt");
	if (isEmpty(getEVal("optDtlCont"))==false) paramXls["optDtlCont"] = getEVal("optDtlCont");
	if (isEmpty(getEVal("cartDtm"))==false) paramXls["cartDtm"] = getEVal("cartDtm");
	if (isEmpty(getEVal("prodPathCd"))==false) paramXls["prodPathCd"] = getEVal("prodPathCd");

	var params = {"xlsName":"주문상세"
		,"sheetName":"시트"
		,"columnHeaders":["주문상세ID","주문ID","상품ID","업체ID","장바구니ID","주문상품수량","주문상품금액","주문옵션금액","옵션상세내용","장바구니일시","상품경로코드[PD08]"]
		,"columnNames":["ordDtlId","ordId","prodId","compId","cartId","ordProdQty","ordProdAmt","ordOptAmt","optDtlCont","cartDtm","prodPathCd"]
		,"condition": paramXls
	};
	var fData = mapToFormdata({"params":JSON.stringify(params)});

	getDownFile(url,fData);
}

function fnOpenDialog(mode){
	var key = "";
	if (mode == "MODIFY"){
		key = getTrKey("tblIdxList");
		if (isEmpty(key)){
			alert("수정 할 자료가 존재하지 않습니다.");
			return false;
		}
	}
	var params = {};
	if (!isEmpty(key)){
		var arr = key.split(",");
		params["ordDtlId"] = arr[0].trim();
	}
	OrderDtlPop.fnOpen(mode, params, fnGetList);
}

</script>

<body><div class="wrap">
<th:block th:include="app/common/header" th:remove="tag"></th:block>
<th:block th:include="app/common/gnb" th:remove="tag"></th:block>
<main>
	<div class="sub_wrap">
		<div class="cont">
			<div class="cont-item" id="dvOrderDtlSearch">
				<div class="cont-item-row">
					<div class="item">
						<label for="item01">검색1</label>
						<div class="wrap">
							<input type="text" name="search1" id="search1" placeholder="검색1" style="width:80%" title="검색1">
						</div>
					</div>
					<div class="item">
						<label for="item02">검색2</label>
						<div class="wrap">
							<input type="text" name="search2" id="search2" placeholder="검색2" style="width:80%" title="검색2">
						</div>
					</div>
				</div>
				<div class="cont-item-row cont-item-row-btn">
					<button type="button" class="btn primary default" onclick="fnGetList();">검색</button>
					<button type="button" class="btn white default reset" onclick="clearObjects('dvOrderDtlSearch');">초기화</button>
				</div>
			</div>
			<div class="cont-item h728">
				<div class="bar-top">
					<div class="bar-left">
						<select class="select" onchange="pageClsOrderDtl.setPageRows(getEVal(this));">
							<option value="10" selected>10건</option>
							<option value="20">20건</option>
							<option value="30">30건</option>
							<option value="50">50건</option>
						</select>
						<div class="bar-iblock">
							<span id="totalCnt" name="totalCnt"></span>
						</div>
					</div>

					<div class="bar-right">
						<div class="pagination-next-btns">
			                <button type="button" class="btn white default" onclick="fnOpenDialog('CREATE');">신규</button>
							<button type="button" class="btn primary default" onclick="fnOpenDialog('MODIFY');">수정</button>
						</div>
					</div>
				</div>
				<table id="tblIdxList" class="gridListTable">
					<colgroup>
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
					</colgroup>
					<thead>
						<tr>
							<th scope="col">주문상세ID</th>
							<th scope="col">주문ID</th>
							<th scope="col">상품ID</th>
							<th scope="col">업체ID</th>
							<th scope="col">장바구니ID</th>
							<th scope="col">주문상품수량</th>
							<th scope="col">주문상품금액</th>
							<th scope="col">주문옵션금액</th>
							<th scope="col">옵션상세내용</th>
							<th scope="col">장바구니일시</th>
							<th scope="col">상품경로코드[PD08]</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
				<div id="dvTrList" style="display:none;">
				<!-- <tr key='{{ordDtlId}}' ondblclick='fnOpenDialog("MODIFY");'>
						<td>{{ordDtlId}}</td>
						<td>{{ordId}}</td>
						<td>{{prodId}}</td>
						<td>{{compId}}</td>
						<td>{{cartId}}</td>
						<td>{{ordProdQty}}</td>
						<td>{{ordProdAmt}}</td>
						<td>{{ordOptAmt}}</td>
						<td>{{optDtlCont}}</td>
						<td>{{cartDtm}}</td>
						<td>{{prodPathCd}}</td>
					 </tr> -->
				</div>

				<div id="dvOrderDtlPageList" class="pagination"></div>
			</div>
		</div>
	</div>

<th:block th:include="app/orderDtl/orderDtlPop" th:remove="tag"></th:block>

</main>
<th:block th:include="app/common/footer" th:remove="tag"></th:block>
</div></body>
</html>
