<div id="divMemberPop" class="sub_wrap" style="display:none;width:92%" title="멤버 정보">
	<div class="cont">
		<div class="cont-item cont-item01">
			<div class="cont-item-row item-title">
				<h4>멤버 등록</h4>
			</div>
			<div class="cont-item-wrap">
				<div class="cont-item-row border-top">
					<div class="item">
						<label for="mbrId_g1">멤버ID</label>
						<div class="wrap">
							<input type="text" id="mbrId_g1" name="mbrId_g1" />
						</div>
					</div>
					<div class="item">
						<label for="mbrLvlCd_g1">멤버등급코드</label>
						<div class="wrap">
							<input type="text" id="mbrLvlCd_g1" name="mbrLvlCd_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="mbrDivCd_g1">멤버구분코드</label>
						<div class="wrap">
							<input type="text" id="mbrDivCd_g1" name="mbrDivCd_g1" />
						</div>
					</div>
					<div class="item">
						<label for="phoneNo_g1">폰번호</label>
						<div class="wrap">
							<input type="text" id="phoneNo_g1" name="phoneNo_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="email_g1">이메일</label>
						<div class="wrap">
							<input type="text" id="email_g1" name="email_g1" />
						</div>
					</div>
					<div class="item">
						<label for="birthYmd_g1">생년월일</label>
						<div class="wrap">
							<input type="text" id="birthYmd_g1" name="birthYmd_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="sexDivCd_g1">성별구분코드</label>
						<div class="wrap">
							<input type="text" id="sexDivCd_g1" name="sexDivCd_g1" />
						</div>
					</div>
					<div class="item">
						<label for="cntryCd_g1">국가코드</label>
						<div class="wrap">
							<input type="text" id="cntryCd_g1" name="cntryCd_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="compId_g1">업체ID</label>
						<div class="wrap">
							<input type="text" id="compId_g1" name="compId_g1" />
						</div>
					</div>
					<div class="item">
						<label for="signupDtm_g1">가입일시</label>
						<div class="wrap">
							<input type="text" id="signupDtm_g1" name="signupDtm_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="zipCd_g1">우편번호</label>
						<div class="wrap">
							<input type="text" id="zipCd_g1" name="zipCd_g1" />
						</div>
					</div>
					<div class="item">
						<label for="addr_g1">주소</label>
						<div class="wrap">
							<input type="text" id="addr_g1" name="addr_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="dtlAddr_g1">상세주소</label>
						<div class="wrap">
							<input type="text" id="dtlAddr_g1" name="dtlAddr_g1" />
						</div>
					</div>
					<div class="item">
						<label for="dtlAddr2_g1">상세주소2</label>
						<div class="wrap">
							<input type="text" id="dtlAddr2_g1" name="dtlAddr2_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="signupPathCd_g1">가입경로코드</label>
						<div class="wrap">
							<input type="text" id="signupPathCd_g1" name="signupPathCd_g1" />
						</div>
					</div>
					<div class="item">
						<label for="latestAccChanCd_g1">최근접속채널코드</label>
						<div class="wrap">
							<input type="text" id="latestAccChanCd_g1" name="latestAccChanCd_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="lastAccDtm_g1">최종접속일시</label>
						<div class="wrap">
							<input type="text" id="lastAccDtm_g1" name="lastAccDtm_g1" />
						</div>
					</div>
					<div class="item">
						<label for="latestAccYmd_g1">최근접속년월일</label>
						<div class="wrap">
							<input type="text" id="latestAccYmd_g1" name="latestAccYmd_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="smsRecvAcptYn_g1">SMS수신동의여부</label>
						<div class="wrap">
							<input type="text" id="smsRecvAcptYn_g1" name="smsRecvAcptYn_g1" />
						</div>
					</div>
					<div class="item">
						<label for="emailRecvAcptYn_g1">이메일수신동의여부</label>
						<div class="wrap">
							<input type="text" id="emailRecvAcptYn_g1" name="emailRecvAcptYn_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="pushRecvAcptYn_g1">PUSH수신동의여부</label>
						<div class="wrap">
							<input type="text" id="pushRecvAcptYn_g1" name="pushRecvAcptYn_g1" />
						</div>
					</div>
					<div class="item">
					</div>
				</div>
				<div class="cont-item-row cont-item-row-btn right">
					<button id="saveBtn" name="saveBtn" class="btn default" onclick="MemberPop.fnSave();"><span>저장</span></button>
					<button id="delBtn" name="delBtn" class="btn default" onclick="MemberPop.fnDelete();"><span>삭제</span></button>
					<button class="btn write default" onclick="MemberPop.fnClose();"><span>닫기</span></button>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
var MemberPop = new $W.load("divMemberPop");
MemberPop.ready(function(){
	//
});

MemberPop.fnOpen = function(mode, params, func) {
	clearObjects("divMemberPop");
	MemberPop.mode = mode;
	if (!isEmpty(func)){
		MemberPop.func = func;
	}
	setObjVal({"useYn_g1":"Y"});

	//draw popup
	layerToggle("divMemberPop",{"mode":1,"top":130,"scrollYn":"Y"});

	readOnlyTrue(["mbrId_g1"]);
	if(mode == "MODIFY") {
		var url = "/app/member/getMember.do";
		var map = httpSend(url, params);
		if (!isEmpty(map)){
			let chgData = chgMapKey(map,"_g1");
			setObjVal(chgData);
		}else{
			alert("자료가 존재하지 않습니다.");
		}

		displayTrue(["delBtn"]);
		getElement("mbrLvlCd_g1").focus();
	}else{
		readOnlyFalse(["mbrId_g1"]);
		displayFalse(["delBtn"]);
	}
};

MemberPop.fnSave = function(){

	var valid = 0 || [
		["mbrId_g1","","자료(멤버ID)를 확인하세요."]
		,["mbrLvlCd_g1","","자료(멤버등급코드)를 확인하세요."]
		,["mbrDivCd_g1","","자료(멤버구분코드)를 확인하세요."]
		,["phoneNo_g1","","자료(폰번호)를 확인하세요."]
		,["email_g1","","자료(이메일)를 확인하세요."]
		,["birthYmd_g1","","자료(생년월일)를 확인하세요."]
		,["sexDivCd_g1","","자료(성별구분코드)를 확인하세요."]
		,["cntryCd_g1","","자료(국가코드)를 확인하세요."]
		,["compId_g1","","자료(업체ID)를 확인하세요."]
		,["signupDtm_g1","","자료(가입일시)를 확인하세요."]
		,["zipCd_g1","","자료(우편번호)를 확인하세요."]
		,["addr_g1","","자료(주소)를 확인하세요."]
		,["dtlAddr_g1","","자료(상세주소)를 확인하세요."]
		,["dtlAddr2_g1","","자료(상세주소2)를 확인하세요."]
		,["signupPathCd_g1","","자료(가입경로코드)를 확인하세요."]
		,["latestAccChanCd_g1","","자료(최근접속채널코드)를 확인하세요."]
		,["lastAccDtm_g1","","자료(최종접속일시)를 확인하세요."]
		,["latestAccYmd_g1","","자료(최근접속년월일)를 확인하세요."]
		,["smsRecvAcptYn_g1","","자료(SMS수신동의여부)를 확인하세요."]
		,["emailRecvAcptYn_g1","","자료(이메일수신동의여부)를 확인하세요."]
		,["pushRecvAcptYn_g1","","자료(PUSH수신동의여부)를 확인하세요."]

		];
	if (checkValid( valid )==false) return;

	var ds  = getEleToBDataSet("divMemberPop");
	var url = "/app/member/updateMember.do";
	if (MemberPop.mode=="CREATE"){
		url = "/app/member/insertMember.do";
	}

	//data key change
	var sData = chgBackMapKey(ds.getRow(0),"_g1");
	var map = httpSend(url, sData);
	if (!isEmpty(map) && !isEmpty(map["resultCd"])){
		if (map["resultCd"] != "Y"){
			alert(map["resultMsg"]);
			return false;
		}
		if (!isEmpty(MemberPop.func)){
			MemberPop.func();
			MemberPop.fnClose();
		}
	}else{
		alert("작업중 오류가 발생했습니다.");
	}

};

MemberPop.fnDelete = function(){
	if (MemberPop.mode != "MODIFY"){
		alert("조회후 삭제하세요.");
		return false;
	}
	if ( confirm("자료를 삭제하시겠습니까?")==false ) return;

	var url = "/app/member/deleteMember.do";
	var params = {};
	params["mbrId"] = getElement("mbrId_g1").value;

	var map = httpSend(url, params);
	if (!isEmpty(map) && !isEmpty(map["resultCd"])){
		if (map["resultCd"] != "Y"){
			alert(map["resultMsg"]);
			return false;
		}
		if (!isEmpty(MemberPop.func)){
			MemberPop.func();
			MemberPop.fnClose();
		}
	}else{
		alert("작업중 오류가 발생했습니다.");
	}
};

MemberPop.fnClose = function(){
	layerToggle("divMemberPop",{"mode":0});
};
</script>
