<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="app/common/head" th:remove="tag"></th:block>
<script language="javascript" type="text/javascript">
window.onload = function() {
	//
}

//page
var pageClsMember = new pageCls("dvMemberPageList",fnGetList,"totalCnt");

function fnGetList(){
	var params = {};
	if (isEmpty(getEVal("mbrId"))==false) params["mbrId"] = getEVal("mbrId");
	if (isEmpty(getEVal("mbrLvlCd"))==false) params["mbrLvlCd"] = getEVal("mbrLvlCd");
	if (isEmpty(getEVal("mbrDivCd"))==false) params["mbrDivCd"] = getEVal("mbrDivCd");
	if (isEmpty(getEVal("phoneNo"))==false) params["phoneNo"] = getEVal("phoneNo");
	if (isEmpty(getEVal("email"))==false) params["email"] = getEVal("email");
	if (isEmpty(getEVal("birthYmd"))==false) params["birthYmd"] = getEVal("birthYmd");
	if (isEmpty(getEVal("sexDivCd"))==false) params["sexDivCd"] = getEVal("sexDivCd");
	if (isEmpty(getEVal("cntryCd"))==false) params["cntryCd"] = getEVal("cntryCd");
	if (isEmpty(getEVal("compId"))==false) params["compId"] = getEVal("compId");
	if (isEmpty(getEVal("signupDtm"))==false) params["signupDtm"] = getEVal("signupDtm");
	if (isEmpty(getEVal("zipCd"))==false) params["zipCd"] = getEVal("zipCd");
	if (isEmpty(getEVal("addr"))==false) params["addr"] = getEVal("addr");
	if (isEmpty(getEVal("dtlAddr"))==false) params["dtlAddr"] = getEVal("dtlAddr");
	if (isEmpty(getEVal("dtlAddr2"))==false) params["dtlAddr2"] = getEVal("dtlAddr2");
	if (isEmpty(getEVal("signupPathCd"))==false) params["signupPathCd"] = getEVal("signupPathCd");
	if (isEmpty(getEVal("latestAccChanCd"))==false) params["latestAccChanCd"] = getEVal("latestAccChanCd");
	if (isEmpty(getEVal("lastAccDtm"))==false) params["lastAccDtm"] = getEVal("lastAccDtm");
	if (isEmpty(getEVal("latestAccYmd"))==false) params["latestAccYmd"] = getEVal("latestAccYmd");
	if (isEmpty(getEVal("smsRecvAcptYn"))==false) params["smsRecvAcptYn"] = getEVal("smsRecvAcptYn");
	if (isEmpty(getEVal("emailRecvAcptYn"))==false) params["emailRecvAcptYn"] = getEVal("emailRecvAcptYn");
	if (isEmpty(getEVal("pushRecvAcptYn"))==false) params["pushRecvAcptYn"] = getEVal("pushRecvAcptYn");
	//page set
	params = pageClsMember.getPageInfo(params);

	var url = "/app/member/getMemberPageList.do";
	//add page
	var rObj = httpSend(url,params);
	var ds = new BDataSet(rObj["payloads"]);
	
	var vArr = ["mbrId","mbrLvlCd","mbrDivCd","phoneNo","email","birthYmd","sexDivCd","cntryCd","compId","signupDtm","zipCd","addr","dtlAddr","dtlAddr2","signupPathCd","latestAccChanCd","lastAccDtm","latestAccYmd","smsRecvAcptYn","emailRecvAcptYn","pushRecvAcptYn"];
	setDrawTbl("tblIdxList","dvTrList",vArr,ds,21);
	pageClsMember.setTotalRowsReload(rObj["totalRows"]);
}

function fnXlsMemberDown(){
	var url = "/app/member/getMemberExcelDown.do";
	var paramXls = {};
	if (isEmpty(getEVal("mbrId"))==false) paramXls["mbrId"] = getEVal("mbrId");
	if (isEmpty(getEVal("mbrLvlCd"))==false) paramXls["mbrLvlCd"] = getEVal("mbrLvlCd");
	if (isEmpty(getEVal("mbrDivCd"))==false) paramXls["mbrDivCd"] = getEVal("mbrDivCd");
	if (isEmpty(getEVal("phoneNo"))==false) paramXls["phoneNo"] = getEVal("phoneNo");
	if (isEmpty(getEVal("email"))==false) paramXls["email"] = getEVal("email");
	if (isEmpty(getEVal("birthYmd"))==false) paramXls["birthYmd"] = getEVal("birthYmd");
	if (isEmpty(getEVal("sexDivCd"))==false) paramXls["sexDivCd"] = getEVal("sexDivCd");
	if (isEmpty(getEVal("cntryCd"))==false) paramXls["cntryCd"] = getEVal("cntryCd");
	if (isEmpty(getEVal("compId"))==false) paramXls["compId"] = getEVal("compId");
	if (isEmpty(getEVal("signupDtm"))==false) paramXls["signupDtm"] = getEVal("signupDtm");
	if (isEmpty(getEVal("zipCd"))==false) paramXls["zipCd"] = getEVal("zipCd");
	if (isEmpty(getEVal("addr"))==false) paramXls["addr"] = getEVal("addr");
	if (isEmpty(getEVal("dtlAddr"))==false) paramXls["dtlAddr"] = getEVal("dtlAddr");
	if (isEmpty(getEVal("dtlAddr2"))==false) paramXls["dtlAddr2"] = getEVal("dtlAddr2");
	if (isEmpty(getEVal("signupPathCd"))==false) paramXls["signupPathCd"] = getEVal("signupPathCd");
	if (isEmpty(getEVal("latestAccChanCd"))==false) paramXls["latestAccChanCd"] = getEVal("latestAccChanCd");
	if (isEmpty(getEVal("lastAccDtm"))==false) paramXls["lastAccDtm"] = getEVal("lastAccDtm");
	if (isEmpty(getEVal("latestAccYmd"))==false) paramXls["latestAccYmd"] = getEVal("latestAccYmd");
	if (isEmpty(getEVal("smsRecvAcptYn"))==false) paramXls["smsRecvAcptYn"] = getEVal("smsRecvAcptYn");
	if (isEmpty(getEVal("emailRecvAcptYn"))==false) paramXls["emailRecvAcptYn"] = getEVal("emailRecvAcptYn");
	if (isEmpty(getEVal("pushRecvAcptYn"))==false) paramXls["pushRecvAcptYn"] = getEVal("pushRecvAcptYn");

	var params = {"xlsName":"멤버"
		,"sheetName":"시트"
		,"columnHeaders":["멤버ID","멤버등급코드","멤버구분코드","폰번호","이메일","생년월일","성별구분코드","국가코드","업체ID","가입일시","우편번호","주소","상세주소","상세주소2","가입경로코드","최근접속채널코드","최종접속일시","최근접속년월일","SMS수신동의여부","이메일수신동의여부","PUSH수신동의여부"]
		,"columnNames":["mbrId","mbrLvlCd","mbrDivCd","phoneNo","email","birthYmd","sexDivCd","cntryCd","compId","signupDtm","zipCd","addr","dtlAddr","dtlAddr2","signupPathCd","latestAccChanCd","lastAccDtm","latestAccYmd","smsRecvAcptYn","emailRecvAcptYn","pushRecvAcptYn"]
		,"condition": paramXls
	};
	var fData = mapToFormdata({"params":JSON.stringify(params)});

	getDownFile(url,fData);
}

function fnOpenDialog(mode){
	var key = "";
	if (mode == "MODIFY"){
		key = getTrKey("tblIdxList");
		if (isEmpty(key)){
			alert("수정 할 자료가 존재하지 않습니다.");
			return false;
		}
	}
	var params = {};
	if (!isEmpty(key)){
		var arr = key.split(",");
		params["mbrId"] = arr[0].trim();
	}
	MemberPop.fnOpen(mode, params, fnGetList);
}

</script>

<body><div class="wrap">
<th:block th:include="app/common/header" th:remove="tag"></th:block>
<th:block th:include="app/common/gnb" th:remove="tag"></th:block>
<main>
	<div class="sub_wrap">
		<div class="cont">
			<div class="cont-item" id="dvMemberSearch">
				<div class="cont-item-row">
					<div class="item">
						<label for="item01">검색1</label>
						<div class="wrap">
							<input type="text" name="search1" id="search1" placeholder="검색1" style="width:80%" title="검색1">
						</div>
					</div>
					<div class="item">
						<label for="item02">검색2</label>
						<div class="wrap">
							<input type="text" name="search2" id="search2" placeholder="검색2" style="width:80%" title="검색2">
						</div>
					</div>
				</div>
				<div class="cont-item-row cont-item-row-btn">
					<button type="button" class="btn primary default" onclick="fnGetList();">검색</button>
					<button type="button" class="btn white default reset" onclick="clearObjects('dvMemberSearch');">초기화</button>
				</div>
			</div>
			<div class="cont-item h728">
				<div class="bar-top">
					<div class="bar-left">
						<select class="select" onchange="pageClsMember.setPageRows(getEVal(this));">
							<option value="10" selected>10건</option>
							<option value="20">20건</option>
							<option value="30">30건</option>
							<option value="50">50건</option>
						</select>
						<div class="bar-iblock">
							<span id="totalCnt" name="totalCnt"></span>
						</div>
					</div>

					<div class="bar-right">
						<div class="pagination-next-btns">
			                <button type="button" class="btn white default" onclick="fnOpenDialog('CREATE');">신규</button>
							<button type="button" class="btn primary default" onclick="fnOpenDialog('MODIFY');">수정</button>
						</div>
					</div>
				</div>
				<table id="tblIdxList" class="gridListTable">
					<colgroup>
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
						<col style="width:10%;" />
					</colgroup>
					<thead>
						<tr>
							<th scope="col">멤버ID</th>
							<th scope="col">멤버등급코드</th>
							<th scope="col">멤버구분코드</th>
							<th scope="col">폰번호</th>
							<th scope="col">이메일</th>
							<th scope="col">생년월일</th>
							<th scope="col">성별구분코드</th>
							<th scope="col">국가코드</th>
							<th scope="col">업체ID</th>
							<th scope="col">가입일시</th>
							<th scope="col">우편번호</th>
							<th scope="col">주소</th>
							<th scope="col">상세주소</th>
							<th scope="col">상세주소2</th>
							<th scope="col">가입경로코드</th>
							<th scope="col">최근접속채널코드</th>
							<th scope="col">최종접속일시</th>
							<th scope="col">최근접속년월일</th>
							<th scope="col">SMS수신동의여부</th>
							<th scope="col">이메일수신동의여부</th>
							<th scope="col">PUSH수신동의여부</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
				<div id="dvTrList" style="display:none;">
				<!-- <tr key='{{mbrId}}' ondblclick='fnOpenDialog("MODIFY");'>
						<td>{{mbrId}}</td>
						<td>{{mbrLvlCd}}</td>
						<td>{{mbrDivCd}}</td>
						<td>{{phoneNo}}</td>
						<td>{{email}}</td>
						<td>{{birthYmd}}</td>
						<td>{{sexDivCd}}</td>
						<td>{{cntryCd}}</td>
						<td>{{compId}}</td>
						<td>{{signupDtm}}</td>
						<td>{{zipCd}}</td>
						<td>{{addr}}</td>
						<td>{{dtlAddr}}</td>
						<td>{{dtlAddr2}}</td>
						<td>{{signupPathCd}}</td>
						<td>{{latestAccChanCd}}</td>
						<td>{{lastAccDtm}}</td>
						<td>{{latestAccYmd}}</td>
						<td>{{smsRecvAcptYn}}</td>
						<td>{{emailRecvAcptYn}}</td>
						<td>{{pushRecvAcptYn}}</td>
					 </tr> -->
				</div>

				<div id="dvMemberPageList" class="pagination"></div>
			</div>
		</div>
	</div>

<th:block th:include="app/member/memberPop" th:remove="tag"></th:block>

</main>
<th:block th:include="app/common/footer" th:remove="tag"></th:block>
</div></body>
</html>
