<div id="divUserCertPop" class="sub_wrap" style="display:none;width:92%" title="사용자인증 정보">
	<div class="cont">
		<div class="cont-item cont-item01">
			<div class="cont-item-row item-title">
				<h4>사용자인증 등록</h4>
			</div>
			<div class="cont-item-wrap">
				<div class="cont-item-row border-top">
					<div class="item">
						<label for="userCertId_g1">사용자인증ID</label>
						<div class="wrap">
							<input type="text" id="userCertId_g1" name="userCertId_g1" />
						</div>
					</div>
					<div class="item">
						<label for="userId_g1">사용자ID</label>
						<div class="wrap">
							<input type="text" id="userId_g1" name="userId_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="certMethCd_g1">인증수단코드[CM03]</label>
						<div class="wrap">
							<input type="text" id="certMethCd_g1" name="certMethCd_g1" />
						</div>
					</div>
					<div class="item">
						<label for="userCertKey_g1">사용자인증키</label>
						<div class="wrap">
							<input type="text" id="userCertKey_g1" name="userCertKey_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="certFrDtm_g1">인증시작일시</label>
						<div class="wrap">
							<input type="text" id="certFrDtm_g1" name="certFrDtm_g1" />
						</div>
					</div>
					<div class="item">
						<label for="certToDtm_g1">인증종료일시</label>
						<div class="wrap">
							<input type="text" id="certToDtm_g1" name="certToDtm_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="certSendDtm_g1">인증발송일시</label>
						<div class="wrap">
							<input type="text" id="certSendDtm_g1" name="certSendDtm_g1" />
						</div>
					</div>
					<div class="item">
						<label for="certCfmDtm_g1">인증확정일시</label>
						<div class="wrap">
							<input type="text" id="certCfmDtm_g1" name="certCfmDtm_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="certCfmYn_g1">인증확정여부</label>
						<div class="wrap">
							<input type="text" id="certCfmYn_g1" name="certCfmYn_g1" />
						</div>
					</div>
					<div class="item">
					</div>
				</div>
				<div class="cont-item-row cont-item-row-btn right">
					<button id="saveBtn" name="saveBtn" class="btn default" onclick="UserCertPop.fnSave();"><span>저장</span></button>
					<button id="delBtn" name="delBtn" class="btn default" onclick="UserCertPop.fnDelete();"><span>삭제</span></button>
					<button class="btn write default" onclick="UserCertPop.fnClose();"><span>닫기</span></button>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
var UserCertPop = new $W.load("divUserCertPop");
UserCertPop.ready(function(){
	//
});

UserCertPop.fnOpen = function(mode, params, func) {
	clearObjects("divUserCertPop");
	UserCertPop.mode = mode;
	if (!isEmpty(func)){
		UserCertPop.func = func;
	}
	setObjVal({"useYn_g1":"Y"});

	//draw popup
	layerToggle("divUserCertPop",{"mode":1,"top":130,"scrollYn":"Y"});

	readOnlyTrue(["userCertId_g1"]);
	if(mode == "MODIFY") {
		var url = "/app/userCert/getUserCert.do";
		var map = httpSend(url, params);
		if (!isEmpty(map)){
			let chgData = chgMapKey(map,"_g1");
			setObjVal(chgData);
		}else{
			alert("자료가 존재하지 않습니다.");
		}

		displayTrue(["delBtn"]);
		getElement("userId_g1").focus();
	}else{
		readOnlyFalse(["userCertId_g1"]);
		displayFalse(["delBtn"]);
	}
};

UserCertPop.fnSave = function(){

	var valid = 0 || [
		["userCertId_g1","","자료(사용자인증ID)를 확인하세요."]
		,["userId_g1","","자료(사용자ID)를 확인하세요."]
		,["certMethCd_g1","","자료(인증수단코드[CM03])를 확인하세요."]
		,["userCertKey_g1","","자료(사용자인증키)를 확인하세요."]
		,["certFrDtm_g1","","자료(인증시작일시)를 확인하세요."]
		,["certToDtm_g1","","자료(인증종료일시)를 확인하세요."]
		,["certSendDtm_g1","","자료(인증발송일시)를 확인하세요."]
		,["certCfmDtm_g1","","자료(인증확정일시)를 확인하세요."]
		,["certCfmYn_g1","","자료(인증확정여부)를 확인하세요."]

		];
	if (checkValid( valid )==false) return;

	var ds  = getEleToBDataSet("divUserCertPop");
	var url = "/app/userCert/updateUserCert.do";
	if (UserCertPop.mode=="CREATE"){
		url = "/app/userCert/insertUserCert.do";
	}

	//data key change
	var sData = chgBackMapKey(ds.getRow(0),"_g1");
	var map = httpSend(url, sData);
	if (!isEmpty(map) && !isEmpty(map["resultCd"])){
		if (map["resultCd"] != "Y"){
			alert(map["resultMsg"]);
			return false;
		}
		if (!isEmpty(UserCertPop.func)){
			UserCertPop.func();
			UserCertPop.fnClose();
		}
	}else{
		alert("작업중 오류가 발생했습니다.");
	}

};

UserCertPop.fnDelete = function(){
	if (UserCertPop.mode != "MODIFY"){
		alert("조회후 삭제하세요.");
		return false;
	}
	if ( confirm("자료를 삭제하시겠습니까?")==false ) return;

	var url = "/app/userCert/deleteUserCert.do";
	var params = {};
	params["userCertId"] = getElement("userCertId_g1").value;

	var map = httpSend(url, params);
	if (!isEmpty(map) && !isEmpty(map["resultCd"])){
		if (map["resultCd"] != "Y"){
			alert(map["resultMsg"]);
			return false;
		}
		if (!isEmpty(UserCertPop.func)){
			UserCertPop.func();
			UserCertPop.fnClose();
		}
	}else{
		alert("작업중 오류가 발생했습니다.");
	}
};

UserCertPop.fnClose = function(){
	layerToggle("divUserCertPop",{"mode":0});
};
</script>
