<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="app/common/head" th:remove="tag"></th:block>
<script language="javascript" type="text/javascript">
window.onload = function() {
	//
}

//page
var pageClsCartIdInfo = new pageCls("dvCartIdInfoPageList",fnGetList,"totalCnt");

function fnGetList(){
	var params = {};
	if (isEmpty(getEVal("cartId"))==false) params["cartId"] = getEVal("cartId");
	if (isEmpty(getEVal("connIp"))==false) params["connIp"] = getEVal("connIp");
	//page set
	params = pageClsCartIdInfo.getPageInfo(params);

	var url = "/app/cartIdInfo/getCartIdInfoPageList.do";
	//add page
	var rObj = httpSend(url,params);
	var ds = new BDataSet(rObj["payloads"]);
	
	var vArr = ["cartId","connIp"];
	setDrawTbl("tblIdxList","dvTrList",vArr,ds,2);
	pageClsCartIdInfo.setTotalRowsReload(rObj["totalRows"]);
}

function fnXlsCartIdInfoDown(){
	var url = "/app/cartIdInfo/getCartIdInfoExcelDown.do";
	var paramXls = {};
	if (isEmpty(getEVal("cartId"))==false) paramXls["cartId"] = getEVal("cartId");
	if (isEmpty(getEVal("connIp"))==false) paramXls["connIp"] = getEVal("connIp");

	var params = {"xlsName":"카트고유번호정보"
		,"sheetName":"시트"
		,"columnHeaders":["카트ID","등록일시"]
		,"columnNames":["cartId","connIp"]
		,"condition": paramXls
	};
	var fData = mapToFormdata({"params":JSON.stringify(params)});

	getDownFile(url,fData);
}

function fnOpenDialog(mode){
	var key = "";
	if (mode == "MODIFY"){
		key = getTrKey("tblIdxList");
		if (isEmpty(key)){
			alert("수정 할 자료가 존재하지 않습니다.");
			return false;
		}
	}
	var params = {};
	if (!isEmpty(key)){
		var arr = key.split(",");
		params["cartId"] = arr[0].trim();
	}
	CartIdInfoPop.fnOpen(mode, params, fnGetList);
}

</script>

<body><div class="wrap">
<th:block th:include="app/common/header" th:remove="tag"></th:block>
<th:block th:include="app/common/gnb" th:remove="tag"></th:block>
<main>
	<div class="sub_wrap">
		<div class="cont">
			<div class="cont-item" id="dvCartIdInfoSearch">
				<div class="cont-item-row">
					<div class="item">
						<label for="item01">검색1</label>
						<div class="wrap">
							<input type="text" name="search1" id="search1" placeholder="검색1" style="width:80%" title="검색1">
						</div>
					</div>
					<div class="item">
						<label for="item02">검색2</label>
						<div class="wrap">
							<input type="text" name="search2" id="search2" placeholder="검색2" style="width:80%" title="검색2">
						</div>
					</div>
				</div>
				<div class="cont-item-row cont-item-row-btn">
					<button type="button" class="btn primary default" onclick="fnGetList();">검색</button>
					<button type="button" class="btn white default reset" onclick="clearObjects('dvCartIdInfoSearch');">초기화</button>
				</div>
			</div>
			<div class="cont-item h728">
				<div class="bar-top">
					<div class="bar-left">
						<select class="select" onchange="pageClsCartIdInfo.setPageRows(getEVal(this));">
							<option value="10" selected>10건</option>
							<option value="20">20건</option>
							<option value="30">30건</option>
							<option value="50">50건</option>
						</select>
						<div class="bar-iblock">
							<span id="totalCnt" name="totalCnt"></span>
						</div>
					</div>

					<div class="bar-right">
						<div class="pagination-next-btns">
			                <button type="button" class="btn white default" onclick="fnOpenDialog('CREATE');">신규</button>
							<button type="button" class="btn primary default" onclick="fnOpenDialog('MODIFY');">수정</button>
						</div>
					</div>
				</div>
				<table id="tblIdxList" class="gridListTable">
					<colgroup>
						<col style="width:10%;" />
						<col style="width:10%;" />
					</colgroup>
					<thead>
						<tr>
							<th scope="col">카트ID</th>
							<th scope="col">등록일시</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
				<div id="dvTrList" style="display:none;">
				<!-- <tr key='{{cartId}}' ondblclick='fnOpenDialog("MODIFY");'>
						<td>{{cartId}}</td>
						<td>{{connIp}}</td>
					 </tr> -->
				</div>

				<div id="dvCartIdInfoPageList" class="pagination"></div>
			</div>
		</div>
	</div>

<th:block th:include="app/cartIdInfo/cartIdInfoPop" th:remove="tag"></th:block>

</main>
<th:block th:include="app/common/footer" th:remove="tag"></th:block>
</div></body>
</html>
