<div id="divProdClassifLangPop" class="sub_wrap" style="display:none;width:92%" title="상품분류_언어 정보">
	<div class="cont">
		<div class="cont-item cont-item01">
			<div class="cont-item-row item-title">
				<h4>상품분류_언어 등록</h4>
			</div>
			<div class="cont-item-wrap">
				<div class="cont-item-row border-top">
					<div class="item">
						<label for="prodClassifId_g1">상품분류ID</label>
						<div class="wrap">
							<input type="text" id="prodClassifId_g1" name="prodClassifId_g1" />
						</div>
					</div>
					<div class="item">
						<label for="langCd_g1">언어코드</label>
						<div class="wrap">
							<input type="text" id="langCd_g1" name="langCd_g1" />
						</div>
					</div>
				</div>
				<div class="cont-item-row">
					<div class="item">
						<label for="prodClassifNm_g1">상품분류명</label>
						<div class="wrap">
							<input type="text" id="prodClassifNm_g1" name="prodClassifNm_g1" />
						</div>
					</div>
					<div class="item">
						<h5>사용여부</h5>
						<div class="wrap">
							<label class="rb" for="useYn_Y">사용
								<input type="radio" name="useYn_g1" id="useYn_Y" value="Y" checked="checked">
								<span class="checkmark"></span>
							</label>
							<label class="rb" for="useYn_N">미사용
								<input type="radio" name="useYn_g1" id="useYn_N" value="N">
								<span class="checkmark"></span>
							</label>
						</div>
					</div>
				</div>
				<div class="cont-item-row cont-item-row-btn right">
					<button id="saveBtn" name="saveBtn" class="btn default" onclick="ProdClassifLangPop.fnSave();"><span>저장</span></button>
					<button id="delBtn" name="delBtn" class="btn default" onclick="ProdClassifLangPop.fnDelete();"><span>삭제</span></button>
					<button class="btn write default" onclick="ProdClassifLangPop.fnClose();"><span>닫기</span></button>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
var ProdClassifLangPop = new $W.load("divProdClassifLangPop");
ProdClassifLangPop.ready(function(){
	//
});

ProdClassifLangPop.fnOpen = function(mode, params, func) {
	clearObjects("divProdClassifLangPop");
	ProdClassifLangPop.mode = mode;
	if (!isEmpty(func)){
		ProdClassifLangPop.func = func;
	}
	setObjVal({"useYn_g1":"Y"});

	//draw popup
	layerToggle("divProdClassifLangPop",{"mode":1,"top":130,"scrollYn":"Y"});

	readOnlyTrue(["prodClassifId_g1"]);
	if(mode == "MODIFY") {
		var url = "/app/prodClassifLang/getProdClassifLang.do";
		var map = httpSend(url, params);
		if (!isEmpty(map)){
			let chgData = chgMapKey(map,"_g1");
			setObjVal(chgData);
		}else{
			alert("자료가 존재하지 않습니다.");
		}

		displayTrue(["delBtn"]);
		getElement("langCd_g1").focus();
	}else{
		readOnlyFalse(["prodClassifId_g1"]);
		displayFalse(["delBtn"]);
	}
};

ProdClassifLangPop.fnSave = function(){

	var valid = 0 || [
		["prodClassifId_g1","","자료(상품분류ID)를 확인하세요."]
		,["langCd_g1","","자료(언어코드)를 확인하세요."]
		,["prodClassifNm_g1","","자료(상품분류명)를 확인하세요."]
		,["useYn_g1","","자료(사용여부)를 확인하세요."]

		];
	if (checkValid( valid )==false) return;

	var ds  = getEleToBDataSet("divProdClassifLangPop");
	var url = "/app/prodClassifLang/updateProdClassifLang.do";
	if (ProdClassifLangPop.mode=="CREATE"){
		url = "/app/prodClassifLang/insertProdClassifLang.do";
	}

	//data key change
	var sData = chgBackMapKey(ds.getRow(0),"_g1");
	var map = httpSend(url, sData);
	if (!isEmpty(map) && !isEmpty(map["resultCd"])){
		if (map["resultCd"] != "Y"){
			alert(map["resultMsg"]);
			return false;
		}
		if (!isEmpty(ProdClassifLangPop.func)){
			ProdClassifLangPop.func();
			ProdClassifLangPop.fnClose();
		}
	}else{
		alert("작업중 오류가 발생했습니다.");
	}

};

ProdClassifLangPop.fnDelete = function(){
	if (ProdClassifLangPop.mode != "MODIFY"){
		alert("조회후 삭제하세요.");
		return false;
	}
	if ( confirm("자료를 삭제하시겠습니까?")==false ) return;

	var url = "/app/prodClassifLang/deleteProdClassifLang.do";
	var params = {};
	params["prodClassifId"] = getElement("prodClassifId_g1").value;

	var map = httpSend(url, params);
	if (!isEmpty(map) && !isEmpty(map["resultCd"])){
		if (map["resultCd"] != "Y"){
			alert(map["resultMsg"]);
			return false;
		}
		if (!isEmpty(ProdClassifLangPop.func)){
			ProdClassifLangPop.func();
			ProdClassifLangPop.fnClose();
		}
	}else{
		alert("작업중 오류가 발생했습니다.");
	}
};

ProdClassifLangPop.fnClose = function(){
	layerToggle("divProdClassifLangPop",{"mode":0});
};
</script>
